[2016-05-18 07:12] softlion opened #4 "Google cast: assigning Logger.SharedInstance.Delegate crashes demo app in DeviceScanner constructor"
In the demo app, add these lines before the line new DeviceScanner() in CastViewController:

[code]

and add this class:

[code]

It crashes:

[code]

[2016-05-18 18:02] scordonnier opened #5 "Google MobileAds / Bad BaseType for the SearchRequest interface"
The issue and the solution are described here :

https://forums.xamarin.com/discussion/61831/google-mobile-ads-ios-unable-to-load-searchrequest#latest

[2016-05-19 00:14] SotoiGhost commented on #5
Hi @scordonnier.

Thanks for leaving a sample code and the solution too in Xamarin Forums, I'll review the code and, if everything looks ok, I'll apply the solution.

[2016-05-20 17:16] SotoiGhost commented on #5
Waiting for approval of Pull request #7 to fix this issue.

[2016-05-20 19:12] SotoiGhost commented on #4
Confirmed. It crashes when you assign Logger delegate and instante the DeviceScanner

[2016-05-23 20:31] SotoiGhost commented on #5
Pull request #7 accepted, fix will be available on G.MobileAds v7.7.1.1

[2016-05-23 20:31] #5 closed

[2016-05-25 16:52] JamesRoche opened #9 "Unable to use on SpriteKit project, causes native linking to fail"
Unable to use on Google Ads on SpriteKit project, causes native linking to fail

Trying o use on a standard new SpriteKit project but its causing the following errors on build. This only applies on physical devices, simulator is unaffected.

		clang: error: linker command failed with exit code 1 (use -v to see invocation)

MTOUCH: error MT5211: Native linking failed, undefined Objective-C class: C

[2016-05-25 20:07] scordonnier commented on #9
I had the same issue last week when I tried to recompile the source code I had downloaded from GitHub.

I've solved the issue by modifying the file named "GoogleMobileAds.linkwith.cs" and by adding "QuartzCore" in the framework list (cf. below).

`[assembly: LinkWith ("GoogleMobileAds", LinkTarget.ArmV7 | LinkTarget.ArmV7s | LinkTarget.Arm64 | LinkTarget.Simulator | LinkTarget.Simulator64, LinkerF

[2016-05-25 20:09] JamesRoche commented on #9
Seriously appreciate the help, i am very new to this low level stuff though. I was trying doc smile it from the source using the help on the ready but got stuck with the cake script. Any chance you can email me over your working copy? me@james-roche.co.uk would save me lots of trouble!

[2016-06-02 16:56] albertoms opened #10 "Lack of support for ARMv7s architecture in Google.iOS.GoogleCloudMessaging"
Hi,

Xamarin Studio could not build my Xamarin iOS project. I get this error:
[code]
Are you planning to adding support for ARMv7s for this component?

[2016-06-02 17:15] SotoiGhost commented on #10
Depends on Google, but Google removed some time ago the support for Armv7s arch. If they support it again, we will too.

[2016-06-02 17:15] #10 closed

[2016-06-08 02:32] mribbons opened #11 "Xamarin.Google.iOS.SignIn - SignInUser() Launches safari"
Xamarin.Google.iOS.SignIn 3.0.0
iPad 2 (Simulator) iOS 9.3

When I call
[code]

Safari is launched.

I have read that this is no longer permissible when submitting to the App Store.

Apparently there is a checkGoogleSignInAppInstalled() method in the Google SDK, but looking at the source code for it:

[code]

The method is now obsolete.

What is the correct way to check for the google sign in appl

[2016-06-10 00:59] mribbons commented on #11
This is a question for Google rather than Xamarin.

It's probably not possible to use the Sign in app (Whatever that is) on ios simulators because they don't have the app store.

On a physical device I still get the browser popup, even with these options:
[code]

Despite the fact that I have several google apps installed.

Further investigation required, but the question is basically invalid.

[2016-06-10 00:59] #11 closed

[2016-06-15 01:15] mribbons opened #14 "Unable to build Google.Core"
Hi,
I'm trying to build on Windows.

VS 2015 (14.0.25123.00 Update 2)
Xamarin.iOS 9.6.1.8 (3a25bf1)

build.ps1 seems to work:
[code]
No errors.

When I open up Google.Core.sln and build, I get a lot of errors with *.g.cs files:

I have tried deleting the files, clean, build, to no avail.

[code]

[2016-06-15 01:20] Redth commented on #14
@mribbons unfortunately, this isn't going to build on Windows for a number of reasons.  We use cocoapods (which afaik does not work on Windows) to resolve the dependencies from Google, and our binding projects themselves do not compile properly on Windows at this point in time.

Please try building with a Mac instead.

[2016-06-15 01:20] #14 closed

[2016-06-15 01:34] mribbons opened #15 "Unable to build externals - osx"
I have set up cocoapods as per the readme:

[code]

Then when I try to build:
[code]

[2016-06-16 19:23] eclipsed4utoo opened #16 "Analytics - kGAIUserId is not mapped in GaiConstants"
Google allows set a user ID for the tracker. This value is not in the GaiConstants class.

https://developers.google.com/analytics/devguides/collection/ios/v3/user-id

[2016-06-16 19:47] SotoiGhost commented on #16
Hi! Yes, we noticed this a couple of days ago, we are working with an update to add some missing constants. The version with the fix will be 3.14.0.7

Meanwhile, the value of the UserId constant is "&uid" (without quotes) if you are planning to use it.

[2016-06-16 19:54] eclipsed4utoo commented on #16
I thought the constant was "kGAIUserId". "&uid" is used in Android. Figured iOS would follow the same "kGAI-" constants that are used for the other constants.

[2016-06-16 20:12] SotoiGhost commented on #16
Well, seems that Google changed the values because all the iOS constants values follow the "&**something**" pattern.

[2016-06-17 22:58] mribbons commented on #15
Hi,
It seems as though nuget.exe is required in the tools folder of the sub solution we are trying to build.

In addition, I had to use nuget 2.8.6 to avoid a timezone offset issue:
https://bugzilla.xamarin.com/show_bug.cgi?id=37970

eg
[code]

```#tools``` and ```#addin``` lines from common.cake now work, but I get a new error:

[code]

[2016-06-17 23:10] mribbons commented on #15
The ```--no-integrate``` problem gets a mention here:
https://github.com/CocoaPods/CocoaPods/issues/5240
https://bugzilla.xamarin.com/show_bug.cgi?id=40822

[2016-06-17 23:36] SotoiGhost commented on #15
Hi @mribbons!

We are working to fix the issue about the Timezone, we have been having some problems with NuGet, Mono and timespans and timezones.

About pods, we haven't merged the update to support Pods v1.x, I'm working on that.

If you want to see how the Podfile and Makefile look like with the update, you can visit my branch where I'm working with the update:

https://github.com/SotoiGhost/Go

[2016-06-17 23:53] mribbons commented on #15
Hi @SotoiGhost, I see, thanks.

When I checkout your pod-update branch I still run into more issues, is it a work in progress?

[code]

I have tried ```sudo gem install cocoapods -v 1.0.0``` and without the -v which defaults to 1.0.1.

[2016-06-18 00:17] SotoiGhost commented on #15
Oh, right.

I forgot to add the *target* section. Now cocoapods state that you need to add your own target, the implicit target was removed.

You can see this on their migration guide: http://blog.cocoapods.org/CocoaPods-1.0-Migration-Guide/

So the podfile should be like this:

[code]

I'll update my repo with this fix.

Israel Soto.

[2016-06-18 01:03] mribbons commented on #15
Great, I am now able to build Google.Core :smile:

[2016-06-18 02:17] SotoiGhost commented on #15
Cool! Glad to read that.

If you have any other doubt, let us know.

I'll close this issue.

Happy Coding!
Israel Soto.

[2016-06-18 02:17] #15 closed

[2016-06-29 20:06] ranec opened #19 "Crash when accessing Constants.TileLayerNoTile"
When you attempt to access Constants.TileLayerNoTile the application will crash. It even crashes when attempting to expand the Constants list in the debugger.

In our app we are running into this in our SyncTileLayer. If we have no reason to generate an image for the coordinates give to our Tile overload we return TileLayerNoTile. With this bug instead we just crash when we access that constant. W

[2016-06-29 20:51] ranec commented on #19
I can confirm access this constant works fine with version 1.11.1.2 of the component. Unfortunately we upgraded explicitly for SnapshotReady and that doesn't appear to be in 1.11.1.2.

[2016-07-13 00:25] azchohfi opened #22 "Google.Maps is not working on Windows anymore..."
The last version that still works is 1.10.3.0.

This are the logs:

3>  Unpacking failure reason:
3>  7-Zip 9.20  Copyright (c) 1999-2010 Igor Pavlov  2010-11-18
3>
3>  Processing archive: C:\\Users\\AlexandreChohfi\\AppData\\Local\\XamarinBuildDownloadCache\\GMaps-1.13.2.tgz
3>
3>  Extracting  /google/src/cloud/garethpearce/release_1_13_2/google3/.outs/GoogleMaps-1.13.2.tar
3>
3>  Everything is O

[2016-07-13 20:13] SotoiGhost commented on #16
Google Analytics v3.14.0.7 was released

https://components.xamarin.com/view/googleiosanalytics

Closing this issue

[2016-07-13 20:13] #16 closed

[2016-07-18 23:51] SotoiGhost commented on #4
Fix of this issue was released in version 2.10.4.1 of Google Cast

https://components.xamarin.com/view/googleioscast

[2016-07-18 23:51] #4 closed

[2016-07-19 05:23] softlion commented on #4
Nice !
Bug 41512 is non public, could you make it public ?
I have other strange issues with other codes and it may be related.

[2016-07-19 13:47] bholmes commented on #4
@softlion done

[2016-07-19 23:38] SotoiGhost commented on #9
I can reproduce this issue creating a new SpriteKit app.

Adding QuartzCore to Frameworks resolve this issue as @scordonnier said.

The fix will be released in version 7.8.1.0

[2016-07-20 03:17] SotoiGhost commented on #22
Hi @azchohfi.

As you said, seems to be related to long paths.

Please, try the following suggestions:

* Try moving the project to the root of the disk to reduce the characters length.
* If moving the solution to the root of the disk is not possible or does not solve the issue, the extraction location of files can be changed through a `.csproj` property. Add the following lines to the app's cspro

[2016-07-20 03:35] azchohfi commented on #22
Is is related to the path. The files are not corrupted. I event tried to download and extract them manually, but even WinRar warns me about the path being too long... Can this variable (XamarinBuildDownloadDir) be relative?

[2016-07-20 03:45] SotoiGhost commented on #22
Yes, `XamarinBuildDownloadDir` can be relative path.

[2016-07-20 03:48] azchohfi commented on #22
It worked <o> Thank you so much Israel!
I'm just checking if I'll have problems with my CI builds, but I think it would work.
This variable is not used on the Mac, right?

[2016-07-20 03:59] azchohfi commented on #22
Yup, everything is working. Awesome!
Should we consider this not a bug, but a known behaviour?
I mean... should I close this issue or is there anything that Xamarin can do to make this scenario easily discoverable? Because it is not trivial to do this.

[2016-07-20 03:59] SotoiGhost commented on #22
You're welcome! Glad to read that this worked for you.

And it works on both platforms. You can use this variable on Mac too.

If you have any other doubt, don't hesitate to ask.

I'll close this issue.

[2016-07-20 03:59] #22 closed

[2016-07-20 04:08] SotoiGhost commented on #22
@azchohfi on GitHub you can make a reference to an issue or pull request with the following syntax `user/repository#issueOrPRNumber`, e.g.: xamarin/GoogleApisForiOSComponents#22 (You can find more GitHub secrets [here](https://github.com/blog/967-github-secrets))

Also, let me check if we have public anything related with this somewhere.

[2016-07-20 04:28] azchohfi commented on #22
What I meant by easily discoverable was in terms of the user using Xamarin.Build Nuget Package, not the GitHub issue.
The error message is not clear (**can not open output file**). Maybe Xamarin.Build should wrap this error inside a more clear error message than **Sub items Errors: N**.
It is a common scenario, IMO. It's only a subfolder inside my User's folder:
C:\Users\MYUSERNAME\Source\Repos\GI

[2016-07-28 20:57] bbartlett commented on #9
@SotoiGhost Any idea when version 7.8.1.0 will be available?  Looks like this issue also impacts using this component in Xamarin.Forms and/or Xamarin.Forms.Maps.  (I'm hitting the same problem in a Xamarin.Forms mapping app and I'm not using SpriteKit, although I have a custom renderer for the BannerView.)  I'd prefer to not deal with the whole "cake" setup and building, but at the moment, looks l

[2016-07-29 14:40] dhaligas opened #25 "Google Maps 2.0.1"
Any plans to update to Google Maps 2.0.1?

[2016-07-31 01:11] salqadri opened #26 "Please upgrade to Google SignIn 4.0 on iOS"
This component currently uses 3.0 for iOS. But 4.0 is already out. Can we please upgrade this component?

[2016-07-31 01:43] SotoiGhost commented on #26
We are working on this. Google.SignIn depends on Google.Core but now Google.Core depends on Firebase.Analytics and Firebase.InstanceId. We are working on Firebase iOS components.

In this repo there is available an update of SignIn. You can build it by yourself for now and test it but this could not be the final version of the component. If you find anything wrong with the library, you can file an

[2016-07-31 01:43] #26 closed

[2016-08-09 22:47] SotoiGhost commented on #19
Fix is available in version 1.13.2.1

[2016-08-09 22:47] #19 closed

[2016-08-09 22:48] SotoiGhost commented on #9
Version 7.8.1.0 is available on store.

https://components.xamarin.com/view/googleiosmobileads

[2016-08-09 22:48] #9 closed

[2016-08-11 16:47] jordmax12 opened #29 "No GADRequest?"
So just trying to figure out how we can set up ads for debugging simulators/devices. Before installing this SDK, I was able to achieve that by providing a GADRequest, and setting the TestDevices string array. I do not see a way to do this now with this SDK. The Request object I have doesn't seem to have any property that we can use to support this. Can someone confirm or let me know how to achieve

[2016-08-22 05:39] DavePilks opened #30 "Update "Getting Started""
I think that someone needs to update this as it is referencing interfaces that no long exist or have been renamed.

[code]

should be

[code]

for instance.

[2016-08-22 12:11] avidan-chen opened #31 "Cannot create a new a DFPRequest in Google.MobileAds, only GADRequest"
I am trying to create an instance of DFPRequest, in order to set the customTargeting property on it (which does not exist in the base class). However, Google.MobileAds.DoubleClick.Request.GetDefaultRequest() returns the base class Google.MobileAds.Request, which is GADRequest, thus I am unable to set CustomTargeting property.

Casting Google.MobileAds.DoubleClick.Request.GetDefaultRequest() to

[2016-08-25 13:02] strillo opened #33 "Interstitial ads working on simulator but getting "Request Error: No ad to show." on device"
I'm integrating v.7.8.1.1 of the AdMob component into a Xamarin.iOS app.

I can successfully load both interstitial test and live adverts in the simulator, however keep getting a "no ads to show" error when trying the app on a real device (iPhone 6, iOS 9.3.4).

Code is:
    adInterstitial = new Interstitial("ca-app-pub-3940256099942544/4411468910"); // Google Test
    Request req = Request.GetDef

[2016-09-05 21:40] aherrick opened #34 "Xamarin.VS 4.2.0.628 Beta - Shows "Incomplete" and crashes on load"
Using the latest Xamarin beta for VS + iOS 10 crashes when attempting to run solution.

![9-5-2016 5-39-57 pm](https://cloud.githubusercontent.com/assets/586671/18257333/d21f1b30-738f-11e6-8ec0-69a1b18be347.png)

[2016-09-14 07:29] AlexandreRoba opened #35 "View Maps Stop rendering when PopOver another view controller"
Version used: 1.13.2.2
Xamarin Studio 6.1
IOs Build 9.3

Hi all,

I'm trying to display over a UIViewcontroller containing a gms map (Main) view another UIviewController (Detail) as a popover. When the popup is displayed over the Main view controller the View of the Map view stop rendering and the View render as a blank square. All other View (Buttons, labels) on the Main view display properly. On

[2016-09-14 12:39] AlexandreRoba commented on #35
PopOver segue are actually not supported on Iphone. It make sense then.

Sorry for this.

[2016-09-14 12:39] #35 closed

[2016-09-19 19:51] dhaligas commented on #25
+1

[2016-09-20 16:18] dhaligas commented on #25
+1

[2016-09-23 01:25] SotoiGhost commented on #31
This is fixed in Firebase.AdMob version 7.8.1.

[2016-09-23 01:25] #31 closed

[2016-09-29 20:09] SotoiGhost opened #39 "Split Google Places from Google Maps to make separate components"
Recently, Google split Google Places from Google Maps and made Google Places as stand-alone component. We created this to discuss the split in the future.

[2016-10-03 15:27] SotoiGhost commented on #25
Google Maps version 2.1.0 is now available in [Components Store](https://components.xamarin.com/view/googleiosmaps)

[2016-10-03 15:27] #25 closed

[2016-10-03 15:31] SotoiGhost commented on #29
Hi @jordmax12,

Can you provide a test case of what you want to achieve or paste the code that it seems to be missing?

[2016-10-04 10:20] stoffmasta opened #41 "Cant build on OSX"
Having trouble building the libraries on OSX El Capitan 10.11.6

Any help is appreciated.

STEPS
cd Google.Core
sh ../build.sh --target libs

OUTPUT

Analyzing build script...
Processing build script...
Installing tools...
Installing addins...
Compiling build script...
Environment Variables:
	Key: TERM	Value: "xterm-256color"
	Key: NUGET_EXE	Value: "/Users/zz/Downloads/GoogleApisForiOSComponents-f

[2016-10-10 15:53] bholmes commented on #41
Should be fixed by ac8a3be58851fa17c8806507bb73b349b0190140

[2016-10-10 15:53] #41 closed

[2016-10-10 15:55] bholmes commented on #29
I believe GADRequest is handled by the following...

https://github.com/xamarin/GoogleApisForiOSComponents/blob/45484d70cf5578041bafab59dd43bebcf11f5291/Google.MobileAds/source/Google.MobileAds/ApiDefinition.cs#L331

If no response on this thread after another week we should close.

[2016-10-10 16:26] modplug commented on #33
I just upgraded to 7.8.1.1 and I'm getting the same error. Any suggestions?

[2016-10-24 13:30] vcupelloni opened #44 "Could not AOT the assembly"
Adding Firebase.Analytcs, Firebase.InstanceID and Firebase.CloudMessaging from NuGet makes compilation crash with "Could not AOT the assembly '/Users/valeriocupelloni/Library/Caches/Xamarin/mtbs/builds/PlaceViewiOS/10e2454c320b774d349f7c7746b48657/obj/iPhone/Debug/build-ipad4.4-8.4/mtouch-cache/Build/Firebase.Analytics.dll"

[build_log.txt](https://github.com/xamarin/GoogleApisForiOSComponents/fil

[2016-10-24 16:23] SotoiGhost commented on #44
Hi @vcupelloni.

We are aware of this bug, the way to workaround this is by unchecking `Enable incremental builds` in **Project Options** > **iOS Build**.

To know more about this issue, you can follow this [bug](https://bugzilla.xamarin.com/show_bug.cgi?id=43689) posted in Bugzilla.

[2016-10-26 17:28] austinf opened #45 "GoogleSignIn missing Info.plist - App Store rejection"
Using version 4.0.0 my app using GoogleSignIn was rejected with message:

This bundle is invalid - The Info.plist file for /Payload/Loki.iOS.app/GoogleAuthUtilities.framework is missing or could not be read.

Invalid Bundle - The bundle at '/Payload/Loki.iOS.app/GoogleAuthUtilities.framework' does not contain a bundle executable.

[2016-10-26 17:43] austinf commented on #45
Same issue on previous 3.x version

[2016-11-01 05:33] austinf commented on #45
New version of GoogleSignIn (4.0.1) no longer depends on GoogleAuthUtilities so I'm trying to update to test if my issue goes away. I'm having a hard time linking against my build though, having not done any native/xamarin library work before.

If anyone else more setup to do so could build a new version of the component to test, I can test it.

[2016-11-01 15:31] SotoiGhost commented on #45
@austinf thanks for letting me know this. We were working on this and working on how to integrate the **.xib** file that comes in GoogleAuthUtilities, because is a not compiled interface so we needed to compile it before we add this to resources. I'll work in the update within the week.

[2016-11-02 15:27] Rao27 commented on #45
@austinf : Yesterday, I tried to upload the application to itunesconnect, but I got the same error about missing plist. When you say new version of GoogleSignIn(4.0.1) no longer depends on GoogleAuthUtilities, is it like you will not have error? and I tried to search 4.0.1 on nuget package manager but it shows only 4.0.0. How do I get the 4.0.1?

[2016-11-02 20:36] austinf commented on #45
The GoogleSignIn SDK from google is at version 4.0.1, but that hasn't been integrated or released for xamarin yet. I also don't know if it will fix the app store rejection issue, but they did remove GoogleAuthUtilities which was mentioned in the rejection message.

[2016-11-03 14:29] Rao27 commented on #45
So are you still waiting for the release from xamarin to upload the application or do you have any alternative to bypass this problem and submit it to Appstore?

[2016-11-03 14:31] austinf commented on #45
Still waiting. I tried to build it myself but I can't get the library to link with my app

[2016-11-03 20:38] GiusepeCasagrande opened #46 "App.Configure() conflicts with the default name of Xamarin.Forms initialization class."
Hello,

I was trying to use  Firebase Cloud Messaging for iOS with a Xamarin.Forms project, but got stuck at the instructions (https://components.xamarin.com/gettingstarted/firebaseioscloudmessaging) when asked to call App.Configure (); inside my AppDelegate.
After a while I figured out that
[code]

was conflicting with my Forms
[code]

I suggest to change the Firebase App name back to his origina

[2016-11-03 21:24] SotoiGhost commented on #46
Leaving the name as `FIRApp` will not satisfy the [.NET class naming convention][1]. It states:

My suggestion is to use the full namespace of **App** class:

`Firebase.Analytics.App`

Or use [C# using alias][2]:

`using FirebaseApp = Firebase.Analytics.App`

Greetings,
Israel Soto.

[1]: https://msdn.microsoft.com/en-us/library/ms229040(v=vs.110).aspx
[2]: https://msdn.microsoft.com/en-us/library

[2016-11-03 21:24] #46 closed

[2016-11-03 21:33] GiusepeCasagrande commented on #46
That's right, FIRApp was a bad suggestion.

I already renamed my Forms.App.cs to something else and solved my problem.
But it's not intuitive the way it is right now. Especially because Xamarin Studio won't suggest the namespace when trying to "fix..." and is hard to figure out that the configuration class is inside the analytics.

I have talked to more people who gave up on using this because got

[2016-11-07 17:04] Rao27 commented on #45
So, I tried new version 4.0.1 and I was successfully able to upload it to app store.

[2016-11-15 08:19] goldnarms commented on #45
Facing some mtouch issues when building for release using version 4.0.1. Is there an ETA on when the updated package will be released?

[2016-11-16 10:03] luigisaggese opened #48 "Firebase SDK Authentication missing"
There are no binding for Firebase SDK Authentication

[2016-11-24 19:34] cnordvik commented on #45
@Rao27 Any chance you can share the 4.0.1 DLL?

[2016-11-30 12:35] cnordvik commented on #45
@SotoiGhost This is blocking the AppStore release so any chance of an update here? Would be really appreciated!

[2016-11-30 13:11] eduarduamaral commented on #45
@cnordvik I installed via NuGet version 3.0.0.1 and my app came back to be approvade by the apple team. I hope this helps you, sorry for my English.

[2016-11-30 13:23] cnordvik commented on #45
@eduarduamaral Thanks, but for various reasons we must use 4.x so hopefully we can get the 4.0.1 update in NuGet as well...

[2016-12-01 05:02] SotoiGhost commented on #45
We delayed this release because Google switched to open-source versions of some dependencies of Google Sign-In v4.0.1. Because of this, Sign-In stopped working with other Firebase components. We need to update Firebase.Analytics and release Firebase.Core first to make Sign-In compatible again. This is a high prioritize.

A very big apology for all the inconveniences that this cause.

[2016-12-02 19:11] ksloginov commented on #45
@SotoiGhost
Any rough estimate of how long you think it's gonna take you guys?  I.e. is a question of hours/days/weeks/ :-( ?

[2016-12-07 23:11] jessejiang0214 opened #51 "Can we add Google Map iOS SDK Utility library to map component."
Hi Team,

We met some problems with creating a binding library for 'Google-Maps-iOS-Utils’
https://developers.google.com/maps/documentation/ios-sdk/utility/

 Can we put Google-Maps-iOS-Utils library into Google Maps for iOS component?

I have tried to build the binding library, but failed.
I have tried to use Sharpie with Cocoapod command but failed, cause Google-Maps-iOS-Utils cannot be installe

[2016-12-09 08:21] ksloginov commented on #45
Any updates on this one?

[2016-12-10 00:28] ianschmitz commented on #45
We just experienced the same App Store rejection when using Xamarin.Gogle.iOS.SignIn 4.0.0. Unable to publish our app until this is resolved. A rough timeline would be much appreciated!

[2016-12-12 10:58] luyzfernando commented on #45
Good morning, I'm having the same problem.

We were going to release an update this weekend.

Any updates on this problem?

Thank you.

[2016-12-13 20:57] cnordvik opened #52 "Upgrade Firebase Analytics to 3.4.4 due to crashes"
v3.4.2 has a serious crash bug so we need an update to 3.4.4. Can this be done?
https://groups.google.com/forum/#!topic/firebase-talk/W-gPv4tmXpw

[2016-12-15 18:03] irvinrobles28 commented on #44
@SotoiGhost pffff Gracias SOTO!!! también me paso cuando agregue mi proyecto de WatchOS con la librería "xamarin.watchos.dll" no sean manchados, no saquen bugs así :(, Saludos amigo.

[2016-12-15 20:14] #29 closed

[2016-12-15 20:14] SotoiGhost commented on #29
Closed due no response.

[2016-12-15 20:24] SotoiGhost commented on #44
@irvinrobles28 De nada Irvin! Estamos trabajando en los Alpha y Beta para ya evitar liberar bugs así en estable. Saludos amigo!

[2016-12-15 22:46] SotoiGhost commented on #45
We have made a PR (#53) that solve this problem and now is on review, hope by the next week the new version of G.SignIn will be released.

[2016-12-20 01:27] SotoiGhost commented on #52
@cnordvik Firebase Analytics version 3.5.1 has been released, please verify that everything is working now. I'll close the issue but feel free to reopening if something happens.

[2016-12-20 01:27] #52 closed

[2016-12-20 01:28] SotoiGhost commented on #48
@luigisaggese [Firebase Auth for iOS v3.0.6](https://components.xamarin.com/view/firebaseiosauth) has been released.

[2016-12-20 01:28] #48 closed

[2016-12-20 01:35] SotoiGhost commented on #45
[Google Sign-In for iOS v4.0.1.0](https://components.xamarin.com/view/googleiossignin?version=4.0.1.0) has been released. I'll close the issue but feel free to reopening if something happens.

[2016-12-20 01:35] #45 closed

[2016-12-20 23:57] declandowling commented on #51
I would really like to see this, as I want to use the clustering functionality. I have managed to achieve clustering [on Android using this library](https://github.com/sushihangover/XamarinGoogleMapClustering), but I cannot find an equivalent for iOS.

I have also attempted to implement a bindings library (first attempt), but have been unsuccessful so far.

[2016-12-22 18:14] SotoiGhost commented on #39
Google Places will be split from Google Maps

[2016-12-29 22:22] jessejiang0214 commented on #51
@declandowling Yes, I did the same thing, but failed. I hope some Xamarin Developer can help us.

[2016-12-30 10:02] hichaam2 opened #55 "Object reference not set to an instance of an object in task XamarinDownloadArchives"
Hello,

Using visual studio 2017 RC, the build is not successfull, it throws an exception in task XamarinDownloadArchives, I tried the AdMobSample project without any modification, and below the error in build log:

`5>Target "_XamarinBuildDownloadCore" in file "C:\Users\Hicham\Documents\Visual Studio 2017\Projects\GoogleApisForiOSComponents\Firebase.AdMob\samples\AdMobSample\packages\Xamarin.Buil

[2017-01-03 10:40] veryhumble opened #56 "Firebase Crash Reporting on iOS"
Would be nice to have bindings for the crash reporting feature of Firebase. Seems that Xamarin.Android has support [https://github.com/xamarin/GooglePlayServicesComponents/tree/master/firebase-crash](firebase-crash).

Is it feasible to create such a nuget package for iOS?

[2017-01-03 20:20] SotoiGhost commented on #56
@veryhumble I'm working on it right now, the binding is finished but I'm finishing with some last sh files. Hope by this week the component is released.

[2017-01-07 00:42] jamesmontemagno opened #58 "Mobile Ads: Visual Studio -> Unpacking failed."
When I add the NuGet in VS on Windows and try to build I get:

Unpacking failed. Please download 'https://dl.google.com/dl/cpdc/3605b6f6378a6399-Google-Mobile-Ads-SDK-7.13.0.tar.gz' and extract it to the 'C:\GitHub\app\packages\.xbcache\Gmbladssdk-7.13.0' directory and create an empty file called 'C:\GitHub\app\packages\.xbcache\Gmbladssdk-7.13.0.unpacked'.

If I follow these steps it works alrigh

[2017-01-09 01:58] jessejiang0214 commented on #51
@declandowling I found a repo https://github.com/NateRickard/Google-Maps-Utils-Binding ,
after I spent 2 days to convert Object-C source code to C# codes T^T

[2017-01-09 01:58] #51 closed

[2017-01-09 22:30] brenkehoe commented on #55
Same problem here:

1>Target "_XamarinBuildDownloadCore: (TargetId:73)" in file "C:\Users\xxxx\documents\visual studio 2017\Projects\ninetiesboy\packages\Xamarin.Build.Download.0.4.1\build\Xamarin.Build.Download.targets" from project "C:\Users\bren\documents\visual studio 2017\Projects\ninetiesboy\ninetiesboy\ninetiesboy.csproj" (target "_XamarinBuildDownload" depends on it):
1>Using "XamarinDownl

[2017-01-13 20:28] aphex3k opened #60 "Firebase Analytics not loading Google Tag Manager Container."
If I run firebase analytics in swift, it produces the following log:

    2017-01-13 11:57:54.248 Seamgen Test[54187:443236] GoogleTagManager info: Loading container: GTM-WMQLF7S

But running the Xamarin sample App I don't see anything alike after I added my Google services plist and container. Also don't see anything logged in GA...

[2017-01-14 00:57] aphex3k opened #61 "undefined Objective-C class: GSDK_GTMStringEncoding"
when including Xamarin.Firebase.iOS.Core as package reference Xamarin fails compiling with

    MTOUCH: error MT5211: Native linking failed, undefined Objective-C class: GSDK_GTMStringEncoding. The symbol '_OBJC_CLASS_$_GSDK_GTMStringEncoding' could not be found in any of the libraries or frameworks linked with your application.

[2017-01-15 15:39] bezineb5 opened #62 "Google Analytics: Native linking failed"
Hello,
Since I updated Xamarin.iOS, I get linking errors when compiling my project with the Google Analytics for iOS component:

[code]
(and many more)

My version of Xamarin.iOS is:
Version: 10.4.0.73 (Xamarin Studio Community)
Hash: a7f1dc3
Branch: master
Build date: 2017-01-08 14:16:01-0500

Any idea?
Thanks!
Benjamin

[2017-01-17 13:14] veryhumble commented on #56
Any news on this?

[2017-01-17 18:48] SotoiGhost commented on #56
We needed to delay the release and change the structure of the component to avoid some legal stuff. We are still working on this.

[2017-01-17 18:55] SotoiGhost commented on #61
Hi @aphex3k, can you give me a list of your NuGet and version referenced to your project?

[2017-01-17 19:02] aphex3k commented on #61
[code]

[2017-01-17 19:07] aphex3k commented on #61
You can download my test Xamarin project here: http://cloud1.codingmerc.com/test.zip

[2017-01-17 19:12] SotoiGhost commented on #61
Thx for the test case, let me review it.

[2017-01-17 20:51] SotoiGhost commented on #61
@aphex3k the problem is with Google.TagManager, seems to be not compatible with Firebase.Analytics and Firebase.Core. Google.TagManager seems to be looking for old dependencies. I will work on the update. For now TagManager is stuck. Sorry for the inconveniences that this cause.

[2017-01-18 10:26] luigisaggese commented on #56
@SotoiGhost pay attention also on DSYM upload

[2017-01-20 23:27] aphex3k commented on #61
Is there any eta for the fix available or any possibility to expedite a solution?

[2017-01-25 07:25] JichinThomas commented on #60
We have a related issue for our Xamarin Application, where despite using Firebase Analytics as a the data layer for GTM, and events trigger in Firebase, we dont see them in Google Analytics.

[2017-01-25 17:22] SotoiGhost commented on #60
We figured out that GTM is getting stripped by linker, but also, GTM v5.0.6 is not compatible with any current version of Firebase.Analytics. We are working on the update.

[2017-01-25 17:53] N-Nightingale commented on #62
I have this issue also. Has anyone found a fix or workaround?

[2017-01-26 13:52] bezineb5 commented on #62
The latest version seems to have fixed the issue:
Xamarin Studio Community
Version 6.2 (build 1778)
Installation UUID: a6600c45-6a5a-41c2-9c6b-d8e12d27d4d0
Runtime:
	Mono 4.8.0 (mono-4.8.0-branch/6f90ed1) (64-bit)
	GTK+ 2.24.23 (Raleigh theme)

	Package version: 408000472

NuGet
Version: 3.5.0.0

Xamarin.Profiler
'/Applications/Xamarin Profiler.app' not found

Apple Developer Tools
Xcode 8.2.1 (11

[2017-01-26 13:52] #62 closed

[2017-01-26 20:13] hardcodet commented on #55
Same here trying to leverage the Maps APIs:

\packages\Xamarin.Build.Download.0.4.1\build\Xamarin.Build.Download.targets(38,3): error : Object reference not set to an instance of an object.

This is a showstopper issue - I can't even open my Android/iOS projects in VS2015 anymore...
Since this component seems to be downloading stuff, is there any way to hack around this (e.g. by putting required b

[2017-01-29 09:27] JichinThomas commented on #60
@SotoiGhost Thanks for acknowledging this as a bug. Is there a broad timeline by which a fix for the GTM Component can be expected? Is the scale of the bug such that a significant fix needs to be implemented or is it possible to patch it up quickly? I ask since one of our app channels is impacted from the lack of analytics coming through in GTM.

[2017-01-30 23:40] SotoiGhost commented on #60
@JichinThomas GTM was needed to apply a significant fix to be compatible with Firebase again. The update was accepted and merge into master. By the next days the update will available on NuGet and Store.

[2017-02-02 11:10] JichinThomas commented on #60
@SotoiGhost Looks like this 5.0.8 has been released last night with your update. Looking forward to validating the fix to our scenario.

[2017-02-03 17:26] gboudreau opened #64 "TagManager 5.x: How can I specify the container ID to use?"
I have two containers my app can use: one for PROD, and one for DEV/Sandbox.
In TagManager 3.15.x, I was able to choose the container ID to use with:

    ContainerOpener.OpenContainer (tagManagerContainerId, [...])

But I can't find how to specify the Container ID with TagManager 5.x.

Thanks.

[2017-02-03 19:37] SotoiGhost commented on #61
Google Tag Manager for iOS version 5.0.8 is now live. I'll close this issue. Feel free to reopen it if the issue reappears.

[2017-02-03 19:37] #61 closed

[2017-02-09 16:22] epopov opened #65 "Can't setup Firebase analytics for iOS to report Install Referrer"
I setup Firebase analytics in my iOS Xamarin project and it reports events, but it does not report correct Install source - always says - direct, but I am sure it should be reporting "google" as a source. Also, AdWords tracking is not seeing conversions via Firebase. What am I missing?

[2017-02-15 08:49] belandsoft commented on #55
I have this problem too on VS2017 RC and latest beta xamarin

[2017-02-17 05:40] tutugeorge opened #66 "Build failure on Adding TagManager(5.0.8) Nuget pack"
When the TagManager package(5.0.8) is added to project via nuget gallery, I am getting build error with the message Error: Error executing task DetectSdkLocations: The type initializer for 'Xamarin.MacDev.AppleSdkSettings' threw an exception.

Whereas when i added Tag Manager(5.0.8) using the Components store , there is no build issues.

[2017-02-23 07:28] sureshValle commented on #56
Any updates for Firebase Crash Reporting for iOS?

[2017-02-23 07:30] sureshValle commented on #56
is it works for iOS10 iMessage extension too?

[2017-02-26 21:29] Distro2000 opened #68 "I have no events on EVENTS tab in Firebase"
1. Project in Xamarin has been created
2. Application in Firebase has been created
3. GoogleService-Info.plist has been added to the project (with BundleContent property)
4. In AppDelegate.cs - App.Configure() has been added
5. In code - Analytics.LogEvent has been added

Application is launched on iPhone 7 emulator, working properly, I can use app normally but when I navigate to Firebase Dashboar

[2017-02-27 13:04] SomeShapa commented on #61
@SotoiGhost, hi!
I've got similar error when i tried to use Remote Configs.
`C:\Program Files (x86)\MSBuild\Xamarin\iOS\Xamarin.iOS.Common.targets(696,3): error : Native linking failed, undefined Objective-C class: GSDK_PBDescriptorRoot. The symbol '_OBJC_CLASS_$_GSDK_PBDescriptorRoot' could not be found in any of the libraries or frameworks linked with your application.`

Can you help?

Log:
[cod

[2017-02-27 14:48] luigisaggese commented on #56
Any news?

[2017-02-27 19:55] mgj commented on #56
News? :P

[2017-03-03 19:09] luzimar commented on #56
Any update ??

[2017-03-06 17:35] escamoteur opened #70 "Getting a strange value from Firebase.CloudMessaging"
Hi,

I'm able to receive Firebase messages which is really great! While exploring the reveived dictionary I get this a bit strange values when printing them like this:

[code]

In the output I get this here

[code]

The first two are fine but I don't understand the last one. it almost looks like JSON but it is not. How do I have to deal with it? On Android I receive all values without problems

Th

[2017-03-09 10:59] SergeyMNet commented on #58
I have the same error, how I can fix it?

[2017-03-10 00:23] SotoiGhost commented on #56
Hi all, after of some time arguing and working on Firebase Crash Reporting for iOS, finally, the component has passed to Review status again.

This component will be compatible just with Xamarin Studio and Visual Studio for Mac due Firebase scripts contains commands that only work on Mac. If everything goes ok, FCR will be released by next weeks.

Best to all!

[2017-03-10 02:42] #60 closed

[2017-03-10 02:52] SotoiGhost commented on #58
@jamesmontemagno @SergeyMNet

Sometimes, the download will fail because the download path, plus, the name of tar.gz/.zip hits the Microsoft MAX_PATH limit. Please try these workarounds, if not, let me know to review it.

---

1. As a first step in troubleshooting, attempt to download and extract the files manually as indicated in the error message. Remember to create the empty file listed in the e

[2017-03-10 05:23] SotoiGhost commented on #64
@gboudreau

Seems that Tag Manager version 5.x doesn't have support for multiple containers. I tried to add two containers to container folder but the app just load one, furthermore, Tag Manager docs don't specify any reference of this.

[2017-03-10 05:23] #64 closed

[2017-03-10 07:59] SotoiGhost commented on #70
@escamoteur Don't think is like a JSON, IIRC, notifications are JSON that can be handled with `KeyValuePair<NSObject, NSObject>` or with `NSDictionary`, but one thing you should know about the **aps** content is that **alert** value is **string** if you just set the **body** value and is `KeyValuePair<NSObject, NSObject>` or `NSDictionary` if you set **body** and **title** values.

Here's an examp

[2017-03-10 07:59] #70 closed

[2017-03-10 08:07] SotoiGhost commented on #65
@epopov Why are you sure that it should report "google"? Also, if you can provide a test case, it would be great.

Greetings,
Israel Soto.

[2017-03-10 08:10] SotoiGhost commented on #66
@tutugeorge Are you still getting this issue? Also, in which IDE does the error appear?

[2017-03-10 08:27] escamoteur commented on #70
Thanks a lot, will give it a try

[2017-03-10 10:54] epopov commented on #65
Does Firebase attribute installs from any campaign or only AdWords campaigns? For instance, if I have an app link on my website and I tagged it with campaign info? Here are links on my website:
iOS: https://itunes.apple.com/app/apple-store/id1021031770?aid=com.hostmeapp.hostmepanel&cs=website-footer&cm=website&cn=website
Android: https://play.google.com/store/apps/details?id=com.hostmeapp.hostmepa

[2017-03-10 10:57] epopov commented on #65
Also, I see that I got many installs from Apple Search ads campaign. And Firebase analytics says nothing about this campaign.

[2017-03-10 17:47] bholmes commented on #55
We are working on fixes for VS 2017.  Can you please try updating Xamarin Build Download to [0.4.3-beta1](https://www.nuget.org/packages/Xamarin.Build.Download/0.4.3-beta1)?

Please report your findings as we attempt to correct this issue.

[2017-03-10 18:16] belandsoft commented on #55
Using 0.4.3-beta1 seems to be working good

[2017-03-23 17:04] bholmes commented on #55
beta6 is out there now.  Hope to release soon, maybe even today.

[2017-03-27 10:48] hichaam2 commented on #55
Solved with beta6

[2017-03-27 10:48] #55 closed

[2017-04-03 11:55] luigisaggese commented on #56
When i try to add package or component i have this issue:

Executing nuget actions took 479.96 ms
Directory '/Users/luigi.saggese/Library/Caches/XamarinBuildDownload/FCrshR-1.1.4' not found.

[2017-04-04 01:54] mgyarmathy commented on #56
reporting the same issue as @luigisaggese.

Executing nuget actions took 290.21 ms
Directory '/Users/mgyarmathy/Library/Caches/XamarinBuildDownload/FCrshR-1.1.4' not found.

The install works just fine on Windows VS 2015. Having install troubles on Mac Xamarin Studio.

[2017-04-04 01:58] mgyarmathy commented on #56
Similar error when opening the sample project in Xamarin Studio:

![image](https://cloud.githubusercontent.com/assets/2754894/24638699/458b155e-18b0-11e7-963d-e1e6d36e39fd.png)

[2017-04-04 02:26] mgyarmathy commented on #56
Temp workaround on OSX:

1. Download tarball referenced in Firebase.CrashReporting.targets: https://dl.google.com/dl/cpdc/3802e848f39facac/FirebaseCrash-1.1.4.tar.gz
2. Unzip, and move the directory and its contents to ~/Library/Caches/XamarinBuildDownload/FCrshR-1.1.4/

[2017-04-05 08:46] Jake-Barrow opened #72 "GoogleSignIn - iOS 10.3 - Safari doesn't load a page in the browser"
Xamarin Forms
Nuget Package version : 4.0.1.2
iOS Version : 10.3
iPhone Simulator: iPhone 7 (iOS 10.3)

I have the following code that runs in the `ViewDidAppear` method of a CustomPageRenderer in my Xamarin.Forms.iOS project

[code]

When the code runs, the following happens
<img width="372" alt="iphone7screenshot" src="https://cloud.githubusercontent.com/assets/6576472/24697314/9bb96b76-19e4-11e

[2017-04-06 06:56] gsssubramanyam opened #73 "PolyLine has no methods to add coordinates for drawing line between two points."
I wanted to draw line between multiple points. Path class is given in framework but it has no methods to add location points. Please advice how to achieve this functionality. I did not see any documentation of Xamarin component, though native ios google maps has documentation all the classes are not exposed in .NET component.

[2017-04-06 10:52] wangshouye commented on #33
I'm getting the same error too,  Any suggestions?

[2017-04-10 14:23] Jake-Barrow commented on #72
I managed to solve this.

It had an issue with a Xamarin.Forms CustomRenderer for the PopupPage provided by the Rg.Plugins.Popup package. Change the page back to a ContentPage and using PushModalAsync fixed the issue I was having.

[2017-04-10 14:23] #72 closed

[2017-04-10 22:08] MTUNNISSEN opened #74 "Could not AOT the assembly '/Users/.../mtouch-cache/Build/Google.Maps.dll' GoogleMapsSample.iOS"
#Hi,

If i build my xamarin forms app, with a pagerenderer as mapview loader, i get the following error.
`Could not AOT the assembly '/Users/.../mtouch-cache/Build/Google.Maps.dll'`
If i uncheck `Enable incremental builds `
in **Project Options > iOS Build.** as stated in [https://github.com/xamarin/GoogleApisForiOSComponents/issues/44](https://github.com/xamarin/GoogleApisForiOSComponents/issues/

[2017-04-13 08:44] Benknightdark opened #75 "DidReceiveNotificationResponse function is not working in ios 10"
HI, DidReceiveNotificationResponse function is not working in ios 10 . How to solve this bug? Thanks

[2017-04-14 15:39] JSalazar88 commented on #65
We are also trying to track AdWords conversions via Firebase in Xamarin.iOS app. Any update on this?

[2017-04-14 16:29] JSalazar88 commented on #65
Does this component allow ad-click ==> app-install conversion tracking to work properly???

[2017-04-26 10:39] jderrough opened #76 "Firebase Crash Reporting: not reporting except when logging prior to crash on iOS"
Hi,

Firebase Crash Reporting has an odd behaviour on iOS: crashes are only reported if at least one message has been logged prior to a crash. I was able to reproduce it in a minimal project, if that helps.

Basically:
- No crash reported
[code]
- Crash reported
[code]

Is it intended or is that a bug?

Best regards,
Jonathan

[2017-04-28 09:23] lassana commented on #76
Same problem.

[2017-05-09 11:39] fmarsoni opened #77 "Google Maps 2.2.0"
Any plan to update to Google Maps SDK 2.2 to add cameraTargetBounds property?

[2017-05-15 13:33] karlcod531 opened #78 "didreceiveremotenotifcation not being called in background"
I am testing the firebase cloud messaging for iOS functionality, and I noticed that when my app is in the background and a notification comes in, didreceiveremotenotification is not getting called.
I have already added remote-notifications capability to the background mode on the app, and I am sending  the notification with "content-available" : 1 in the notification dictionary.

Is this a known i

[2017-05-21 16:40] anirusu opened #79 "The name 'App' does not exist in the current context"
I'm having trouble building the sample project or the freshly created projects, when adding the line `App.Configure()` in `FinishedLaunching`. Is there an additional step (from the "getting started" steps) that I'm missing?

[2017-05-22 16:26] hardcodet opened #80 "Places API: Address type is missing data/properties provided by the API"
If you compare the mappings for the Address type here:
https://github.com/xamarin/GoogleApisForiOSComponents/blob/d515cb4e75b89c6a0f7a0fd7710369fd32e12deb/Google.Maps/source/Google.Maps/ApiDefinition.cs#L102

to the Android definition here:
https://developer.android.com/reference/android/location/Address.html

You can see that you don't provide an 1:1 mapping. For example, I'm really missing the _

[2017-05-29 14:05] csoren opened #81 "CrashReporting.Log crashes with string containing %"
CrashReporting.Log will crash when given certain strings that contain %. Presumably because the argument is passed on to _FIRCrashLogv as the format string instead of as the argument with a format string of "%s"

_FIRCrashLogv (pMessage, IntPtr.Zero);

in

https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/Firebase.CrashReporting/source/Firebase.CrashReporting/Extension.cs

[2017-06-08 12:02] vivekvish27 commented on #33
I am also facing same issue on iPhone 7 and later devices.

[2017-06-09 06:46] supreettare opened #82 "Ads are not delivered on iPhone 7 (Domain=com.google.ads Code=1 "Request Error: No ad to show.")"
Hi,
For some strange reason the Admob ads do not show up only on iPhone 7 & 7 plus using iOS 10.2 the error we get is

Domain=com.google.ads Code=1 "Request Error: No ad to show."

We have posted this question on SO

[https://stackoverflow.com/questions/44309438/google-admob-is-not-working-in-xamarin-form-ios-for-larger-screen-devices-like-i?noredirect=1#](url)

& also on Google Groups

[https://g

[2017-06-13 16:47] vbisbest commented on #79
The docs are incorrect.  You need to use:
Firebase.Analytics.App.Configure();

[2017-06-16 21:25] muhaym opened #83 "Google Maps Version Update"
The current binding is for version seems to be 2.1.0 of Google maps.

The latest Google Maps Version is 2.3.0 with lots of deprecations and updates. Will Xamarin team update the bindings soon? The last updates were 3 months before.

Thanks

[2017-06-21 13:44] kimdv opened #84 "Firebase phone auth"
Hello,

Is there any plans to support the Firebase Phone Auth?

https://firebase.google.com/docs/auth/ios/phone-auth

[2017-06-21 14:02] SebastianRask commented on #84
I am needing this too. Hopefully it can be implemented before Digits closes.

[2017-06-22 07:13] dsb92 commented on #84
This is a request from me too, please make it happen soon, before Digits closes.

[2017-06-27 12:19] luigisaggese opened #85 "DFP native ads doesn't trigger callback"
I'm using Google.MobileAds nuget package 7.16.0, but i have some issue to use NativeContentAd and
NativeAppInstallAd. Sometimes when i make a request of native ads no methods are triggered of those:

- DidFailToReceiveAd
- DidReceiveNativeContentAd
- DidReceiveNativeAppInstallAd

This is my example code (inside ViewDidLoad):
...
LoadNativeAd("/23154429/AdxNative/app_native_1_serp", this));
...
[co

[2017-06-27 14:55] softlion commented on #46
I suggest to change the doc on the website and add the full namespace in it

[2017-07-13 15:46] jlovatt121 commented on #84
I am hoping that this gets implemented soon as most of the users in my app will no longer be able to log in once Digits becomes deprecated and moves to Firebase.

[2017-07-18 08:37] sorotto04 commented on #84
I need this. Thank you.

[2017-08-02 15:52] Arief-AB commented on #84
I need this. Thank you

[2017-08-04 02:01] jstawski opened #87 "error MT5209 : Native linking error : file not found: /obj/iPhoneSimulator/Debug/mtouch-cache/GoogleMaps"
Version 2.1.0.1 throws that error while building. I've added the package through Nuget. Doing so through the Component Store results in the same error.

I'm using Visual Studio for Mac and building with MSBUILD

[2017-08-04 16:40] jstawski commented on #87
Here's more info:

I looked at /Path/obj/iPhoneSimulator/Debug/device-builds/iphone9.1-10.3.1/mtouch-cache/ and there is no files with those names. The packages folder doesn't have those files either.

[2017-08-05 22:32] SotoiGhost commented on #87
@jstawski Try these steps:

1. Close the solution
2. Erase erase bin and obj folders of your app project
3. Open the solution and try again

[2017-08-07 20:12] jstawski commented on #87
@SotoiGhost it didn't work

[2017-08-16 06:56] yeoupooh commented on #56
Same issue on the v1.1.5.1 with error ".../FCrshR-1.1.6 not found".
Temp workaround on OSX is just creating that folder '~/Library/Caches/XamarinBuildDownload/FCrshR-1.1.6/' and re-install the package.

[2017-08-18 15:35] campersau commented on #83
FYI: I updated the google maps bindings to 2.4.0 here https://github.com/xamarin/GoogleApisForiOSComponents/compare/master...campersau:vnext and removed the places APIs but I haven't added any new maps APIs.

[2017-08-29 23:58] vissuzya commented on #84
This is an urgent issue for us too.  Is there an update on this?   Please let us know.

[2017-09-01 10:54] kimdv commented on #56
I think this can be closed, because Firebase will use Crashlytics.

[2017-09-04 03:33] gcwei opened #88 "First Sign in Blank White Page for a long time"
After SignIn.SharedInstance.SignInUser(), the app goes to a blank white page for a long time and nothing happens. Am I missing something or is it a bug?

public override void ViewDidLoad()
	{
             SignIn.SharedInstance.UIDelegate = this;
	     SignIn.SharedInstance.Delegate = this;
             SignIn.SharedInstance.SignInUser();
       }

[2017-09-04 19:20] ugurpelister commented on #84
+1

[2017-09-04 19:40] ugurpelister opened #89 "Impossible to connect when APNs Authentication Key is used"
I decided to switch to APNs Authentication Key instead of the old APNs certificate for my iOS app. I uploaded my key in Firebase console Cloud Messaging settings page. Then I downloaded the up-to-date `GoogleService-Info.plist` and added it to my project.

the result was that whenever my code calls `Messaging.SharedInstance.Connect()` I always get "_The operation couldn’t be completed. (com.google

[2017-09-05 11:29] luigisaggese commented on #85
Any news?

[2017-09-12 01:53] cevaris commented on #87
thanks @SotoiGhost
Those steps seemed to have resolved linker error.

[2017-09-12 02:30] cevaris commented on #87
@SotoiGhost actually, it is working only in the simulator. Not when deployed to a device.

[2017-09-12 16:08] carlasampaio01 opened #93 "Cannot send user proprieties"
I am trying to use Firebase Analytics to iOS and I cant find a way to make it work. It doesnt send any proprity at all.

[2017-09-22 03:55] argiebacomo opened #95 "keychainError"
auth.defaultinstance.signIn always returns keychainError how do i resolve this?

[2017-09-26 10:21] asndev commented on #85
*bump*
Any updates on this? We've multiple customers affected by this issue.

[2017-09-28 13:10] #89 closed

[2017-09-30 14:22] ugurpelister opened #96 "ApplicationReceivedRemoteMessage never called on iOS 11"
Since the latest release of the FCM iOS package v2.0.0.0, data messages are not received by iOS 11 devices. There are some API changes in v2.0.0.0 that are not reflected in the guideline [here](https://components.xamarin.com/gettingstarted/firebaseioscloudmessaging), but with or without implementing the API changes, the delegate method ApplicationReceivedRemoteMessage is never called.

the issue c

[2017-10-05 19:20] rdelrosario commented on #96
Could you send you appdelegate.cs? to check how is your current config

[2017-10-05 20:14] ugurpelister commented on #96
Hi Rendy,
The actual file is fairly big therefore I just cut out the lines related to FCM. you may see the attached file. I made all the FCM-related changes in the guidance of compiler warnings and errors.

[AppDelegate.txt](https://github.com/xamarin/GoogleApisForiOSComponents/files/1360736/AppDelegate.txt)

[2017-10-06 11:41] ugurpelister commented on #96
@rdelrosario I have a new finding: the bug is specifically related to IMessagingDelegate interface, because the problem disappears when I inherit from MessagingDelegate class. since we cannot derive from two classes in C#, I moved cloud messaging logic from my AppDelegate class to a new one.

I guess the bug is a bit more isolated now.

[2017-10-06 11:50] rdelrosario commented on #96
I think the main issue is documentation seems to be outdated, a few things changed on version 2.0.0.0. What I did on my implementation was based on the swift samples I saw and google offical docs becase the docs ob the component are outdated.

[2017-10-07 16:54] lassana commented on #89
@ugurpelister have you managed to find what was causing problem?

[2017-10-07 17:06] ugurpelister commented on #89
sorry I forgot to close the thread. I renewed my provisioning profile and it's working now with APNs Authentication Key.

[2017-10-10 02:40] rrispoli commented on #96
@ugurpelister can you please paste here your implementation that was working? I just updated to 2.0.0.0 in a production project, implemented the new DidRefreshRegistrationToken method and made the changes on deprecated warnings, but I can't test on iOS 11 for now, so I don't know if it's 100% working... maybe I should wait for a updated documentation?

[2017-10-10 06:11] ugurpelister commented on #96
@rrispoli Actually my source code is really bloated with business logic and it would be cumbersome to tear down things to extract code, but I can explain how to switch to my implementation. really simple: just derive from MessagingDelegate class instead of IMessagingDelegate interface.

and you should inevitably move data message handling logic out from your AppDelegate class to a new one because

[2017-10-13 17:50] rrispoli commented on #96
Hi @ugurpelister, thanks! I will check a way to do this.

[2017-10-24 17:10] rrispoli commented on #96
I discovered that in version 2.0.0 on iOS 11 we need to implement:

[Export("messaging:didReceiveMessage:")] public void DidReceiveMessage(Messaging messaging, RemoteMessage remoteMessage) { }

[2017-10-25 20:24] salvador-guerrero opened #98 "MarshalDirectiveException when using Google.Maps.GeometryUtils.ContainsLocation"
The method Google.Maps.GeometryUtils.ContainsLocation throws the following exception

    System.Runtime.InteropServices.MarshalDirectiveException: Type Google.Maps.Path which is passed to unmanaged code must have a StructLayout attribute.
      at (wrapper managed-to-native) Google.Maps.GeometryUtils:_ContainsLocation (CoreLocation.CLLocationCoordinate2D,Google.Maps.Path,bool)
      at Google.Map

[2017-10-26 11:24] kimdv commented on #84
Can this be closed @SotoiGhost ?

[2017-10-28 12:57] aproram opened #99 "IMapViewDelegate method not getting called "UIView MarkerInfoWindow(MapView mv,Marker m)""
On Xamarin iOS I have a map which has markers. I want to have a custom Info View but the problem is that the delegate method "UIView MarkerInfoWindow(MapView mv,Marker m)" for the IMapViewDelegate  doesn't get called somehow. I have no idea whats the problem.

I have uploaded one simple repo demonstrating this problem at
https://github.com/aproram/Xamarin-GMapsDelegate-IssueDemo

Any idea why this

[2017-10-31 20:47] FernandoMrq commented on #79
In my, firebase.analytics.app.configure() i give error, app nota found in analytics

[2017-11-06 12:02] rayita commented on #83
Any  time estimation?

[2017-11-11 04:57] pboisso opened #104 "PublisherProvidedID not implemented?"
Hi,

Trying to find out where and how we can set PublisherProvidedID and it seems like it is not implemented.  For example:

request = Request.GetDefaultRequest();
request.PublisherProvidedID = "hash_here";   //no definition for PublisherProviderID or setPublisherProviderID or anything that looks like it.

Am I missing something or is this just not implemented?

Thanks.

Patrice

[2017-11-13 02:40] odyzzey opened #105 "Firebase.AdMob component not allowing project to build"
Hi,

It looks like in the latest Firebase.AdMob version (building with latest Xcode for 64-bit iOS 11 device) does not allow projects to build. The error given is

"
Error MT5216: Native linking failed for '/Users/User/Projects/SolutionFolder/ProjectFolder/obj/iPhone/Debug/device-builds/iphone6.1-11.0/mtouch-cache/arm64/libGoogle.MobileAds.dll.dylib'. Please file a bug report at http://bugzilla.xa

[2017-11-14 09:42] rcpassos opened #107 "Crashes are not sent to the console"
Hi,

I have an issue with Crash Reporting, so the crashes are not sent to the console.
Anyone can help me?

Thanks

[2017-11-15 07:37] ashishkumar070 commented on #96
Did anyone found a solution for this ?

[2017-11-16 00:15] SotoiGhost commented on #66
We have not received the requested information. If you are still experiencing this issue please provide all the requested information and feel free to re-open this issue again. Thanks!

[2017-11-16 00:15] #66 closed

[2017-11-16 00:33] SotoiGhost commented on #65
Is this still an issue?

[2017-11-16 00:36] SotoiGhost commented on #68
Is Firebase still not recording the events from your app?

[2017-11-16 02:01] tutugeorge commented on #66
Hi Israel Soto,

We are not experiencing this issue now. Thank you for helping us out.

Regards,
Tutu George

On 16-Nov-2017 5:45 AM, "Israel Soto" <notifications@github.com> wrote:

[2017-11-16 05:07] #30 closed

[2017-11-16 08:37] SotoiGhost commented on #33
Is someone still facing this issue? I have just tested this on iPhone 7 with Google Interstitial Test ID and threw me  this message:

But I used my own Interstitial ID and everything worked as expected.

[2017-11-16 19:21] SotoiGhost commented on #34
Are you still facing this bug?

[2017-11-16 19:22] SotoiGhost commented on #74
This was fixed some releases ago, are you still facing this issue?

[2017-11-16 19:23] #44 closed

[2017-11-16 19:28] SotoiGhost commented on #56
As @kimdv said, Firebase will use Crashlytics instead of Crash Reporting. This is closed now.

[2017-11-16 19:28] #56 closed

[2017-11-16 19:31] #58 closed

[2017-11-16 23:43] SotoiGhost commented on #73
Can you specify which classes, properties or methods are missing in Google Maps? Thanks in advance.

[2017-11-16 23:52] SotoiGhost commented on #79
`App.Configure` method was moved from `Firebase.Analytics` namespace to Firebase.Core namespace in the mayor release from v3.x to v4.x. Please, import Firebase.Core to your libraries to use this method.

[2017-11-16 23:52] #79 closed

[2017-11-17 00:04] SotoiGhost commented on #80
The Google Maps binding provided in this repository is based on Google Maps for iOS. The [Address][1] class of iOS SDK doesn't contain any method or property named `featureName`. If you think this is a missing feature, you can report it [here][2]

[1]: https://developers.google.com/maps/documentation/ios-sdk/reference/interface_g_m_s_address
[2]: https://issuetracker.google.com/issues/new?componen

[2017-11-17 00:04] #80 closed

[2017-11-17 05:04] SotoiGhost commented on #82
@supreettare are you still having this issue?

[2017-11-17 05:08] SotoiGhost commented on #84
Firebase Auth with Phone Auth support was released some time ago. I'm closing this issue.

[2017-11-17 05:08] #84 closed

[2017-11-17 05:25] SotoiGhost commented on #85
Is this still an issue? If yes, can you provide a test case? That will make things faster.

[2017-11-17 05:28] SotoiGhost commented on #87
Is someone still facing this issue?

[2017-11-17 05:35] SotoiGhost commented on #88
Are you still facing this issue? If yes, can you provide a test case, please? That would make things faster.

[2017-11-17 05:36] SotoiGhost commented on #93
Are you still facing this issue?

[2017-11-17 05:37] SotoiGhost commented on #95
Are you still facing this issue? If yes, can you provide a test case, please? That would make things faster.

[2017-11-17 05:48] SotoiGhost commented on #104
@pboisso yes, this is implemented. The `PublisherProvidedID` property is located in the [Request][1] class but of the `Google.MobileAds.DoubleClick` namespace.

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/Google.MobileAds/source/Google.MobileAds/ApiDefinition.cs#L2512-L2514

[2017-11-17 05:48] #104 closed

[2017-11-17 06:46] SotoiGhost commented on #105
@odyzzey just to be sure, did you just reference Google.MobileAds in your code? Firebase.AdMob installed other dependencies but, does the error happen when you just write code from Google.MobileAds library?

[2017-11-17 07:14] SotoiGhost commented on #76
No, this is a bug. The Crash Reporting bits are being stripped out by the linker. This is happening because (depending on your project settings) the linker finds out that nothing of the Crash Reporting library is being referenced so it decides to remove those binaries to reduce the size of the app.

So, here is some workaround for this:

1. You need to reference something from the library, like `C

[2017-11-17 07:18] SotoiGhost commented on #107
@rcpassos This might be a duplicate issue of #76. I'm closing this now. If this a different bug, please, feel free to re-open it again.

[2017-11-17 07:18] #107 closed

[2017-11-17 07:32] SotoiGhost commented on #83
@rayita Hope by the next week this is released. This update includes the new Google.Places component, so, it takes more time in the review process.

[2017-11-17 13:00] odyzzey commented on #105
The error happens if the component is installed on the project. The result is the same if it is installed on a project that does not reference it or use the library. For what it's worth Google.MobileAds is the one being referenced. This is on Visual Studio For Mac.

[2017-11-19 18:31] aherrick commented on #34
I don't believe so!

[2017-11-19 18:31] #34 closed

[2017-11-20 01:39] argiebacomo commented on #95
i solved it using try catch

[2017-11-21 20:40] SotoiGhost commented on #105
Seems to be a bug with Google.MobileAds and Incremental builds.

We have two workarounds here:

1. Open the project settings of your app and go to **Build**/**iOS Build** and uncheck the **Enable incremental builds** option
2. Implement Firebase with MobileAds

Hope this helps you.

I'm closing this issue now, if you still have problems with this, feel free to re-open this issue.

Best.

[2017-11-21 20:40] #105 closed

[2017-11-22 05:21] SotoiGhost commented on #81
We added a note in docs that the developer must give an escaped string instead of adding a workaround because it may be difficult to "clean up" unescaped or partially escaped strings where sequences are unpredictable. Also, we decided this because the C function where the string is passed expects an escaped string according to Obj-C headers.

In this case, if you want to print a `%`, you must type

[2017-11-22 05:21] #81 closed

[2017-11-22 05:23] #39 closed

[2017-11-22 05:29] SotoiGhost commented on #95
Cool! I'm closing this issue now. Feel free to re-open this issue if something else happens related to this.

[2017-11-22 05:29] #95 closed

[2017-11-22 22:39] SotoiGhost commented on #99
@aproram For me is working. I tested on the simulator with iOS 11 and on devices with iOS 11 and iOS 9. Here are some screenshots:

<img src="https://user-images.githubusercontent.com/5924210/33152105-857a6b90-cfa0-11e7-9658-c14e47528079.png" width=320 height=580 />

<img src="https://user-images.githubusercontent.com/5924210/33152125-a47e748c-cfa0-11e7-905d-4379ae4e6173.png" width=320 height=580

[2017-11-23 07:42] Plofstoffel opened #110 "C++ Linking Issue"
Hi,

I have recently updated all my Firbase packages and now get the following error message on build.

Native linking failed, undefined Objective-C class: FIRActionCodeSettings. The symbol '_OBJC_CLASS_$_FIRActionCodeSettings' could not be found in any of the libraries or frameworks linked with your application.
C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Xamarin\iOS\Xa

[2017-11-23 20:25] SotoiGhost commented on #110
@Plofstoffel which component did you add to your app?

[2017-11-24 10:17] mikewaz opened #111 "Native linking failed, duplicate symbol '_main'."
If I add the following string
`DatabaseReference rootNode = Database.DefaultInstance.GetRootReference ();`
in FinishedLaunching method I got 6 compile error

- linker command failed with exit code 1
- Native linking failed, duplicate symbol '_main'
- Duplicate symbol in: /Users/mary_zhiveynova/Projects/FBTest7/iOS/MTOUCH: Error MT5213: Duplicate symbol in: /Users/mary_zhiveynova/Projects/FBTest7/i

[2017-11-24 19:34] SotoiGhost commented on #111
@mikewaz Yes, we discover this issue like two weeks ago, this only happens in simulator AFAIK. Seems that the dependency LevelDB left their Main symbol. I'll file a bug on Firebase. The workaround for this is to change the behavior of the **Registrar** on Simulator:

1. Open your project settings
2. Go to **Build** tab
3. Select **iOS Build** option
4. Type `--registrar:static` in **Additional mto

[2017-11-27 08:51] mikewaz commented on #111
@SotoiGhost Thank you!

[2017-11-29 10:06] corneliu-serediuc opened #112 "Firebase.Crashlytics planned ?"
On Firebase Crash Reporting site it says that:

Note: Crashlytics will soon become the primary crash reporter for Firebase. If you aren't already using Crash Reporting to report crashes and non-fatal errors in your app, we recommend using Crashlytics.

Should we expect this library any time soon or should we stick with the Crash Reporting?

[2017-11-30 14:57] #76 closed

[2017-11-30 19:47] #83 closed

[2017-11-30 19:47] #98 closed

[2017-12-04 22:54] #111 closed

[2017-12-07 02:55] liao1994 opened #115 "Firebase Storage WriteToFile never completes"
The eventcompletionhandler would never be called, when trying to download to a local file
`
downloadTask = pdfNode.WriteToFile(PdflocalNsUrl, (url, error) =>
                {
                    if (error != null)
                    {
                        // Uh-oh, an error occurred!
                    }
                    else
                    {
                        LoadPdf(PdflocalN

[2017-12-14 05:13] kspearrin opened #116 "`GaiConstants` values are all null in iOS app extension"
Pretty weird behavior here, but whenever we updated `Xamarin.Google.iOS.Analytics` from version 3.17.0.1 => 3.17.0.2 our action app extension started breaking. Upon further investigation we find that this line in our code is the problem:

[code]

It throws an `ArgumentNullException`:

Debugging the line shows that _all values_ in `GaiConstants` are null.

This only seems to happen from our app ext

[2017-12-14 19:11] SotoiGhost commented on #115
@liao1994 This only happens when you try to download a local file? Can you share a test case, please? This will help to speed up the process. Thanks in advance.

[2017-12-14 19:15] SotoiGhost commented on #116
@kspearrin can you share an isolated test case with the problem, please? That would help us to speed up the process to find out if this is a bug in the tool.

[2017-12-15 03:32] kspearrin commented on #116
@SotoiGhost I've narrowed this down further to the `Xamarin.Build.Download` dependency. I can leave `Xamarin.Google.iOS.Analytics` at version 3.17.0.1 and just install `Xamarin.Build.Download` version 0.4.7 and the same problem occurs. Without installing `Xamarin.Build.Download` explicitly you get version `0.4.3` which doesn't appear to have this issue.

I'll see if I can put together an isolated

[2017-12-16 14:53] kspearrin commented on #116
@SotoiGhost I created a trimmed down version of our app here that just has a simple Forms page with the iOS app extension. Strangely enough, with this version it seems to occur even with v3.17.0.1 as well. Seems very inconsistent, but it's definitely still happening here even with all the other noise from the app removed.

https://github.com/kspearrin/BuildDownloadTest

Just set your breakpoint he

[2017-12-18 22:05] SotoiGhost commented on #116
@kspearrin For me is working. I tested your test case on Simulator with iOS 11.2, 11.0.2, 10.3.1 and 9.3 and worked for me:

![image](https://user-images.githubusercontent.com/5924210/34129694-a65c6d12-e40a-11e7-99f2-821ad3b5ce04.png)

I couldn't test it on a real device because is asking me for a provisioning profile with certain entitlements enabled (even disabling all of them, keeps asking me s

[2017-12-18 22:13] kspearrin commented on #116
That's weird. I am testing on an iPhone 6s device, macOS with VS 2017. Did you try updating `Xamarin.Google.iOS.Analytics` to 3.17.0.2?

[code]

[2017-12-18 22:43] SotoiGhost commented on #116
I have the same result updating to most recent version. Can you try deleting the bin and obj folder, removing the app from your device and reinstalling it?

[2017-12-19 01:23] kspearrin commented on #116
I just tested this with a fresh pull from the GitHub repo. I run it using the iPhone 8 simulator and it works correctly on 3.17.0.1 and 3.17.0.2. No values are null.

However, whenever I deploy it to my iPhone 6S device (previously app uninstalled completely) it works on `3.17.0.1` but when I update to `3.17.0.2` (clearing bin and obj after, and uninstalling previous deployed app) I get null value

[2017-12-19 01:45] SotoiGhost commented on #116
So, just to be clear. The steps to reproduce the bug are:

1. Have installed G.Analytics v3.17.0.1 package in fresh project
2. Run the project for the first time on a device
3. Update the package to v3.17.0.2
4. Clean the project, clear bin and debug folders and uninstall the app
5. Run the project on a device

Right?

Another thing, what happens if you make a fresh pull, update the package to v3.

[2017-12-19 02:16] SotoiGhost commented on #116
Hmm… I cannot reproduce the bug… this is weird.

[2017-12-19 02:33] kspearrin commented on #116
I just updated the GitHub repo to v3.17.0.2.

1. Pull refresh copy of repo.
2. Uninstall any previous version of the app from device.
3. Set breakpoint in LoadingViewController
4. Deploy iOS.Extension -> Debug - iPhone -> My iPhone 6S
5. Launch extension from a Safari website share menu.
6. Observe nulls at breakpoint.

[2017-12-19 02:36] kspearrin commented on #116
I'm just guessing here, but maybe it has something to do with this app id being previously installed on my device (the real app)?

[2017-12-19 03:15] SotoiGhost commented on #116
Mmm… I cannot install the test case on a device, keeps saying that something is not well configured.

![image](https://user-images.githubusercontent.com/5924210/34139116-7432a666-e438-11e7-8fe8-66b965a24ee8.png)

Even disabling all of the Entitlements, keeps throwing me that I cannot install the app, am I missing something?

[2017-12-19 03:27] kspearrin commented on #116
Welcome to provisioning hell 😭 . I think iCloud and Push Notifications should be enabled.

Here is main app:

![image](https://user-images.githubusercontent.com/1190944/34139363-58460fa6-e442-11e7-9238-1d83ea1f7896.png)

Extension:

![image](https://user-images.githubusercontent.com/1190944/34139375-6fc6ac08-e442-11e7-8e06-23c48f4177d7.png)

[2017-12-19 03:28] SotoiGhost commented on #116
Ohh… Push Notifications, I think that's the problem, let me check

[2017-12-19 03:43] SotoiGhost commented on #116
Yep, that was the problem, needed to remove a key on Info.plist about the remote notifications in the background. Also, I can see the `null` values. Let me deep in into this.

[2017-12-19 03:47] kspearrin commented on #116
Hooray, I'm not crazy!

[2017-12-19 08:00] SotoiGhost commented on #116
@kspearrin Please, try changing the linker behavior of you iOS extension app. Open your extension project settings, go to **iOS Build**, and change **Link behavior** from **Don't Link** to **Link Framework SDKs Only** and let me know your results. Thanks in advance :)

[2017-12-19 13:41] kspearrin commented on #116
@SotoiGhost Yes, that seems to fix it.

![screen shot 2017-12-19 at 8 40 35 am](https://user-images.githubusercontent.com/1190944/34159758-4f88a6c0-e498-11e7-9364-50d5ef349fa1.png)

Seems pretty odd that linking would fix the issue. Usually it's the other way around.

[2017-12-19 16:32] SotoiGhost commented on #116
Yes, I know… I had the same thought. Glad to read that this worked for you.

After playing with some iOS configuration and different kind of projects, I have come to the conclusion that this is an odd scenario caused by Xamarin.Forms, NetStandard, and the linker that affects only G.Analytics, I tried using Firebase.Analytics and everything worked as expected. Please, if you can, [file an issue][1]

[2017-12-19 16:32] #116 closed

[2017-12-20 06:39] Shashidhar014 commented on #111
@SotoiGhost Thanks, it worked for me also

[2017-12-22 10:36] softlion opened #119 "Xamarin.Google.iOS.SignIn 4.1.0 does not call ISignInUIDelegate methods"
Xamarin.Google.iOS.SignIn version 4.1.0 does not call ISignInUIDelegate methods when calling             SignIn.SharedInstance.SignInUser();
And it also displays a popup "app want to open "Google SignIn" ...".

Version 4.0.2.2 works fine with the same code, and displays no popup.

Maybe related to https://github.com/googlesamples/google-services/issues/336

[2018-01-06 05:11] bemnet4u opened #121 "Not able to close Interstitial ads on Iphone x"
Looks like this is an issue with the google's admob framework nd there is already a fix out: https://groups.google.com/forum/#!category-topic/google-admob-ads-sdk/LXnPtaSYXTY
Should we expect update of this component anytime soon?

[2018-01-10 15:49] ElenaVolpi opened #122 "Google Cast - castStyle.castViews missing"
Hi,
I want to customize style of google cast controllers, in the google guide there are this few row to implement it:

GCKUIStyle *castStyle = [GCKUIStyle.sharedInstance];
castStyle.castViews.mediaControl.miniController.bodyTextColor = [UIColor red];
// Assign colors, fonts and images to other properties, as needed
[castStyle applyStyle];

I tried to do the same on xamarin but:

var castStyle = UI

[2018-01-12 09:59] ElenaVolpi commented on #122
Hi,
I tried to download binding project and I uncomment this row:
		[Export ("castViews", ArgumentSemantic.Strong)]
		UIStyleAttributesCastViews CastViews { get; }
then I integrate the dll result in my project and I can set styles.

But, why did you comment that row ?

Thanks
Elena

[2018-01-16 14:03] danielbenedykt commented on #112
@SotoiGhost ,  Hi, do you have an ETA for Firestore?   I see that its available for Android,  but not for iOS.

[2018-01-18 18:53] SotoiGhost commented on #122
Hi @ElenaVolpi!

Some versions ago, Google exposed that property, but they marked `UIStyleAttributesCastViews` symbol as **non-external**. So, in that moment, there was no way to bind that class. That's the reason we decided to comment that property.

In the end, we forgot that we commented that property. Now `UIStyleAttributesCastViews` symbol is **external** and is already bound, we just forgot

[2018-01-20 17:04] ahmadalgarni commented on #55
I am still facing the same problem One year later, I have tried all possible versions of Xamarin Build Download, but still getting  Object reference not set to an instance of an object,

I am delayed two days in submitting the project because of this issue,

Can Anyone help please ?

[2018-01-25 23:09] SotoiGhost commented on #33
We have not received the requested information. If you are still experiencing this issue please provide all the requested information and re-open the issue report. Thanks!

[2018-01-25 23:09] #33 closed

[2018-01-25 23:09] SotoiGhost commented on #68
We have not received the requested information. If you are still experiencing this issue please provide all the requested information and re-open the issue report. Thanks!

[2018-01-25 23:09] #68 closed

[2018-01-25 23:10] SotoiGhost commented on #65
We have not received the requested information. If you are still experiencing this issue please provide all the requested information and re-open the issue report. Thanks!

[2018-01-25 23:10] #65 closed

[2018-01-25 23:11] SotoiGhost commented on #73
We have not received the requested information. If you are still experiencing this issue please provide all the requested information and re-open the issue report. Thanks!

[2018-01-25 23:11] #73 closed

[2018-01-25 23:11] SotoiGhost commented on #74
We have not received the requested information. If you are still experiencing this issue please provide all the requested information and re-open the issue report. Thanks!

[2018-01-25 23:11] #74 closed

[2018-01-25 23:15] SotoiGhost commented on #77
Google Maps v2.5.0.0 is live now. I can see `CameraTargetBounds` property bound. I'm closing this issue now.

[2018-01-25 23:15] #77 closed

[2018-01-25 23:16] SotoiGhost commented on #82
We have not received the requested information. If you are still experiencing this issue please provide all the requested information and re-open the issue report. Thanks!

[2018-01-25 23:16] #82 closed

[2018-01-25 23:16] SotoiGhost commented on #85
We have not received the requested information. If you are still experiencing this issue please provide all the requested information and re-open the issue report. Thanks!

[2018-01-25 23:16] #85 closed

[2018-01-25 23:17] SotoiGhost commented on #87
We have not received the requested information. If you are still experiencing this issue please provide all the requested information and re-open the issue report. Thanks!

[2018-01-25 23:17] #87 closed

[2018-01-25 23:18] SotoiGhost commented on #88
We have not received the requested information. If you are still experiencing this issue please provide all the requested information and re-open the issue report. Thanks!

[2018-01-25 23:18] #88 closed

[2018-01-25 23:18] SotoiGhost commented on #93
We have not received the requested information. If you are still experiencing this issue please provide all the requested information and re-open the issue report. Thanks!

[2018-01-25 23:18] #93 closed

[2018-01-25 23:21] SotoiGhost commented on #99
Closing this issue due to the issue cannot be reproducible. If you are still experiencing this issue feel free to re-open the issue report. Thanks!

[2018-01-25 23:21] #99 closed

[2018-01-25 23:21] SotoiGhost commented on #110
We have not received the requested information. If you are still experiencing this issue please provide all the requested information and re-open the issue report. Thanks!

[2018-01-25 23:21] #110 closed

[2018-01-25 23:27] SotoiGhost commented on #121
Google Mobile Ads/Firebase AdMob v7.27 is live now. If you are still experiencing this issue please feel free to re-open the issue report. Thanks!

[2018-01-25 23:27] #121 closed

[2018-01-28 12:58] Bbxbb opened #124 "Crash caused by Xamarin.Firebase.iOS.AdMob"
I recently upgraded the Xamarin.Firebase.iOS.AdMob component to 7.27.0, and my app crashes whenever it goes to background (on an actual iPhone 6 Plus running iOS 11.2.1).

This is the only change I've made in this version, so I'm sure it's caused by the AdMob component. Below is SIGSEGV crash message reported in Visual Studio for Mac which shows it's to do with AdMob:- "GADAdSizeFromNSValue".

I c

[2018-01-28 14:08] Bbxbb commented on #124
UPDATE on Sun 2pm UK time: the problem is now happening again (reproducible):

1) I run the app (debug version) using Visual Studio for Mac and an real iPhone 6 Plus
2) I get the following warnings as soon as the app starts:

2018-01-28 14:05:17.576 FormationApp.iOS[309:11678] CoreAnimation: [EAGLContext renderbufferStorage:fromDrawable:] was called from a non-main thread in an implicit transactio

[2018-01-31 00:47] SotoiGhost commented on #124
@Bbxbb can you provide a test case, please? I cannot reproduce it using the sample in repo.

Thanks in advance!

Regards,
Israel Soto.

[2018-01-31 10:25] Bbxbb commented on #124
Hi Israel,

See attached zipped Solution which reproduces the WARNING by repeatedly loading interstitial adverts running on Simulator. (The SIGSEGV would occur if the app was sent to background straight after the warning).

Note that you need to add your own AdMob IDs for:

	ApplicationId
	InterstitialAdUnitId

and you cannot use the standard Google Sample ones as they always show the same Google

[2018-01-31 10:30] Bbxbb commented on #124
Hi Israel,

I added the reproducible test case to the GitHub link:

https://github.com/xamarin/GoogleApisForiOSComponents/issues/124

[https://avatars3.githubusercontent.com/u/35892195?s=400&v=4]<https://github.com/xamarin/GoogleApisForiOSComponents/issues/124>

Crash caused by Xamarin.Firebase.iOS.AdMob · Issue #124 · xamarin/GoogleApisForiOSComponents<https://github.com/xamarin/GoogleApisForiOSC

[2018-01-31 19:37] #122 closed

[2018-02-02 04:54] SotoiGhost commented on #124
@Bbxbb after 10 test on a real device and 10 test on a simulator, I could only reproduce the error message just once on a real device (iPhone 7), but it didn't crash when I went into background state and come back.

I ported your test case into Objective-C but with no success to reproduce the error.

Please, try the Xcode port and see what happens.

[BBTest01Xcode.zip](https://github.com/xamarin/G

[2018-02-02 05:41] #124 closed

[2018-02-02 11:11] Bbxbb commented on #124
@SotoiGhost Thanks for making the Objective-C version. I have run it here and can reproduce the WARNING (see below).

So, I think you are right that this is not related to the AdMob binding, but it is a Google AdMob issue. So i will report it there as you suggest.

Thanks for your help.

Bill

2018-02-02 11:06:48.245911+0000 BBTest01Xcode[1477:48599] LoadInterstitial 562
2018-02-02 11:06:49.601877

[2018-02-02 16:41] SotoiGhost commented on #124
Good to know that the sample helped you.

If something else happens related to this, feel free to reopen this issue.

Best,
Israel.

[2018-02-05 15:06] chrisfoulds opened #127 "Crashes on release mode unless I have debug enabled"
App runs fine in debug on device and simulator.

Switch to release mode and I get
Objective-C exception thrown.  Name: FIRAppNotConfigured Reason: Failed to get default Firebase Database instance. Must call `[FIRApp configure]` (`FirebaseApp.c<\M-b\M^@\M-&>

However if I turn on ‘Enable Debugging’ in iOS Debug options it all works again.

Very puzzled, any tips ?

[2018-02-06 19:58] SotoiGhost commented on #127
@chrisfoulds I have just tested the sample on Release on a real device and everything worked as expected. Please, make sure that you are calling `App.Configure ()` method before any other Firebase method.

Also, if you can provide a test case would be very helpful.

Best.

[2018-02-08 10:24] chrisfoulds commented on #127
So I could not recreate on new projects either so I did some more investigation.
Basically by adding a
await Task.Yield();

after these two lines
[code]

and before this line :
`DatabaseReference rootNode = Database.DefaultInstance.GetRootReference();`

It works.

[2018-02-08 21:41] SotoiGhost commented on #127
It seems that the issue is resolved now. I'm closing this. Feel free to reopen it if something else happens related to this.

[2018-02-08 21:41] #127 closed

[2018-02-15 12:04] Shaboo opened #128 "firebase analytics for ios not working"
I am using the latest version, it is 4.0.5, and follow the getting started, when build the following error occured:

Configuration fails. It may be caused by an invalid GOOGLE_APP_ID in GoogleService-Info.plist or set in the customized options.

[2018-02-15 12:57] Shaboo opened #129 "firebase cloudmessaging native linking error on ios"
I am using firebase cloud messaging version (),
it work in debug mode, but when build for appstore, the following error happen:
Native linking error: truncated fat file. Slice from 4611984 to 6449696 is past end of file with length 5144576 file '/Users/mohammadshaban/Library/Caches/Xamarin/mtbs/builds/HBRS.iOS/7757187b09de98f2bb163c41d580c1ef/obj/iPhone/AppStore/mtouch-cache/FirebaseMessaging' for

[2018-02-17 13:12] Shaboo commented on #129
it seams that this component not support arm64 yet, isn't it?

[2018-02-23 06:57] SotoiGhost commented on #128
Hi @Shaboo!

I created a new project, tested Firebase Analytics and worked ok for me. Can you [create a new](https://console.firebase.google.com/) GoogleService-Info.plist and try again, please? Double check that the Bundle ID is the same between **Info.plist** and **GoogleService-Info.plist.**

If the issue persists, can you upload a test case? That would make things easier.

Thanks in advance!

[2018-02-23 07:11] Shaboo commented on #128
I have already done that and it worked with no errors,
thanks

[2018-02-23 07:12] SotoiGhost commented on #128
Glad to read that, closing this now. If something else happens related to this, feel free to reopen this issue.

[2018-02-23 07:12] #128 closed

[2018-02-23 07:58] SotoiGhost commented on #129
Hi @Shaboo!

Firebase Cloud Messaging it does support **arm64** architecture. You can see it in this [archive][1]. Also, **arm64** arch is in the Firebase Cloud Messaging framework. If you inspect the Firebase Cloud Messaging framework located at **~/username/Library/Caches/XamarinBuildDownload/FCldM-2.0.4/Frameworks/FirebaseMessaging.framework** using `file FirebaseMessaging` command in terminal,

[2018-02-23 13:38] Shaboo commented on #129
thanks for your reply,
so, any idea why that error is happened only with me?

[2018-02-23 17:50] SotoiGhost commented on #129
I'm not really sure, to be honest. Does removing the folders worked for you? If so, maybe some file was corrupted.

About the PR, we have been a little busy due to internal changes in some teams, as well as, to arrivals of new projects. While the PR is approved, you can build the NuGet package of new versions and reference them locally.

To do so, clone [this fork][1] and switch to `update/firebas

[2018-02-23 18:10] Shaboo commented on #129
I did remove everything and that did not work for me, I going to try building the new PR as instructed above and feedback you , if that does not for me, I am going to use "app centre push"
you can close this issue,

your reply and instructions are appreciated,

best regards,

mohammad shaban

[2018-02-23 18:23] SotoiGhost commented on #129
@Shaboo Another thing you can try is setting the **Link Behavior** to **Don't link** in project settings. Open Project Setting/iOS Build/Link Behavior and change it. Play with the values, but between each change, erase **bin** and **obj** folders.

[2018-02-24 16:59] SotoiGhost commented on #129
Closing this issue now. If something else happens related to this, feel free to reopen this.

Best!
Israel Soto.

[2018-02-24 16:59] #129 closed

[2018-03-08 10:03] VinoliyaPrincy commented on #111
Am facing this issue still.

[2018-03-09 04:08] sbonkosky opened #130 "Xamarin.Google.iOS.MobileAds - Test devices not loading test ads"
I am not seeing the gray "Test Ad" label that should be on test ads when TestDevices is set on the Request.

From Google's documentation, test ads should display this label for devices listed in TestDevices:

[Test Ads](https://developers.google.com/admob/ios/test-ads#enable_test_devices)

My code:

[code]

But once I display the ad, if Im using a real reward ad setup in my account, I see the real

[2018-03-09 08:56] EdwinOtten commented on #111
It appears that Xamarin.Firebase.iOS packages won't compile for `ARMv7s`, but does for `ARMv7` and `ARM64`. Why? I didn't figure that out yet..

@VinoliyaPrincy Try this:
1. In Visual Studio, open the project settings of your iOS project, go to `Build > iOS Build`.
2. Select Configuration `Release` and Platform `iPhone` *
3. Next to `Supported architectures` select `ARMv7 + ARM64` instead of `ARMv

[2018-03-12 05:30] SotoiGhost commented on #119
Version 4.1.1 was released, can you try to see if the error is fixed? Thanks in advance!

[2018-03-12 05:37] SotoiGhost commented on #111
@EdwinOtten Google removed the **ARMv7s** support from its libraries some time ago, that's why we don't longer support that arch neither.

[2018-03-12 07:57] softlion commented on #119
FIXEd

[2018-03-12 07:57] #119 closed

[2018-03-12 14:18] HassanJawed commented on #55
I am facing this issue again. Please open the issue again

[2018-03-13 00:36] SotoiGhost commented on #115
We have not received the requested information. If you are still experiencing this issue please provide all the requested information and re-open the issue report. Thanks!

[2018-03-13 00:36] #115 closed

[2018-03-13 00:52] SotoiGhost commented on #75
Hi! Sorry for the very late response…

We have updated the documentation of Firebase Cloud Messaging, the workaround provided is no longer for iOS 10 and above. Here's the new way to [handle messages](https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/Firebase.CloudMessaging/component/GettingStarted.md#receive-messages) in your app.

[2018-03-13 00:52] #75 closed

[2018-03-13 00:58] SotoiGhost commented on #78
Hi! Sorry for the very late response…

We have updated the documentation of Firebase Cloud Messaging, the workaround provided is no longer needed for iOS 10 and above. Here's the new way to [handle messages](https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/Firebase.CloudMessaging/component/GettingStarted.md#configure-cloud-messaging-in-your-app) in your app.

Best,
Israel Soto.

[2018-03-13 00:58] #78 closed

[2018-03-13 00:59] SotoiGhost commented on #96
Hi! Sorry for the very late response…

We have updated the documentation of Firebase Cloud Messaging, the workaround provided is no longer needed for iOS 10 and above. Here's the new way to [handle messages](https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/Firebase.CloudMessaging/component/GettingStarted.md#configure-cloud-messaging-in-your-app) in your app.

Best,
Israel Soto.

[2018-03-13 00:59] #96 closed

[2018-03-16 19:40] dalexsoto opened #132 "A/B testing using Firebase RemoteConfig on Xamarin iOS"
_From @tharanagaraj on March 16, 2018 19:34_

### Steps to Reproduce

1. Set up an A/B test using Firebase RemoteConfig for the project as described [here](https://components.xamarin.com/gettingstarted/firebaseiosremoteconfig)
2. Create and start an experiment. The only criteria we used was the bundle id of the project and rolled it out to some users (10% in this case).
3. Wait for an appropriate

[2018-03-19 01:25] tharanagaraj commented on #132
We now see the message "We have not received any data for your experiment". Has anybody been able to get this working? Just to reiterate, we're able to see the test live on devices, and everything appeared to be working fine while testing as well.

[2018-03-20 19:13] NPSconsultingLLC opened #134 "Firebase.CrashReporting is being deprecated please add support for Firebase.Crashlytics"
As the title states, CrashReporting has been deprecated by Google in favor of Crashlytics (inside Firebase). Details about the change can be found here.

https://firebase.googleblog.com/2018/03/firebase-crashlytics-graduates-from-beta.html

[2018-03-21 21:01] SotoiGhost commented on #132
Hi @tharanagaraj!

Right now, Firebase Remote Config for iOS is on version 2.0.3.1 (a.k.a Firebase 4.4.0) which doesn’t include the A/B Testing bits yet, that must be the reason why is not working properly. I have the Remote Config update (v2.1.0, a.k.a Firebase 4.8.0) that includes Firebase A/B Testing bits in my TODO list but, because is still in beta phase, I’m prioritizing other task that I ha

[2018-03-22 16:56] tharanagaraj commented on #132
Hi @SotoiGhost !

Thanks a bunch for your reply and detailed explanation. That makes sense. Google did say that the minimum version of Firebase would have to be 4.5.0 and I double checked and verified that the packages weren't using it.

Sure, I'd love to take a stab at this and see how it goes. How do we get started?

Thanks,
Thara

[2018-03-22 20:44] SotoiGhost commented on #132
Thanks a lot for wanting to contribute! I'll try to write a little contribution guide and try to be as clear as possible.

First of all, Firebase components in this repo are updated to main version 4.8.0, so, the Remote Config version that we must point is 2.1.0 (a.k.a 4.8.0). This is because Firebase APIs are kind of intertwined with them and making updates pointing different versions could make

[2018-03-25 23:01] wellofspirit opened #136 "App Freezing because of CrashReporting"
I recently added Firebase.iOS.CrashReporting to my project.

Our app freezes on background loading process with this displayed in the application output.

My Assumption:

I think there might be an unhandled exception in background thread not being managed and triggered the CrashReporting. And the crash reporting can not handle background exceptions properly.

[2018-03-27 19:14] tharanagaraj commented on #132
Hey @SotoiGhost

Thank you for the comprehensive guide. I've just started looking into it. It seems fairly straightforward except for one thing.

We will need to create a new package/binding for the A/B Testing v1.0.0 pod, right?
Can we model the cake script after the other scripts like [this](https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/Firebase.RemoteConfig/build.cake) one?

[2018-03-27 22:48] SotoiGhost commented on #132
@tharanagaraj yw! I'll answer between lines.

Yesterday, I would have told you no, to add A/B Testing inside of Remote Config because Google has A/B Testing documentation inside of Remote Config, but on second thought, I say yes, add A/B Testing as a separate component with its own folder to keep versions separated. You can base yourself on the file that you showed me. The dependency on **cake.bui

[2018-03-28 02:19] SotoiGhost commented on #130
Hi @sbonkosky!

I tested the sample, and as you say, the **Test ad** label is not shown in `RewardBasedVideoAd` ads. However, I tested other type of ads and the label appears:

|   |    |
|--|--|
| <img src="https://user-images.githubusercontent.com/5924210/37734587-40cbbbc4-2d11-11e8-9278-cc27e1a2edae.PNG" height=400> | <img src="https://user-images.githubusercontent.com/5924210/37734588-42cc5cda

[2018-03-28 02:33] SotoiGhost commented on #130
@sbonkosky I think I found the problem, the Google sample is on v7.30.0 and our end is on v7.27.0, so, I downgraded Google sample to v7.27.0 and it shows no label:

|   |
|--|
| <img src="https://user-images.githubusercontent.com/5924210/38005334-8453ce5e-31fd-11e8-8960-8e682240a78d.PNG" height=400> |

A possible fix for this is to update Mobile Ads to most recent version. I'm not really sure if t

[2018-03-28 03:05] SotoiGhost commented on #136
Hi @wellofspirit! Can you share a test case, please? So we can investigate further on this.

[2018-04-03 09:54] jzeferino opened #137 "Map nuget version to Google API version"
Would be great to have some kind of map between the nuget releases and the Google API releases.

For example, I'm using the version Xamarin.Google.iOS.Core 3.0.3.3 and I want to know what version of Google API it represents.

Would be nice to have git TAGS representing it. Or at least some kind of Markdown table.

[2018-04-04 07:13] wellofspirit commented on #136
Sorry to catch up with you so late.

What is happening is:

In our code, when we are loading up, we do some database update work in the background. I know that there will be some exceptions thrown in that progress, but we handled them properly.

Before I import Crash Reporting, it works properly, nothing breaks. However, when I import Crash Reporting. Yes, simply by importing that framework, it br

[2018-04-10 06:36] SotoiGhost commented on #132
Hi @tharanagaraj! Just wondering, how are you doing with the A/B Testing binding? Do you need some help with something?

[2018-04-10 17:00] tharanagaraj commented on #132
Hi Israel!

I started it and made some progress. But some other priorities took over. Now I’m out of town for a bit. Should be able to continue with it when I’m back, which is probably in a day or two. Apologies for the delay!

Sent from my phone

[2018-04-11 05:06] Shan11812 opened #139 "MobileVision component"
Are there any plans for releasing GoogleMobileVision for Xamarin.iOS?

I've tried creating bindings, but some dependencies have missing headers (intentional, since they are not to be used directly) so couldn't....

[2018-04-16 02:33] tharanagaraj commented on #132
Hi @SotoiGhost ,

I think I was able to update everything related to RemoteConfig. But I do have a question about the ABTesting setup. I wrote a cake script for it, modeled on the script we talked about, but ran into the following error:

Error: The assembly 'Cake.XCode, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null'
is referencing an older version of Cake.Core (0.12.0).
This assembly need

[2018-04-17 00:14] SotoiGhost commented on #136
@wellofspirit I will need more details to make a further investigation, like a test case where I can reproduce the error that would be great.

[2018-04-17 02:08] tharanagaraj commented on #132
Hi @SotoiGhost
Attached. Please let me know what could potentially be wrong.
[CakeScript.txt](https://github.com/xamarin/GoogleApisForiOSComponents/files/1917913/CakeScript.txt)

[2018-04-17 15:39] SotoiGhost commented on #132
@tharanagaraj what is the command that you are running?

[2018-04-23 01:50] tharanagaraj commented on #132
@SotoiGhost I used `./build.sh` as outlined [here](https://github.com/cake-build/cake#example).
Could you please tell me what I am missing?

[2018-05-02 10:29] GalaxiaGuy commented on #139
Not intending to hijack this thread, but is there information on what criteria a package should meet to be part of this? Or somewhere for suggestions?

I too have tried binding some Google libraries but I have never gotten very far.

[2018-05-04 15:41] ivocarminati opened #144 "problems upgrading xamarin.google.ios.cast package from nuget with xamarin"
Hi all,

I'm having problems after an upgrade of "xamarin.google.ios.cast" package from version 4.0.2.1 to 4.1.0 from nuget with Xamarin.

Attached you can see the problems I see in console.
Can someone help me solving these issues?
I've tried to clean the solution, delete bin and obj folders, close and reopen the ide, ... but without success.
![schermata 2018-05-04 alle 16 42 32](https://user-ima

[2018-05-08 16:19] FWJay opened #145 "Token Reference not found in Google iOS Analytics on VS for Mac 7.5.1254"
I upgraded my Visual Studio to 7.5 this morning, and this library started giving me the following error. Is this related to the update? have others encountered it?
![screen shot 2018-05-08 at 4 33 24 pm](https://user-images.githubusercontent.com/555988/39769376-f3ff6cca-52e3-11e8-81bf-8badd1618695.png)

[2018-05-09 02:46] ozzy1873 opened #146 "Native linking failed after update to VS 15.7.0"
After updating Visual Studio to version 15.7.0, I get the following errors when building the ad-hoc provisioning profile:

error : Native linking failed, duplicate symbol: '_OBJC_CLASS_$_GADMediatedNativeAd'.
error : Duplicate symbol in: /Users/user.name/Library/Caches/Xamarin/mtbs/builds/MyApp.iOS/f5afeabd875dec75a403ab628fb3cc1b/obj/iPhone/Ad-Hoc/mtouch-cache/arm64/registrar.o (Location related

[2018-05-09 09:27] SKKbySSK commented on #146
Same here. I'm using VS for Mac 7.5(build 1254)
The error doesn't come up when building an app on the iOS simulator

[2018-05-09 09:37] jackamgine commented on #146
I got same problem from yesterday. :(

Visual Studio Community 2017 for Mac (Preview)
Version 7.6 Preview (7.6 build 711)
Runtime:
    Mono 5.12.0.226 (2018-02/9824e260f56) (64-bit)
    GTK+ 2.24.23 (Raleigh theme)
    Xamarin.Mac 4.4.0.36 (master / 0c7c49a6)
    Package version: 512000226

[2018-05-10 14:39] SotoiGhost commented on #144
Hi @ivocarminati! I tried to reproduce the issue but with no success. I created a new test app, added G.CAst v4.0.2.1, upgraded it to most recent version and everything worked as expected.

Can you, please, erase the Xamarin Build Download cache and try again? The cache is located in `~/Library/Caches/XamarinBuildDownload`. What I can see with the error showed is that XBD could not download the Go

[2018-05-10 14:58] SotoiGhost commented on #146
Hi guys! Thanks for letting us know this. Right now, we are working on a fix for this. Hope we can release the fix today.

[2018-05-10 22:42] INHack20 commented on #111
+1

[2018-05-11 09:36] chrisfoulds commented on #146
Any news on fix? totally blocking issue for us.

[2018-05-11 14:13] Nixon-Joseph commented on #111
@SotoiGhost you are my favorite person!

[2018-05-12 10:28] chrisfoulds commented on #146
Anyway to downgrade VS as this fix is not forthcoming and we are totally stuck without it.

[2018-05-13 12:45] runesig commented on #146
I am also struggling with this issue...please fix soon!

[2018-05-13 13:04] Shaboo commented on #134
is the new component will support vs in windows?
@SotoiGhost

[2018-05-13 21:36] #134 closed

[2018-05-14 06:54] nzz1234 commented on #146
We need v7.27.0.3 to this fix in VS2007 for Mac

[2018-05-14 07:46] bartdkmediahuis commented on #146
@SotoiGhost *bump
Any news on the new nuget package ? Since our builds are blocked on this issue... thanks !

[2018-05-14 08:41] syed-pelican commented on #146
Same here.. awaiting a NuGet package update

[2018-05-14 09:01] ThomasDhaen commented on #146
@SotoiGhost  Status for NuGet package? This is blocking for us. Cheers!

[2018-05-14 09:02] Macjon commented on #146
Hi, we are having the same problem. I can't run my test app on my device so we can't deploy it to the store. Please fix it ASAP. Thanks in advance.

[2018-05-14 11:12] iodiot commented on #146
I've got the same error after upgrading Xamarin/Xcode.

[2018-05-14 12:35] aer127 commented on #146
Same error here.

[2018-05-14 14:14] #146 closed

[2018-05-14 14:17] SotoiGhost commented on #134
@Shaboo Yes, this will have Windows support.

[2018-05-14 16:46] galadril opened #150 "iOS - ative linking failed, duplicate symbol: '_OBJC_METACLASS_$_GADMediatedNativeAd'."
I'm having native linker issues with the latest versions.
Can you please assist me?

**Version**
Xamarin > 2.5.1.527436
Xamarin.Google.iOS.MobileAds > 7.27.0.2

**Error log:**

Error		Native linking failed, duplicate symbol: '_OBJC_CLASS_$_GADMediatedNativeAd'.
Error		Duplicate symbol in: /iPhone/Release/mtouch-cache/arm64/registrar.o (Location related to previous error)
Error		Duplicate symbol in

[2018-05-14 16:52] galadril commented on #150
i see now this commit:
https://github.com/xamarin/GoogleApisForiOSComponents/commit/b682e9e60baed53d6e619d0d5bde4ccaf37a70ca

is it related?

[2018-05-14 17:47] chrisfoulds commented on #146
Yes when is the fix ACTUALLY coming out @Redth @SotoiGhost

[2018-05-14 17:59] galadril commented on #150
Looks like that the latest version (7.27.0.3) is not pushed to nuget:
https://www.nuget.org/packages/Xamarin.Firebase.iOS.AdMob/

[code]

[2018-05-14 19:25] brendanzagaeski commented on #146
Cross-referencing note for the Microsoft team

The same error message has also been reported in: <https://developercommunity.visualstudio.com/content/problem/251326/error-mt5212-native-linking-failed-duplicate-symbo.html>

[2018-05-14 21:40] SotoiGhost commented on #146
Guys, just letting you know that Firebase AdMob/Google Mobile Ads v7.27.0.3 is now live on NuGet. A big apology for all the inconveniences that this caused.

If you have any doubt, don't hesitate to ask.

Best,
Israel Soto.

[2018-05-15 08:03] mterwoord commented on #146
Works. Great work!

2018-05-14 23:40 GMT+02:00 Israel Soto <notifications@github.com>:

[2018-05-16 09:31] jawrainey commented on #111
I ran into the same issue today, including many other link issues related to this. Would it be worthwhile to update the [documentation](https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/Firebase.CrashReporting/component/GettingStarted.md) to detail this potential problem and the fix as suggested above @SotoiGhost?

[2018-05-16 20:53] joilsonc commented on #111
1-    Open your project settings
2-    Go to Build tab
3-    Select iOS Build option
4-    Type --registrar:static in Additional mtouch arguments textbox
5-    Click on Ok

it worked fine to me. THANKS A LOT ...I saved too much time...

[2018-05-18 02:14] Sivamuralidhar commented on #111
Thanks @SotoiGhost for providing clear steps to fix the issue. i was seeing this line of code in every site "--registrar:static" but not sure where to place.

[2018-05-18 17:06] rubenc57 opened #151 "AFter updating from v1.2.1.11 to v1.2.1.12 a receive a "is not compatible" error"
Error
"Unable to resolve dependencies. 'Xamarin.Google.iOS.Core 3.1.0.1' is not compatible with 'Xamarin.Google.iOS.InstanceID 1.2.1.12 constraint: Xamarin.Google.iOS.Core (>= 3.1.0.2)'."

[2018-05-18 17:52] SotoiGhost commented on #151
@rubenc57 We had a slip on G.Core version on Xamarin.Google.iOS.InstanceID 1.2.1.12. G.Core was not meant to be updated. Please, downgrade to version 1.2.1.11, there is no difference between these versions.

Sorry for the inconveniences.

Best,
Israel Soto.

[2018-05-18 17:52] #151 closed

[2018-05-23 01:30] jadenrogers commented on #146
On the latest nuget package it works when building for a real device but I still have this same issue when going to the iOS simulator.

Native linking error: 1 duplicate symbol for architecture x86_64

Anyone else having this?

[2018-05-23 03:06] SotoiGhost commented on #146
@jadenrogers What's the name of the duplicated symbol? Maybe [this answer][1] can help you.

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/issues/111#issuecomment-346887313

[2018-05-23 03:25] jadenrogers commented on #146
Thanks @SotoiGhost that worked. I tried that when this issue first came up (which didn't help) and didn't think to give that another go with the fix!

[2018-05-25 21:05] ErwinDeGroot opened #153 "Can't make my ads GDPR compliant"
I'm trying to only show non-personalised-ads. For the life of me I couldn't get this to work. I can't find any documentation how to get this to work in Xamarin, which is surprising since I'm sure there are others that would like to show ads to European users.

According to Google's [webpage](https://developers.google.com/admob/android/eu-consent) I need  to do the following:
    Bundle extras = ne

[2018-05-29 07:41] aoershov opened #154 "Firebase PerformanceMonitoring for Android"
Can not find binding assembly  Firebase PerformanceMonitoring for Android. Are there plans to add support for Android?

[2018-05-29 08:37] Mr-Pearce opened #155 "Is There an ETA for the Firebase Opt-In Features?"
Is There an ETA for this?

[2018-05-31 19:22] SotoiGhost commented on #153
Hi @ErwinDeGroot!

According to this [section][1] in docs, you need to use `Extras.AdditionalParameters` property to set the **non-personalized ads** value. Here's an example that worked for me:

[code]

If you have any doubt, don't hesitate to ask. Also, feel free to reopen the issue if something else related to this appears.

[1]: https://developers.google.com/admob/ios/eu-consent#forward_consen

[2018-05-31 19:22] #153 closed

[2018-05-31 19:49] ErwinDeGroot commented on #153
Hi Isreal,

Your code works perfectly! Thanks for the help. Much appreciated.

Erwin

[2018-05-31 19:58] ilanolkies commented on #46
Use `Firebas.Core.App`.

[2018-05-31 20:32] ilanolkies opened #156 "Xamarin.Firebase.iOS.Analytic not logging session_start until event triggered."
I created a simple app with Xamarin.Forms, and I'm trying to log session_start event.
This event should be sent automatically with `App.Configure()` but it's not happening until an event is raised.

For example:
This logs nothig: (not even session_start, first_open, etc.)
[code]

but this logs everything...
[code]

No exception is thrown.
Using XCode simulators.
Xamarin.Forms version: 3.0.0.482510

[2018-06-04 19:11] lganderson opened #157 "[Crashlytics] - Failed to download settings"
Getting the following error on startup when using Firebase.Crashlytics:
`[Fabric] failed to download settings Error Domain=FABNetworkError Code=-5 "(null)" UserInfo={status_code=403, type=2, request_id=34fcf524b69c2457ddbdcf9237814641, content_type=application/json; charset=utf-8}`

I've looked at the sample project and tried many different things, but have not received any extra information to de

[2018-06-05 17:16] lganderson commented on #157
I figured out this was due to having the Fabric and Firebase apps linked. I unlinked them and went through the setup again on Firebase Crashlytics.

[2018-06-05 17:16] #157 closed

[2018-06-20 21:12] felipecds opened #158 "Native linking failed"
I'm getting this log during build:

Undefined symbols for architecture arm64:
      "_FIRLogBasic", referenced from:
          -[FIRInstanceIDLogger logFuncDebug:messageCode:msg:] in FirebaseInstanceID(FIRInstanceIDLogger_0c879e312576b1b79740d2f19907597f.o)
          -[FIRInstanceIDLogger logFuncInfo:messageCode:msg:] in FirebaseInstanceID(FIRInstanceIDLogger_0c879e312576b1b79740d2f19907597f.o)

[2018-06-21 06:05] SotoiGhost commented on #132
Hi @tharanagaraj! What's the actual status of Remote Config? Right now, I'm working on Firebase 5.0 update and I'm about to touch Remote Config. I'm wondering if you want me to update it or if you have an update ready so I can look at it.

Best!
Israel Soto.

[2018-06-22 02:40] tharanagaraj commented on #132
Hey @SotoiGhost ! Apologies about not following up.
Priorities changed on our end, so this took a back seat. But if you give me another day, I can create a PR with whatever changes I have so far with RemoteConfig. But if you feel like you want to go ahead and update it, that's fine too. Please let me know.

Thank you!

[2018-06-22 04:16] SotoiGhost commented on #132
@tharanagaraj Go ahead and create the PR with the changes you have, I will be glad to continue the update with your changes.

[2018-06-26 23:46] victorarce commented on #111
@joilsonc  thanx man, saved my life.

[2018-06-28 11:00] trinnguyen opened #160 "Google.SignIn 4.1.1.1 Native Linking failed on Simulator build"
6 Errors on building the Xamarin.iOS project for Simulator after adding `Google.SignIn` package (including its dependencies) and use it in the source code (for example: add `SignInButton to View`)
**Build for Device is working well**

**Steps to replicate:**
1. Create brand new Xamarin.iOS project
2. Add nuget package `Xamarin.Google.iOS.SignIn` (latest version 4.11.1)
[code]
3. Add SignInButton t

[2018-06-28 11:20] trinnguyen commented on #160
Reference to the this issue (https://github.com/xamarin/GoogleApisForiOSComponents/issues/111), I was able to fix the setting the registar to static on simulator build.

[code]

[2018-06-28 11:20] #160 closed

[2018-06-29 13:03] nourben opened #161 "Xamarin.iOS.Google.MobileAds : ads display issue"
Hi,

It seems that since i updated Xamarin.iOS.Google.MobileAds to version 7.27.0.3 (because of the issue caused with Visual Studio 7.5.2 on Mac), my in-house campaign illustrated ads are not displayed on Xamarin.iOS project anymore.

The same campaign displays without problem illustrated ads (from in-house campaign) on Android devices, but on iOS I can get only "textual" ads or random AdMob ads.

[2018-07-02 07:02] Mr-Pearce commented on #155
Still no update ?

[2018-07-02 14:06] SotoiGhost commented on #155
Hi @Mr-Pearce! I'm not really sure what you mean with the features you ask. Is there is a particular component that is missing?

[2018-07-02 14:45] Mr-Pearce commented on #155
I am refering to the "**Prevent auto initialization**" aka Opt-in
like shown here [https://firebase.google.com/docs/cloud-messaging/ios/client#prevent_auto_initialization]( https://firebase.google.com/docs/cloud-messaging/ios/client#prevent_auto_initialization)

And also the "**Guides for enabling opt-in for end-user personal data processing**"
here [https://firebase.google.com/support/privacy/](h

[2018-07-02 16:16] SotoiGhost commented on #155
@Mr-Pearce it's coming in the next update of Firebase. I don't have an exact ETA but I think it will be released this month.

[2018-07-02 20:12] alexrainman commented on #158
I solved this adding ```--registrar:static``` as Additional mtouch argument.

[2018-07-02 20:12] alexrainman commented on #154
Xamarin.Firebase.Perf

[2018-07-03 08:12] aoershov commented on #154
Thanks a lot!

[2018-07-03 13:17] Mr-Pearce commented on #155
Thanks for the update.
Will there be an change  of the Analytics dependency for the Cloudmessaging package?

[2018-07-03 15:02] SotoiGhost commented on #155
@Mr-Pearce Yep, in the new version, Firebase removed the Analytics dependency on Firebase Cloud Messaging

[2018-07-04 06:14] Mr-Pearce commented on #155
Great to hear that.

[2018-07-09 06:19] #154 closed

[2018-07-09 06:50] AdelaPetrut commented on #161
I am having the same issue: the add on IOS (i am using AdSize = AdSizeCons.LargeBanner) are not displayed. It works correctly on Android.
The type used on my side and still with problems is: Banner.

Is there a solution for this issue?
Thank you.

[2018-07-11 14:32] tharanagaraj commented on #132
Hi @SotoiGhost - just wondering if the A/B testing bits are going to be part of your update?

[2018-07-11 14:58] SotoiGhost commented on #132
Hey @tharanagaraj! Yep, it is part of the update, I already finished the update. I'm waiting for the approval of the update.

[2018-07-12 01:29] tharanagaraj commented on #132
That's awesome news! Looking forward to trying it out. Thank you very much, @SotoiGhost !

[2018-07-12 13:19] ThomasDhaen opened #162 "Wrong return statement"
https://github.com/xamarin/GoogleApisForiOSComponents/blob/8c5df68e6352381a77f4c938e8d1ae84574ff202/Google.MobileAds/source/Google.MobileAds/ApiDefinition.cs#L2372

ObjC function is void, binding func returns NSValue[]

[2018-07-14 00:31] #162 closed

[2018-07-19 13:06] rkszone opened #163 "Performance Monitoring Sample is not Compiling"
"Downloads/GoogleApisForiOSComponents-master-2/Firebase.Core/source/Firebase.Core/CSC: Error CS1566: Error reading resource 'GoogleToolboxForMac' -- 'Could not find file "Downloads/GoogleApisForiOSComponents-master-2/Firebase.Core/externals/GoogleToolboxForMac"' (CS1566) (Firebase.Core)

Also GTMSessionFetcher, leveldb-library, nanopb, Protobuf is missing,

[2018-07-21 01:01] dennis-kruta commented on #111
In my case, Xamarin.iOS project was successfully built for real iOS device, and was constantly failing to build for iPhone Simulator with "MT5209: Error: 1 duplicate symbol for architecture x86_64 Native linking" error.
@SotoiGhost instructions did the trick and fixed the issue!

Thanks!!!

[2018-07-21 19:34] SotoiGhost commented on #163
Hi @rkszone! To make the sample work, you will need to run the `sh ../build.sh -t externals` command inside of the component's folder as stated in [docs][1]. For example:

[code]

After this, you will be able to run the sample.

If you have any doubt, don't hesitate to ask.

Best!
Israel Soto.

[1]: https://github.com/xamarin/GoogleApisForiOSComponents#working-in-visual-studio

[2018-07-21 19:34] #163 closed

[2018-07-23 12:32] rkszone commented on #163
Hi Team,

This Performance Monitoring is Updated to version 2.0.1.0,  But on Nuget its showing 1.1.0.1, I tried to compile and use dll of this "Performance Monitoring" project in my App project.  But is showing below error. not able to understand what i'm doing wrong, is version 2.0.1.0 available on nuget.

clang: Error: linker command failed with exit code 1 (use -v to see invocation) (App.iOS)

[2018-07-23 12:57] rkszone opened #164 "Performance Monitoring updated version 2.0.1.0 Error"
**Why i'm doing this as current nuget pkg is not showing rendering in firebase and no api call in network section in firebase console:**
Performance Monitoring updated version 2.0.1.0  is not available on Nuget.
So i tried compiling the project from [https://github.com/xamarin/GoogleApisForiOSComponents/tree/master/Firebase.PerformanceMonitoring](url)
and use that dll in my project but its showing

[2018-07-28 12:50] victor-zuev opened #165 "Dynamic Links not passed at first launch"
I've integrated dynamic links for iOS as described in docs (https://firebase.google.com/docs/dynamic-links/ios/receive). Everything works as expected except the first launch of the app. This is critical for us as we rely on deeplinks to properly onboard first-time app users from our website.

Steps:
0. The app is not installed.
1. Click link  from Notes app on iPhone.
2. Link opened in Safari. The

[2018-07-28 13:14] victor-zuev commented on #164
Hi. Have the same issue but with Dynamic Links(

[2018-08-01 14:43] Macjon opened #166 "Wrong base type?"
https://github.com/xamarin/GoogleApisForiOSComponents/blob/8c5df68e6352381a77f4c938e8d1ae84574ff202/Google.MobileAds/source/Google.MobileAds/ApiDefinition.cs#L2342

Why is the base type not a UIView as the original api inherits from a UIView?

[2018-08-01 19:28] crivera commented on #111
I have the same issue and tried the ''--registrar:static" trick but it didn't work. Is it ok to have other mtouch arguments there? Any other suggestions?

[2018-08-03 23:07] mintyfusion opened #168 "Xamarin.Auth - A way to have multiple accounts in the same app using Google Firebase"
We are using Google Firebase Phone Authentication and would like users to connect their multiple accounts in the same app (dual SIM card scenario).

Currently, we can only have one account linked using `Auth.DefaultInstance`. I was wondering if there is a way to hold more than one verified identity?

[2018-08-06 19:54] newky2k commented on #144
@ivocarminati are you still having this issue?  Did you try @SotoiGhost's suggestion?

[2018-08-06 19:57] newky2k commented on #155
@Mr-Pearce  looks like a new version of firebase was released a few days ago.  hopefully this resolves everything for you.

[2018-08-06 19:57] #155 closed

[2018-08-06 20:04] newky2k commented on #158
@felipecds  did using --registrar:static work?

[2018-08-06 20:09] newky2k commented on #136
No further information provided

[2018-08-06 20:09] #136 closed

[2018-08-06 20:18] newky2k commented on #165
@victor-zuev I believe a new version of Firebase for iOS is pending approval and should be available sooon

[2018-08-06 20:18] #165 closed

[2018-08-06 20:32] felipecds commented on #158
@newky2k nope, didn't work. When I revert back to old packages (about 4 versions), did work as expected. The working packages are:

InstanceID 2.0.0
Analytics 4.0.2
Core 4.0.8
CloudMessaging 2.0.4

[2018-08-07 12:52] x21Kenobi opened #169 "MTOUCH : warning MT1302: Could not extract the native library"
Hey there,

I don't know if this is the correct place to write this,
but I found an anomaly with Firebase (iOS packages) and Xamarin.Build.Download (0.4.11).

### Similar Issues
The problem that I meet is similar to these issues:
* https://github.com/xamarin/GoogleApisForiOSComponents/issues/144
* https://github.com/xamarin/GoogleApisForiOSComponents/issues/158

## The problem

If you try to build

[2018-08-09 08:43] santoshg31 commented on #169
Hi I am getting exactly same error mentioned in issue 158.But none of the solutions worked for me.
However I am not using Xamarin Forms but I have created a project in  mvvmcross with .NetStandard 2.0 as my core.Connecting to mac having  Xcode 9 and have pushnotifications enabled in my provisioning profile.Also have enabled push notifications in Entitlements.plist.

One thing I noted in this solut

[2018-08-09 08:57] santoshg31 commented on #158
Hi I am getting exactly same error .But none of the solutions here and in issue 169 worked for me.
However I can't have InstanceID 2.0.0 with Messaging 2.0.4 . So had to downgrade Messaging to 2.0.0 to match up other three in the solution.

However I am not using Xamarin Forms but I have created a project in mvvmcross with .NetStandard 2.0 as my core.Connecting to mac having Xcode 9 and have pushn

[2018-08-10 06:44] Mr-Pearce commented on #155
Sorry for the delay but i cant see any Updates on the Xamarin.Firebase.iOS packages

[2018-08-13 07:37] rohitvipin opened #170 "Support for patterns in polyline"
This is natively supported by google maps iOS sdk.
This is not yet exposed in the component.

[code]

[2018-08-13 07:49] rohitvipin commented on #170
Its is possible by the extension method -

[code]

[2018-08-13 07:49] #170 closed

[2018-08-13 13:56] jonathanantoine commented on #158
same error here.

[2018-08-13 18:38] SotoiGhost commented on #132
@tharanagaraj A/B Testing is live now. Closing this issue.

Best!

[2018-08-13 18:38] #132 closed

[2018-08-13 18:40] SotoiGhost commented on #137
@jzeferino We started using tags and also we added a table on ReadMe file that says what components are deprecated and in which general version is each component. Hope this helps.

Best!
Israel Soto.

[2018-08-13 18:40] #137 closed

[2018-08-13 21:13] SotoiGhost commented on #155
@Mr-Pearce iOS now should be available. If not, please, let me know.

[2018-08-14 03:03] sonnt1012 opened #171 "Xamarin.iOS.Firestore: Failed to get document because the client is offline exception firestore xamarin"
I got this error in Xamarin.iOS.Firestore 0.9.4. It happens when I try to get DocumentSnapshot from Firestore Database. Please see attached image for more detail. If anyone has solution for this errors, please help.
<img width="824" alt="screen shot 2018-08-14 at 10 01 19 am" src="https://user-images.githubusercontent.com/13852761/44069462-1dad63ee-9fa9-11e8-9b31-7406012b37a4.png">

[2018-08-14 03:08] #166 closed

[2018-08-14 03:30] sonnt1012 opened #173 "Xamarin.iOS.Firestore : GRPC_LINUX_EPOLL is not defined when call Firestore.Create(app)"
I got issuse on Xamarin.iOS.Firestore 0.9.4. When I called Firestore.SharedInstance, it works correctly but I want to switch database projects, I used Firestore.Create(app). This bug happened, the app crashes immediately and get a log "GRPC_LINUX_EPOLL is not defined". If anyone have solution for this issues, please help me.

Thanks in advanced,

[2018-08-14 18:33] SotoiGhost commented on #173
@sonnt1012 Can you, please, try upgrading the component to v0.12.5? According to this [post][1] there is a bug on gRPC dependency and Firestore v0.9.4 is using that buggy version. v0.12.5 contains the most recent version of gRPC dependency that contains that fix.

If you have any doubt, please, let me know.

Best,
Israel Soto.

[1]: https://stackoverflow.com/a/48362429/2376248

[2018-08-14 18:38] SotoiGhost commented on #171
This seems to be related to #173. Please, follow the instructions of #173 to see if this gets fixed. If not, please, feel free to reopen this issue.

Best,
Israel Soto.

[2018-08-14 18:38] #171 closed

[2018-08-16 08:25] visuall opened #174 "App crash during guest mode pairing"
When Google Cast is used on ios in guest mode it crashes during  pairing between the app and the Chromecast device. The crash hapopens just before displaying the enter pin dialog. Info for the crash is as follows:

Objective-C exception thrown.  Name: NSInvalidArgumentException Reason: Application tried to present modally an active controller <UIViewController: 0x108dfb990>.
Native stack trace:
	0

[2018-08-17 05:58] krupanshu opened #175 "Xamarin.Goolge.iOS.Signin : Not getting callback of google login in device."
I am using nuget package 4.1.2, and I am getting error like below,

Error configuring the Google context: The operation couldn’t be completed. (com.google.greenhouse error -3.)

And not able to get login call back. Is there any solution for this?

[2018-08-17 15:37] btripp opened #176 "Xamarin Android Crashlytics"
Hey, I just installed the Crashlytics nuget for ios. Do you know when this will available for Android?

[2018-08-18 08:44] krupanshu commented on #175
This happens only on the device. In the simulator, it is working.

[2018-08-20 21:04] newky2k commented on #130
@sbonkosky  We released the latest version of this library 4 days ago, can you check to see if this still and issue for.

[2018-08-20 21:07] newky2k commented on #139
GoogleMobileVision is now part of ML Kit so this would need to a bigger project to bring that to xamarin.

[2018-08-20 21:07] #139 closed

[2018-08-20 21:11] newky2k commented on #164
@rkszone @victor-zuev  an update was pushed out 10 days ago and performance monitoring is now available https://www.nuget.org/packages/Xamarin.Firebase.iOS.PerformanceMonitoring/ and https://www.nuget.org/packages/Xamarin.Firebase.iOS.DynamicLinks

[2018-08-20 21:11] #164 closed

[2018-08-20 21:19] newky2k commented on #175
@krupanshu Could you provide a small demo so that we can replicate the issue and investigate further.

Thanks

[2018-08-20 21:20] newky2k commented on #144
no response for two weeks, closing

[2018-08-20 21:20] #144 closed

[2018-08-20 21:23] newky2k commented on #176
@btripp Crashlytics for android is currently await PR review,  https://github.com/xamarin/XamarinComponents/pull/428.

[2018-08-20 21:23] #176 closed

[2018-08-20 21:24] newky2k commented on #169
@x21Kenobi @santoshg31  could you please provide a small samples with each of your issues so that we can investigate further.

Thanks in advance

[2018-08-21 06:16] victor-zuev commented on #164
Hi. Thanks for reply and updates

вт, 21 авг. 2018 г. в 0:11, Dave Humphreys <notifications@github.com>:

[2018-08-21 17:47] x21Kenobi commented on #169
Hi @newky2k,
unfortunately, I can't.

The project is under internal policy rules of the company where I work and now we have resolve with that "workaround".
As I wrote previously, I didn't open this ticket to criticize your project but to leave a trace of the problem we had encountered.
Maybe this was only a case and nobody will encounter it (I hope).

Regards,
Luke

[2018-08-21 17:49] x21Kenobi commented on #169
Hi @newky2k,
unfortunately, I can't.

As I wrote previously, I didn't open this ticket to criticize your project but to leave a trace of the problem we had encountered.
Maybe this was only a case and nobody will encounter it (I hope).

Regards,
Luke

[2018-08-22 09:49] santoshg31 commented on #169
Hi @newky2k, sorry even I won't be able to share.
However I have managed to build the solution in a very weird way.
1. First I upgraded the Cloudmessaging package from 2.0.8.1 to 3.0.3 which upgraded the other firebase packages as well. I was able to successfully build where Xamarin.Build.Download version was 0.4.6. However I got a message at the top saying unable uinstall the package
 Xamarin.Bui

[2018-08-22 12:33] x21Kenobi commented on #169
Hi @santoshg31

do you the code online on github?
I mean, is open source? If yes, where can I see it?

Regards,
Luke

[2018-08-22 16:03] santoshg31 commented on #169
Hi @x21Kenobi
Sorry I don't have the code on github but here is Appdelegate class which I created referring the above two links. Hope this helps in identifying whats going wrong.

`[Register("AppDelegate")]
    public class AppDelegate : MvxApplicationDelegate, IUNUserNotificationCenterDelegate
    {
        // class-level declarations

        public override UIWindow Window
        {

[2018-08-29 09:32] henningms commented on #158
Adding the latest Xamarin.Firebase.iOS.AdMob package results in save native linking error. It seems the underlying Framework libraries.

Examples:
`warning MSB3341: Could not resolve reference "C:\Users\henni\AppData\Local\XamarinBuildDownloadCache\FAdM-7.31.0\Frameworks\frameworks\GoogleMobileAds.framework". If this reference is required by your code, you may get compilation errors.`
`warning MSB

[2018-08-29 11:58] ThomasDhaen opened #178 "Google.MobileAds 7.31.0.1 symbol names wrong"
Since installing 7.31.0.1, our ads weren't loading.
We get the following error in our console:
`AppiOS[60470:5480658] <Google> Delegate does not conform to the required protocol, DFPBannerAdLoaderDelegate. Add DFPBannerAdLoaderDelegate to App_iOS_Ads_CustomNativeAdLoader's protocol list.`

We saw that symbolic names were removed in following commit:
[https://github.com/xamarin/GoogleApisForiOSComp

[2018-08-29 12:04] dbsntw commented on #158
Got the exact same error after upgrading all packages of my xamarin.ios project automatically. Not sure which exact package update caused it but reverting Xamarin.Build.Download to 0.4.6 as suggested in #169 solved it for me.

After reverting to 0.4.6, I believe other packages are also downgraded
FYI, this now works:
xamarin form project with
Xamarin.Build.Download(0.4.6)
Xamarin.Firebase.iOS.AdMo

[2018-08-31 11:01] ilanolkies commented on #156
@SotoiGhost I’ll try it and tell you ASAP! Thanks.

[2018-08-31 19:30] jonathanantoine commented on #158
It's happening on my Mac too.

[2018-09-01 01:11] SotoiGhost commented on #158
@jonathanantoine After updating Visual Studio for Mac to most recent version, an new error appeared saying that `System.Memory.dll` could not be resolved on Mac side. After following this [workaround][1], I could build and cannot longer reproduce the issue on Windows side. Please, make sure that Visual Studio 2017 and VS4M is up to date and try again. Also, erase `bin`, `obj` folders and the XBD c

[2018-09-03 17:32] newky2k commented on #173
no response for 20 days closing

[2018-09-03 17:32] #173 closed

[2018-09-03 17:33] newky2k commented on #175
no response for two weeks. closing

[2018-09-03 17:33] #175 closed

[2018-09-03 20:03] SotoiGhost commented on #161
@nourben Are you still facing this issue?

[2018-09-04 17:09] newky2k commented on #130
no response for two weeks

[2018-09-04 17:09] #130 closed

[2018-09-05 01:46] SotoiGhost commented on #168
Hi @mintyfusion! According to [this answer][1] on StackOverflow from a Firebase engineer it seems that is not possible. I'll share you part of the answer:

If you want to switch between accounts, I think you should log out and login every time.

Best,
Israel Soto.

[1]: https://stackoverflow.com/a/41897642

[2018-09-05 01:46] #168 closed

[2018-09-05 02:01] deckerst opened #181 "Xamarin.Firebase.iOS.Crashlytics.targets compilation issue when calling Fabric script"
After adding the iOS Crashlytics 3.10.3 package, compilation fails when it's trying to execute the script to upload symbols (I simplified paths but they're all correct):
[code]

It fails because the `Fbrc-1.7.8` folder is missing. It seems that all the items from the package targets ItemGroup are skipped, as the `FCrshlytcs-3.10.3` folder is also missing.

The ItemGroup condition is `('$(OutputTyp

[2018-09-05 02:10] SotoiGhost commented on #181
Hi @deckerst! Can you, please, double check that the `Xamarin.Build.Download` NuGet is referenced to your app project?

[2018-09-05 02:45] SotoiGhost commented on #181
Np :)

Hmm... weird.

Yes, it should work for a regular app, which project did you create for your app?

Please, try one or all of the following suggestions:

1. Re-add the Xamarin.Build.Download NuGet package
2. Delete `[...]/Library/Caches/XamarinBuildDownload/` folder and build again.
3. Remove `bin` and `obj` folders and build again.
4. Download and try the [Crashlytics sample][1] and check if

[2018-09-05 03:14] SotoiGhost commented on #169
Closing due it seems to be a duplicate of issue #158. Please, keep an eye on #158 to see if something can help you to solve this issue. If you feel that this is a different issue, feel free to re-open it.

[2018-09-05 03:14] #169 closed

[2018-09-05 03:33] SotoiGhost commented on #174
Hi @visuall! Are you in a modal view when you are trying to connect to the Cast device? Also, if you can share a test case, I'd appreciate it.

[2018-09-05 05:44] deckerst commented on #181
My solution has the following projects:
- BpuCommon.Core (.NET Standard project, shared with other app)
- BpuCommon.Xamarin.Droid (X-Android project, shared with other app)
- BpuCommon.Xamarin.Forms (.NET Standard project, shared with other app)
- BpuCommon.Xamarin.iOS (X-iOS project, shared with other app)
- Hermes.Droid (deployable X-Android project)
- Hermes.Forms (.NET Standard project)
- Herm

[2018-09-05 06:05] deckerst commented on #181
Regarding the Crashlytics sample, I tried to load the solution you linked, but the package Crashlytics 3.10.3.1 couldn't be restored (this version is not available even in prerelease). Anyway, I fetched the sample solution from the current version 3.10.3, and it successfully downloaded `Fbrc-1.7.8` and `FCrshlytcs-3.10.3` as expected.

I'll try to come up with a test case.

[2018-09-05 07:06] deckerst commented on #181
After investigation, it seems the project structure and dependencies is critical.

"BpuCommon.Xamarin.iOS" is a "Xamarin iOS Class Library" project, and "Hermes.iOS" is a "Xamarin iOS App" project. My App project depends on the Library project. And both projects depend on the Crashlytics package.

When I remove the dependency from the Library project to the Crashlytics package the build succeeds,

[2018-09-05 09:32] nourben commented on #161
Hi
Yes, i'm still facing this issue.

What kind of infos can i give you to make the problem clearer ?

[2018-09-05 11:04] ThomasDhaen commented on #161
@nourben What I usually do, is try to reproduce it in a native Android / iOS project.
If you can reproduce it there, the problem will be in the DFP SDK, rather than the Xamarin bindings.

[2018-09-05 17:06] SotoiGhost commented on #181
@deckerst We decided to implement that conditional because the Firebase client SDKs (for Android, iOS, and Web) are meant to be used in end-user applications.

Anyway, you can always modify the Crashlytics `.targets` file or add your own MSBuild task that downloads the Fabric stuff.

Hope this helps.

I'm closing this right now, feel free to reopen it anytime.

Best!
Israel Soto.

[2018-09-05 17:06] #181 closed

[2018-09-07 21:54] SotoiGhost commented on #158
@jonathanantoine Sorry, I kept the idea that the problem was only on Windows side. Sorry about that.

Jonathan, one question, In which kind of projects are you implementing FIrebase?

[2018-09-07 21:59] jonathanantoine commented on #158
@SotoiGhost no problem. It's a Xamarin platform iOS project.

[2018-09-07 22:40] SotoiGhost commented on #158
Ok, I need to clarify this here because we received a similar report to this where someone was implementing Firebase on a Class Library. Firebase client SDKs (for Android, iOS, and Web) are meant to be used in end-user applications and Firebase' `.targets` files within NuGets packages have a conditional that prevents downloading the Firebase bits if it's not an application project. You can always

[2018-09-07 22:44] SotoiGhost commented on #158
@jonathanantoine Can you delete the `Xamarin.Build.Download` cache folder, located at `~/Library/Caches/XamarinBuildDownload` by default, build again your project and see if XBD is downloading the Firebase stuff, please? If it is downloading the bits, can you provide me a test case? Because I'm not able to reproduce this issue anymore on my side.

Thanks a lot in advance!

[2018-09-10 20:45] jonathanantoine commented on #158
@SotoiGhost exacts same thing after deleting the cache folder. I'll try to create a reprod project to help you fix this :)

[2018-09-12 18:34] andreflourenco opened #183 "Xamarin.Firebase.iOS.Crashlytics build time is taking too long"
After adding the NuGet package Xamarin.Firebase.iOS.Crashlytics to a Xamarin iOS application the build time for the application increased significantly (from about 1 minute to 20 minutes).

By looking at the output window, It seems that what's taking so long is the upload of the DSYM file which can get quite big dependend on the application.

If that is really the case I believe that this build ta

[2018-09-12 19:41] SotoiGhost commented on #183
Hi @andreflourenco! Sorry for the inconveniences that this may cause. Right now, there isn't an "easy" way to disable the MSBuild task, we will work on this to provide a handy way to disable/enable this MSBuild task.

For now, the only way to disable it is by making false the [conditional][1] of the task (by adding `'True' == 'False'` fro example) in the Crashlytics `.targets` file within the NuGe

[2018-09-12 19:41] #183 closed

[2018-09-19 10:55] sathishkumar1624 commented on #111
@SotoiGhost Thank you! You save me.

[2018-09-21 15:49] nourben commented on #161
@ThomasDhaen Thanks for the advice  👍 !
@SotoiGhost I created a native iOS project and it's working well. I have my real in house ad from my campaign
I also tried to create another project (Xamarin Forms) and the in the iOS part, the banner won't display what it's suppose to show.

During my tests, I used 2 kind of ads.
The first is a textual ad. It works well and i have no problem (in native iOS

[2018-09-24 08:16] dev-aritra commented on #111
@SotoiGhost Thanks buddy.

[2018-09-26 14:16] rubo opened #185 "Add Google Nearby Messages"
[Google Nearby Messages API](https://developers.google.com/nearby) for [iOS](https://github.com/googlesamples/ios-nearby/tree/master/messages) is missing.

[2018-09-27 18:59] newky2k commented on #185
@rubo I have added it as an enhancement and assigned it to @Redth

[2018-09-28 16:35] jonathanantoine commented on #158
@SotoiGhost In trying to create a repro project, I noticed that for some reason my project was referencing some Firebase nugets which were causing this issue :
[code]

I removed them to keep only _Xamarin.Google.iOS.MobileAds_ and it seems to be ok now.

Thanks for your help resolving this issue.

[2018-10-04 18:41] munirahkamaluddin opened #187 "SignInWithCustomToken method in Xamarin.Firebase.iOS.Auth give System.InvalidCastException."
Hi,

I trying to use SignInWithCustomToken method with the latest version of Xamarin.Firebase.iOS.Auth (v.5.0.2) with my existing code that worked well with the previous version.
Somehow, after I update the package, it gave me this below error:

System.InvalidCastException.
Specified cast is not valid
  at (wrapper castclass) System.Object.__castclass_with_cache(object,intptr,intptr)
  at ObjCRunt

[2018-10-07 17:31] ndhuy96 opened #188 "Firebase In-App Messaging"
Will Firebase In-App Messaging appear in next version? I really need to use this exciting service!

[2018-10-08 16:36] newky2k commented on #187
@munirahkamaluddin  could you please provide a small sample project that demonstrates the issue.

[2018-10-08 18:26] arivoir opened #189 "Failed to install the app after adding Xamarin.Google.iOS.MobileAds"
I'm having trouble to make the library Xamarin.Google.iOS.MobileAds to work. As soon as I add the nuget package and run the project in the emulator I get the following message

_error HE0046: Failed to install the app 'XXXXXX' on the device 'iOS 12.0 (16A366) - iPhone XS Max': This app could not be installed at this time._

Already tried removing obj and bin as well as xamarin cache, changing the

[2018-10-09 12:40] TylerByte666 opened #191 "CloudMessagingSample can't receive messages from FCM console."
Good day!

I have downloaded your cloud messaging sample and I was able to get it deployed on my iPhone.
When the app launches it shows the default message correctly saying "Hey! To see this sample in action, send a notification from Firebase Console".

When I do that currently I can successfully send a message from the console. But it never reaches the iPhone at all. Can you please help?

**My en

[2018-10-09 13:04] TylerByte666 commented on #191
Is it perhaps because of this step that actually requires me to pay money to be a part of the Developer Program?
https://firebase.google.com/docs/cloud-messaging/ios/certs

[2018-10-10 14:49] ndhuy96 commented on #191
You have to pay money to get Auth Key in order to use this service on your iphone

[2018-10-11 07:00] TylerByte666 commented on #191
Can someone from the repro please confirm before I waste 99USD?

[2018-10-11 16:10] SotoiGhost commented on #191
@TylerByte666 AFAIK, to use Push Notifications on iOS, you must have a developer account.

[2018-10-11 18:20] MaxiTalenti opened #192 "SetUserProperty not work correctly in Xamarin iOS"
Hi, the function Analytics.SetUserProperty(valor, key) in Xamarin iOS it does not work almost always. Why this happens?

I used Xamarin.Firebase.iOS.Analytics package in version 5.0.1.

[2018-10-12 17:32] arivoir commented on #189
Still wondering if I'm the only one having this problem. Is there anyone using Xamarin.Google.iOS.MobileAds?

[2018-10-12 23:35] Snowily opened #193 "current release of admob"
2018-10-13 01:32:27.391846+0200 <Google:HTML> You are currently using version 7.31.0 of the SDK. Please consider updating your SDK to the most recent SDK version to get the latest features and bug fixes. The latest SDK can be downloaded from https://goo.gl/UoiJ8F. A full list of release notes is available at https://developers.google.com/admob/ios/rel-notes.

PLEASE update library or push the pre-

[2018-10-13 21:48] arivoir commented on #189
When trying to deploy the app in a real device I'm seeing this error
_PackageInspectionFailed: Failed to load Info.plist from bundle at path XXXXX/PersonalizedAdConsent.framework_
Any idea?

[2018-10-14 00:36] jamesmontemagno commented on #189
Are you doing this from Windows or macOS? Seems like maybe something is getting linked out. What happens if you do it in Ad-Hoc or App Store build?

[2018-10-14 00:37] jamesmontemagno commented on #189
Try: 7.27.0.3

That is working fine for me.

[2018-10-14 20:31] MorneZaayman commented on #158
Hi

I managed to resolve the issue on Windows and MacOS by downgrading `Xamarin.Firebase.iOS.AdMob`from 7.31.0.2 to 7.27.0.3. The issue only started occurring when I upgraded XCode to version 10, and the latest Visual Studio 2017 (15.8.7) and Visual Studio for Mac (7.6.8)

[2018-10-15 07:48] TylerByte666 commented on #191
Thank you all :)

[2018-10-15 07:48] #191 closed

[2018-10-16 01:38] deckerst opened #194 "Xamarin.Firebase.iOS.Crashlytics issue when uploading symbols on macOS 10.14 Mojave"
A project that used to build fine before now fails after upgrading macOS to Mojave:
`[app-path]/packages/Xamarin.Firebase.iOS.Crashlytics.3.10.3.1/build/Xamarin.Firebase.iOS.Crashlytics.targets(53,3): error MSB3073: The command "/Users/thibaultdeckers/Library/Caches/XamarinBuildDownload/Fbrc-1.7.8/upload-symbols -gsp [app-path]/iOS/GoogleService-Info.plist -p ios bin/iPhone/Release/MyApp.iOS.app.d

[2018-10-16 15:56] newky2k commented on #192
@MaxiTalenti could you please provide a small sample project that demonstrates the issue that you are having.

Regards

[2018-10-16 15:58] newky2k commented on #193
assigned @Redth  to investigate

[2018-10-16 16:01] newky2k commented on #194
@deckerst could you please provide a small sample project that demonstrates this issue so we can investigate further.

Regards

[2018-10-17 18:03] jstawski opened #195 "Is there a plan to upgrade the Google Maps binding to the 2.7.0 SDK?"
The [latest google](https://developers.google.com/maps/documentation/ios-sdk/releases) maps version is 2.7.0. Are there plans to upgrade the binding?

[2018-10-17 18:41] newky2k commented on #195
@jstawski  Thanks for getting in touch.

It is on the todo list and will be upgraded in the near future.

Regards

[2018-10-17 18:41] #195 closed

[2018-10-18 11:35] MaxiTalenti commented on #192
`public static void UpdateInfo(Context context)
        {
            Task.Run(async () =>
            {
                try
                {
                    var value = await Services();
                    PortfolioPreferences.setConfig(FirebaseProperties.Key1, value, context);

                    SubmitInfo(context);
                }
                catch (Exception e)
                {

[2018-10-18 17:10] MaxiTalenti commented on #194
The same happens to me.

[2018-10-18 17:21] newky2k commented on #192
@MaxiTalenti  Thanks for the code.  Does it produce and error/exception or does it simply do nothing?

Regards

[2018-10-19 15:29] Redth commented on #194
Assigning this to @SotoiGhost

[2018-10-22 23:03] Ginokoko opened #196 "Map crashes when device language changed"
When you have your app installed on the device, if you go to the device's settings and change language, the map wont load and will throw this stacktrace:

`CoreData: annotation:  Failed to load optimized model at path '/var/containers/Bundle/Application/62CBDABF-D275-41BC-A518-991987AB5752/Approach.iOS.app/GoogleMaps.bundle/GMSCacheStorage.momd/StorageWithTileVersionID.omo'
2018-10-22 16:38:08.328

[2018-10-24 00:38] allandaleho commented on #194
Hi @SotoiGhost, can we know the status for this? Are there steps we can take to temporarily fix the issue? (currently blocking my deployment and I'm not a Xamarin expert)

Thanks!

[2018-10-24 14:31] newky2k commented on #196
@Ginokoko could you please provide a small sample project that demonstrates a issue.

Regards

[2018-10-24 14:33] newky2k commented on #187
No response for over two weeks closing

[2018-10-24 14:33] #187 closed

[2018-10-26 01:46] WhiskyDM opened #197 "Google Map ios's circle is smaller than Android's"
I draw two circles with the same radius on IOS and Android but
the circle on IOS seems a little smaller than the cirle on Android device.
Can you tell me the reason of this issue.

[2018-10-26 15:06] newky2k commented on #197
@WhiskyDM  that could be any number of reasons, not least the size of the devices running, default zooms on the different devices, etc.

Is it significantly different or is it marginal?   How much of an issue is this?  Can you please provide a sample project that demonstrates this so we can investigate.

Regards

[2018-10-27 08:55] TimA11111 commented on #194
Hi @SotoiGhost, any updates on this?   It's blocking my work at the moment.   Thanks.

[2018-10-29 15:23] psoilemezis commented on #194
Hi I have the same problem.

[2018-10-29 15:45] MaxiTalenti commented on #192
it simply does not do anything but does not record it.

[2018-10-30 01:39] WhiskyDM commented on #197
The radius of circles are the same if both devices are IOS or both are Android.
But there is a difference in display size of circles if one device is IOS and one another is Android.
I compared the two circle's display with location on Google Map,
it can be clearly seen with large scale, that with same center position and same radius,
Android device's circle radius is always 0.2% bigger than that o

[2018-10-30 01:50] SotoiGhost commented on #197
@WhiskyDM Can you try reproducing this issue using native iOS and Android SDKs? We want to make sure that Xamarin is playing on this issue.

Thanks in advance!

Best!

[2018-10-30 07:14] hitsy opened #198 "iOS RemoteConfig - not fetching the values - dev enabled"
Hoping if anyone could assist seems like I have done everything by the book but regardless am not fetching the values - android work beautifully but not iOS - any assistance would be helpfull

[2018-10-30 11:41] usmani93 commented on #46
When I write Firebase.Core.App.Configure() in app delegate's finishedlaunching method, my app crashes, everything is fine except when this line is executed, any help?

[2018-10-30 17:14] newky2k commented on #198
@hitsy Can you please provide a small sample project that demonstrates this issue.

Regards

[2018-10-30 23:05] #194 closed

[2018-11-01 20:55] hitsy commented on #198
This is what i have done - sorry don't have a sample app right now...

AppDelegate -> FinishedLaunching
`...
 Firebase.Core.App.Configure();`

then
`...
public async Task RCInit()
        {
            RemoteConfig.SharedInstance.Init();
            RemoteConfig.SharedInstance.ConfigSettings = new RemoteConfigSettings(true);
            SetDefaultsAsync();
            await FetchRemoteConfig();

[2018-11-02 13:59] thomaaam opened #200 "Assigning delegate to AdLoader does not seem to work"
I am having trouble receiving a native ad from the AdLoader class, and I see these potential issues:
- `AdLoader.Delegate` is `null`
- I am not able to implement this function:
`public func adLoader(_ adLoader:  didReceive nativeAd: GADUnifiedNativeAd)`

This is my code:
[code]

Am I missing something or is the `Delegate` property supposed to be `null` here?

Even if I am missing something, how am

[2018-11-03 07:52] thomaaam commented on #200
There are no issues here except for my implementation.

For the first one I just created another class that I stored a strong reference to in the root view controller:
`readonly MyNativeAdDelegate nativeAdDelegate;`
which implements `IUnifiedNativeAdLoaderDelegate`, as explained in the docs.
Here I can implement the function `public func adLoader(_ adLoader: didReceive nativeAd: GADUnifiedNativeAd

[2018-11-03 07:52] #200 closed

[2018-11-05 17:33] newky2k commented on #198
@hitsy  Thank you for the info, i'll pass this on to @SotoiGhost to investigate further

Regards

[2018-11-05 19:20] romanGarasymovych opened #201 "Xamarin.Google.iOS.SignIn - switching branches breaks solution"
Using the Xamarin.Google.iOS.Google.SignIn v4.2.0 package works, but the project terminates after build with message "The app has been terminated." with no additional output if I switch to other branches that don't use the package. The only noticeable thing I can see is that there is a warning that Google.SignIn.framework is missing in References. However, on other branches it shouldn't be referen

[2018-11-05 20:32] newky2k commented on #201
@romanGarasymovych  Could you please provide a simple project that demonstrates this issue.

Regards

[2018-11-05 21:29] romanGarasymovych commented on #201
I created a sample project here - [Link]( https://github.com/romanGarasymovych/GoogleSignInPackageIssue)

I used version 4.1.1.1, however, because I was getting Native linking errors with highr ones for some reason...

[2018-11-06 06:06] usmani93 commented on #46
I resolved it by not writing this line, and everything is fine,

[2018-11-07 18:37] newky2k commented on #196
No response for two weeks, closing

[2018-11-07 18:37] #196 closed

[2018-11-07 18:38] newky2k commented on #174
no response for over two weeks

[2018-11-07 18:38] #174 closed

[2018-11-07 18:39] newky2k commented on #158
@MorneZaayman  could you try with the latest release 7.32.0

[2018-11-07 21:59] hitsy commented on #198
Any thoughts\Updates ?

[2018-11-08 12:10] JoacimWall opened #202 "Update from 6.0.0.3 to 7.1.1"
Can't build after update
Error log visual studio 2017
Severity	Code	Description	Project	File	Line	Suppression State
Error		Native linking failed, undefined symbol: _kGAIPromotionClick. Please verify that all the necessary frameworks have been referenced and native libraries are properly linked in.	LiberoClub.iOS
Error		Native linking failed, undefined Objective-C class: GAIDictionaryBuilder. The s

[2018-11-08 17:39] SotoiGhost commented on #192
@MaxiTalenti can you, please, try [enabling the debug mode][1] for events and see if they are reaching to Firebase console?

Thanks in advance!

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/Firebase.Analytics/component/GettingStarted.md#enabling-debug-mode

[2018-11-08 20:59] Gil-Littman commented on #194
I'm still seeing this error after updating Crashlytics to 3.10.9 (and all my other packages as well). Am I missing something here?

[2018-11-09 01:32] SotoiGhost commented on #193
@Snowily  [`Xamarin.Google.iOS.MobileAds`][1] v7.32.0 has been released.

Greetings,
Israel Soto.

[1]: https://www.nuget.org/packages/Xamarin.Google.iOS.MobileAds/

[2018-11-09 01:32] #193 closed

[2018-11-09 16:32] SotoiGhost commented on #198
@hitsy Testing our sample everything seems to be working ok. I'll try to replicate your scenario and see what happens.

[2018-11-09 22:54] SotoiGhost commented on #198
@hitsy I think I found the problem. Please, remove the line `RemoteConfig.SharedInstance.Init();` and try again. This line is not necessary to make Remote Config work. The `Init` method lives inside of `NSObject` and is used to create another instance of the class but it is not necessary for this scenario.

Let me know your results.

Best!
Israel Soto.

[2018-11-11 19:54] hitsy commented on #198
@SotoiGhost - Mate... worked like a charm. Not sure why I had called it in the first place.
Thank you

[2018-11-11 19:54] #198 closed

[2018-11-13 13:55] raymondjstone commented on #158
I get the same issue building an xamarin forms app for IOS when everything on PC and Mac are up to date with versions as at today.  Been getting it for a while now, downgrading them all by changing the build version did work but not sure if it still will with Forms 3,3

[2018-11-13 15:28] daniellamolony commented on #158
On visual studio for mac 2017 my project works with:

"Xamarin.Build.Download" version="0.4.11"
"Xamarin.Firebase.iOS.AdMob" version="7.27.0.3"
"Xamarin.Firebase.iOS.Analytics" version="5.1.4"
"Xamarin.Firebase.iOS.Core" version="5.1.3"
"Xamarin.Firebase.iOS.InstanceID" version="3.2.1"
"Xamarin.Google.iOS.MobileAds" version="7.27.0.3"

upgrading **Xamarin.Firebase.iOS.AdMob** and **Xamarin.Google.

[2018-11-13 18:19] SotoiGhost commented on #202
@JoacimWall I think we need more information about this. Can you provide NuGet used? Also, a test case where we can reproduce this issue would be appreciated. Thanks in advance!

[2018-11-14 14:19] daniellamolony commented on #158
This is working now after the visual studio upgrade that came through today to **Xamarin.iOS 12.2.1.10**

id="Microsoft.NETCore.Platforms" version="2.1.2"
id="Xamarin.Build.Download" version="0.4.11"
id="Xamarin.Firebase.iOS.AdMob" version="7.32.0"
id="Xamarin.Firebase.iOS.Analytics" version="5.1.4"
id="Xamarin.Firebase.iOS.Core" version="5.1.3"
id="Xamarin.Firebase.iOS.InstanceID" version="3.2.1"

[2018-11-14 14:41] MorneZaayman commented on #158
@newky2k It didn't work for me, but I haven't updated my Visual Studio and Xamarin.iOS to the latest.

[2018-11-14 15:07] SotoiGhost commented on #201
@romanGarasymovych Can you share the steps to reproduce this issue? I tried your sample repo but with no success of failing when running the app between branches.

Here's my environment info:

[code]

[2018-11-14 20:05] JoacimWall commented on #202
Hi this is hard to reproduce. Now i was able to compile but when i debug the app i get this on 7.1.1
if i change back to 6.0.0.3 it works.

2018-11-14 21:02:52.121362+0100 LiberoClub.iOS[7522:63687] GoogleTagManager info: application launch wait timed out
2018-11-14 21:02:52.121682+0100 LiberoClub.iOS[7522:63687] GoogleTagManager info: Loading container: gtm-n4ngsfw
Thread started:  #8
2018-11-14

[2018-11-15 05:57] faizworks commented on #187
Hey @newky2k

I am getting exactly same error with the latest version latest version of Xamarin.Firebase.iOS.Auth (v.5.0.4). I am using the following code in AppDelegate

[code]

Using the following three packages

- Xamarin.Firebase.iOS.Auth - v5.0.4
- Xamarin.Firebase.iOS.CloudFirestore - v0.13.3
- Xamarin.Firebase.iOS.Core - v5.1.3
- Xamarin.Forms - v3.3.0.967583

[2018-11-16 12:18] JoacimWall opened #203 "GoogleTagManager warning: Can not retrieve container from network. Response: 404"
When i change from version 6.0.0.3 to 7.1.1 i get this when i start the app.

Debug output
[code]
[code]

[2018-11-16 19:18] SotoiGhost commented on #203
Closing this due is a duplicate of issue #202

[2018-11-16 19:18] #203 closed

[2018-11-16 19:56] SotoiGhost commented on #202
@JoacimWall I found the problem. Google Tag Manager framework is not finding the resources at runtime. It seems that the TagManagerResources folder needs a `.bundle` suffix now when moved inside of the `Foo.app`.

Meanwhile the fix hits NuGet, you can keep working by downgrading to **v6.0.0.3** or workaround this with the most recent version of GTM NuGet by modifying a line of `Google.TagManager.t

[2018-11-17 07:14] JoacimWall commented on #202
Tanks  changing the file solved the crash. going back to 6.0.03 was not working solution the app stop working after killing the app on real devices and try to start agin.

Regards Joacim Wall

[2018-11-19 12:01] #202 closed

[2018-11-19 16:19] romanGarasymovych commented on #201
I simply only have to build the branch with the package, and after switching to master, I can't build or deploy until I restart the solution.

I am developing from Windows while pairing to Mac, and when I click on Sttart Debugging, nothing happens

[2018-11-19 20:10] Redth commented on #197
Given these are two separate platforms, I think this is beyond our control, unless you can provide us with samples on each platform (native obj-c and java) which show otherwise.  Closing for now, please open another issue if you have more info.

[2018-11-19 20:10] #197 closed

[2018-11-30 18:03] SotoiGhost commented on #192
No response for more than fourteen days, closing. If you still have this issue, please open a new issue.

[2018-11-30 18:03] #192 closed

[2018-12-01 01:18] SotoiGhost opened #205 "[New] Firebase MLKit for iOS component"
This track Pull Request #190

[2018-12-01 11:19] matgallacher commented on #187
I can confirm this is still an issue with a custom token as per @faizworks  sample code.

Using SignInAsync(token) from 4.4.1.1 does work but it appears to have some issues with Firestore not then being authenticated.

Can this be reopened or does a new issue need raising?

[2018-12-02 21:58] niraj-bpsoftware opened #206 "Not able to push custom events in Firebase Analytics"
I am getting auto events like session_start, screen_view so my iOS App is sending events to Firebase. but not the custom events where event id is a custom value like "MyEvent1"

My environment:
Windows
Visual Studio 2017 version 15.8.9
Nuget Packages:
Xamarin.Firebase.iOS.Analytics - 5.1.4
Xamarin.Firebase.iOS.Core - 5.1.3
Xamarin.Firebase.iOS.InstanceID - 3.2.1

I have mentioned following mlaunch

[2018-12-03 16:36] gnola14 opened #207 "Unable to get managed stack trace on Crashlytics"
Hi,
I created a sample project on VS4M, using one of the available templates (`Multiplatform App-> Native (iOS, Android)`).
When using Crashlytics on the iOS project and simulating a crash, all I can see on Firebase's dashboard is something along these lines

[code]

On the `Build Output` I can see that the dSYM is being correctly uploaded

[code]

I've also manually generated a .zip file with all

[2018-12-03 21:18] SotoiGhost commented on #201
I only tested this on Mac side, I'll try this on Windows.

[2018-12-03 21:30] SotoiGhost commented on #188
We have this component on the radar, but we don't have an ETA. If someone of the community wants to take this, community PR's are very welcome! We can help you through the process.

[2018-12-03 21:33] SotoiGhost commented on #161
@nourben is this still an issue?

[2018-12-03 21:34] SotoiGhost commented on #158
Hi guys, is this still an issue?

[2018-12-03 23:44] niraj-bpsoftware commented on #206
Hi ,
The issue was that I was trying to log an event before Firebase Analytics was initialized.
I have fixed that issue and now it's trying to log the custom event.

However I am getting an error code type 2 (https://firebase.google.com/docs/analytics/errors) firebase event error instead of my custom event which says event name is not correct.
Any pointer on how to provide any custom event name wh

[2018-12-04 16:51] Paul-N commented on #158
I'm experiencing native linking errors too. I've created a simple project for the demo (https://github.com/Paul-N/FirebaseNativeLinkingBug). This project is default Xamarin.iOS project with the set of Firebase nuget packages (see README.md of that project). Errors are similar to @raymondjstone 's comment (see file Erorrs.md of my sample repo). MacOS, XCode and all the Microsoft IDE/Tools are the l

[2018-12-04 17:47] SotoiGhost commented on #206
@niraj-bpsoftware Actually, there is a bug on [`void LogEvent (string name, Dictionary<object, object> parameters)`][1] method where it will not handle correctly the `parameters` argument if it's empty or null. This will be fixed.

For now, if you want to log an event without parameters, please, use the `LogEvent (string name, NSDictionary<NSString, NSObject> nsParameters)` method overload as foll

[2018-12-04 18:16] c-lamont opened #208 "I can not access `CustomEventRequest` Gender property"
From `ICustomEventBanner` method `RequestBannerAd` passes in a `CustomEventRequest` parameter.

`public void RequestBannerAd(AdSize adSize, string serverParameter, string serverLabel, CustomEventRequest request)`

How do I access the `Gender` property as described here:

https://github.com/xamarin/GoogleApisForiOSComponents/blob/5fa20397422e08d7a8ba2c0e9b51c67d3d15af73/Google.MobileAds/source/Goog

[2018-12-04 18:33] SotoiGhost opened #209 "[Firebase][Analytics] App throws an exception if dictionary is empty or null"
If you invoke [`void LogEvent (string name, Dictionary<object, object> parameters)`][1] method with an empty or null `parameters` argument, it will throw an exception as shown on #206. `[Wrap]` attribute must be fixed.

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/Firebase.Analytics/source/Firebase.Analytics/ApiDefinition.cs#L21

[2018-12-04 18:45] SotoiGhost commented on #207
@gnola14 If Firebase Console does not ask you for a certain dSYM, it means that it was successfully uploaded. Can you share the full stack error of what you see on Crashlytics Dashboard on Firebase Console? Thanks in advance.

[2018-12-04 19:10] SotoiGhost commented on #158
@Paul-N Thanks for the test case! I'll investigate this.

[2018-12-04 19:15] raymondjstone commented on #158
It's probably not much help but I have tried the same configuration entirely on a mac and get the same issue, so not related to windows VS, but that was probably obvious anyway

[2018-12-04 21:04] SotoiGhost commented on #208
@c-lamont I double checked this with Google's headers and the `Gender` and `Birthday` properties were marked as obsolete everywhere, even on the `Request` class. Until now, there is no way to access these values.

Best!

[2018-12-04 21:04] #208 closed

[2018-12-05 07:19] c-lamont commented on #208
@SotoiGhost Thanks for investigating and your quick response!

[2018-12-05 16:02] nourben commented on #161
@SotoiGhost No, it's working now.
I made a lot of changes on that project, cleaned everything, updated the plugin to the last version and changed the implementation for the plugin among other things.
Maybe it was an issue on my code, a bad implementation or something like that.
Thanks guys.

[2018-12-05 16:05] SotoiGhost commented on #161
Glad to know that! If something else happens related to this, please, open a new issue.

Best!

[2018-12-05 16:05] #161 closed

[2018-12-05 16:18] SotoiGhost opened #210 "[Firebase][Crashlytics] Add a flag to disable or enable the upload dSYM task to Firebase Console"
Right now, Crashlytics uploads the dSYM to Firebase Console every time you build your app. The time that this task take depends on your internet connection and on the app size.

We must add a flag or something so the user can decide when to upload the dSYM to Firebase Console or not.

[2018-12-05 20:13] newky2k opened #211 "Add nuget-validation to build.cake"

[2018-12-05 20:14] gnola14 commented on #207
Sure @SotoiGhost, I've attached the full crash log. The Dashboard does mention some "Optional" dSYM's that are missing, but none of the UUID's match with the one of my app
[crash_log.txt](https://github.com/xamarin/GoogleApisForiOSComponents/files/2650331/crash_log.txt)

[2018-12-05 23:12] igdit commented on #187
Bump

[2018-12-05 23:14] igdit commented on #187
Same issue here. Which issue should I be following instead?

[2018-12-06 09:03] matgallacher opened #213 "SignInWithCustomToken method in Xamarin.Firebase.iOS.Auth give System.InvalidCastException."
Re-raising this from #187.

The code below is still valid

[code]

[2018-12-06 09:04] matgallacher commented on #187
I've raised #213 , Sample code given in this is valid but needs a way of generating a custom token

[2018-12-06 12:47] igdit commented on #213
Having the same issue. It is definitely related to the AuthResultHandler, since passing in null works fine. In the meantime, I'm having to settle for an ugly workaround that "times out" if the auth state never changes after a set amount of time (could also leverage AddAuthStateDidChangeListener):

            Auth.DefaultInstance.SignInWithCustomToken(token, null);

            // attempt for 5 se

[2018-12-06 16:46] bazookajoey commented on #213
I can +1 this issue for me on the Auth 5.0.4 package. SignInWithCustomTokenAsync and SignInWithCustomToken both throws this exception.

My app listens for auth state changes, I validated that the state change handler is fired before crashing.
`Auth.DefaultInstance.AddAuthStateDidChangeListener((auth, user) => StateDidChange(user, handler));`

[2018-12-06 17:06] SotoiGhost commented on #207
@gnola14 Is the crash a C# exception or it's happening on Objective-C side? Also, I tested our sample and it seems to be working correctly. Can you provide a test case, please?

[2018-12-06 17:22] gnola14 commented on #207
@SotoiGhost it's an unhandled C# exception, being generated on the shared project (I hard-coded throwing an `ArgumentException` on one of the screens). I'll give it another shot with a different sample project to see if I still have the same issue. I'll get back to you with a test case.

[2018-12-06 17:32] SotoiGhost commented on #207
@gnola14 I think that Firebase does not work properly with C# exceptions as the tool was thought to symbolicate iOS side exceptions, not .Net exceptions. I'm not a dSYM expert, to be honest, so, yeah, let's give a try to see if we can achieve that Firebase can symbolicate C# exceptions. I'll wait for a test case. Thanks in advance!

[2018-12-06 18:27] Redth opened #214 "Update Google Maps 2.7.0"

[2018-12-06 18:45] SotoiGhost commented on #213
Thanks for the information guys! As there is a workaround now, I'll look a this, not now, but very soon. This was marked as a high priority for us.

[2018-12-07 12:42] gnola14 commented on #207
@SotoiGhost Sorry if I didn't come back with a test case. I believe you're right, in that Crashlytics won't be able to provide more information about a C# exception. However, I found the method [recordCustomExceptionName](https://firebase.google.com/docs/reference/ios/crashlytics/api/reference/Classes/Crashlytics#/c:objc(cs)Crashlytics(im)recordCustomExceptionName:reason:frameArray:). Far from a p

[2018-12-11 10:03] pizzaeater commented on #214
Hi, I'm waiting for an update to 2.7.x too, 2.5.x is a very old version.

[2018-12-12 15:49] c-lamont opened #215 "ValidAdSizes to NSValue[]"
I am trying to set the `ValidAdSizes`.

This method is deprecated, which takes an array of `AdSize`: https://github.com/xamarin/GoogleApisForiOSComponents/blob/5fa20397422e08d7a8ba2c0e9b51c67d3d15af73/Google.MobileAds/source/Google.MobileAds/Extensions.cs#L284

The property `ValidAdSizes` is a `NSValue[]`:
https://github.com/xamarin/GoogleApisForiOSComponents/blob/5fa20397422e08d7a8ba2c0e9b51c67d3

[2018-12-12 16:07] rguilluy opened #216 "[FireBase] Missing MLVision package ?"
Hi, I'd like to use FireBase sdk to process Barcodes scanning on  Xamarin.droid and Xamarin.Ios projects.
Its possible in a native way (https://firebase.google.com/docs/ml-kit/ios/read-barcodes), but I cant find any Xamarin package for this feature, are you planning to release it ?

Thanks !!

[2018-12-12 16:12] SotoiGhost commented on #207
@gnola14 That's a good way to go, not the best due to the performance but, according to the docs, that's the way to go. Closing this issue then. If you face something else related to this, please, open a new issue.

Happy coding!
Best!

[2018-12-12 16:12] #207 closed

[2018-12-12 16:18] SotoiGhost commented on #214
@pizzaeater We have this on our TODO list and have plans to be updated in the following weeks, but community contributions are also very welcome!

If someone wants to update just the binding project, that would be enough help for us. We can help you in the process and with the other files

[2018-12-12 21:10] c-lamont commented on #215
Found the `AdSizeCons` that has a function to create the `NSValue`.

[code]

[2018-12-12 21:10] #215 closed

[2018-12-13 15:58] SotoiGhost commented on #216
@rguilluy We are working on MLKit for iOS right now. You can follow the progress of it on #190. Hopefully, this will be released this week or the next one.

[2018-12-13 15:58] #216 closed

[2018-12-15 19:50] warpedgeoid commented on #158
I'm seeing this issue on VS Mac (Version 7.7.1; Xamarin.iOS 12.2.1.12) with any 3.x version of Xamarin.Firebase.iOS.CloudMessaging. A total showstopper for one of our projects and a bug that may make me regret pushing Xamarin so hard.

I've reverted to Xamarin.Build.Download 0.4.6 and the resultant downgrade of other packages seems to have resolved the issue. If the downgraded CloudFirestore doesn

[2018-12-19 05:01] Redth commented on #206
We are closing this issue since no response was received.  Please open a new issue referring to this one if you have more information.

[2018-12-19 05:01] #206 closed

[2018-12-19 17:38] SotoiGhost commented on #158
Guys, when you are facing this kind of error:

[code]

Are you using Firebase Core somehow? If yes, can you share the line or code that uses it? Thanks in advance!

[2018-12-19 17:42] SotoiGhost commented on #158
If you are not using Firebase Core, but you have the NuGet referenced, please, add this line anywhere of your app and let me know if this "fixes" the build errors.

[code]

[2018-12-19 17:54] raymondjstone commented on #158
still the same issue on a mac

[2018-12-19 18:04] Paul-N commented on #158
@SotoiGhost Yes it helps, now I'm able to run repro project that I've mentioned above.

[2018-12-19 18:13] Paul-N commented on #158
But I still can not build the project I'm working on, errors are:
clang : error : linker command failed with exit code 1 (use -v to see invocation)
error MT5209 : Native linking error : warning: directory not found for option '-FFInstncID-3.2.1/Frameworks'
error MT5209 : Native linking error : warning: directory not found for option '-FFAnlytcs-5.1.4/Frameworks'
error MT5209 : Native linking error

[2018-12-19 18:59] SotoiGhost commented on #158
@Paul-N Can you double check that Xamarin.Build.Download NuGet has been successfully restored? If yes, delete the Xamarin Build Download cache folder located at `~/Library/Caches/XamarinBuildDownload` and try again

[2018-12-19 19:36] SotoiGhost commented on #158
@raymondjstone Can you share to me the errors that you are still facing, please? Thanks in advance!

[2018-12-19 20:08] raymondjstone commented on #158
Sure, this is from a build with everything current as of today (there was a VS Mac update, I tried before and after installing that). This is entirely the mac to remove the windows VS versions being a component.

Release build.

Target _CopyAppConfigFile:
  Skipping target "_CopyAppConfigFile" because all output files are up-to-date with respect to the input files.
Target CopyFilesToOutputDirector

[2018-12-19 20:20] Paul-N commented on #158
@SotoiGhost Yes, I've reinstall Xamarin.Build.Download and it builds even without hack with var foo = Firebase.Core.Configuration.SharedInstance;

Recently I've moved my project to another Mac host and I have no idea why this particular Nuget package have not restored properly.

[2018-12-19 20:48] SotoiGhost commented on #158
@Paul-N good to know that. The hack/line prevents that the linker strips F.Core, so F.Analytics can use it behind the scenes. So, every time you have F.Analytics referenced, you must use F.Core somehow to achieve the building of your app.

[2018-12-20 20:31] #205 closed

[2018-12-21 19:51] #209 closed

[2018-12-27 13:00] SamuelDebruyn opened #219 "[TagManager] Build fails when adding Tag Manager 7.1.1.1"
[code]

[2018-12-27 15:47] SamuelDebruyn commented on #219
Looks like this is the same issue as #202 but the update to 7.1.1.1 in #204 didn't fix it.

[2018-12-27 16:15] SotoiGhost commented on #219
@SamuelDebruyn Can you provide a test case for this? Thanks in advance!

[2018-12-27 16:40] SamuelDebruyn commented on #219
@SotoiGhost Not publicly, could you send me an email at sam.debruyn@3factr.be with your Bitbucket username? I'll invite you to the repo and send an email with the right branch and commit etc.

[2018-12-27 16:59] SotoiGhost commented on #219
@SamuelDebruyn Email sent

[2019-01-04 22:24] mdalzin opened #220 "Cast button won't appear."
Hello, I've been working on following the tutorial to implement the cast framework, and no matter what I do, I can't seem to get the cast button to appear when there is a device on the same network. I've tried with other apps, and it connects to the chromecast fine.

Here is my code for my delegate and view controller. My view controller is the top view of a navigation view.

[Register("AppDelegat

[2019-01-04 22:59] mdalzin commented on #220
Was just an issue with iOS 12! I added the Access Wifi Information to the entitlements and it worked!

[2019-01-04 22:59] #220 closed

[2019-01-08 13:50] josueeap commented on #111
@SotoiGhost Thanks!!!!, it worked for me!!

[2019-01-08 15:20] raymondjstone commented on #158
I have deleted bin and obj previously but still get the issue, I don't have a ~/Library/Caches/XamarinBuildDownload on my mac

[2019-01-08 20:11] raymondjstone commented on #158
I do now have a clean build in release and debug modes I think (will try tomorrow if this works from the PC but it seems to work on the mac alone).

This time as well as bin and obj directories I wiped the packages directories in all projects and this may have done the trick. Certainly it showing core 5.1.3 installed with no linking errors. Will update this thread tomorrow when I test VS on the PC

[2019-01-09 09:01] raymondjstone commented on #158
Found the cache on the windows PC - C:\Users\rstone\AppData\Local\XamarinBuildDownloadCache in my case, where rstone is my AD user. Clearing this as well as the files on the mac means that the build now works on both platforms.

[2019-01-09 15:51] arsereg opened #221 "FCM Doesn't work on iPhone X family"
It seems that FCM component is failing in the iPhone X family (X, XS, XS Max, XR) but is working with no problems on other iPhones.

I get this error:

Objective-C exception thrown.  Name: NSInvalidArgumentException Reason: -[__NSCFString setObject:forKeyedSubscript:]: unrecognized selector sent to instance 0x282dc6280
Native stack trace:
	0   CoreFoundation                      0x00000001ea44ff68

[2019-01-09 17:50] SotoiGhost commented on #158
@raymondjstone Glad to know that it is working now. I'm closing the issue.

If anyone faces something related to this, please, open a new issue. Thanks in advance!

Happy coding!
Israel Soto.

[2019-01-09 17:50] #158 closed

[2019-01-10 19:43] dmanning23 opened #222 "Update iOS Google Mobile Ads SDK"
Currentlty the version of the Google Mobile Ads SDK used by Xamarin.Google.iOS.MobileAds is 7.32.0
The latest version is 7.37.0 and has several important bug fixes.

I get the following warning message in the console when trying to load a rewarded video:
[code]

Rewarded video is behaving very squirrelly also, with problems such as various events not being fired correctly.

Cheers!

[2019-01-13 19:25] banshee opened #224 "Can't add Xamarin.Google.iOS.SignIn to a project, get error Could not resolve reference "C:\Users\james\AppData\Local\XamarinBuildDownloadCache\GSgnI-4.2.0\Frameworks\GoogleSignIn.framework""
Add the Xamarin.Google.iOS.SignIn nuget to a brand-new iOS project created with the iOS App (Xamarin) template in Visual Studio.

You'll get this error:

Severity	Code	Description	Project	File	Line	Suppression State
Warning		Could not resolve reference "C:\Users\james\AppData\Local\XamarinBuildDownloadCache\GSgnI-4.2.0\Frameworks\GoogleSignIn.framework". If this reference is required by your code,

[2019-01-13 19:35] banshee opened #225 "Try to use Google SignIn, get this to console: "A new version of the Google Sign-In iOS SDK is available""
Presumably you need to update google signin code.  I'm getting this printed on the console:

2019-01-13 11:33:36.409307-0800 TrepperAppiOS[29705:223326] A new version of the Google Sign-In iOS SDK is available: https://developers.google.com/identity/sign-in/ios/release

[2019-01-13 19:37] banshee commented on #224
I'm using Xamarin.Google.iOS.SignIn 4.2.0

[2019-01-13 20:13] banshee opened #226 "Adding Xamarin.Google.iOS.SignIn to a simple iOS project in VSfM, get build errors"
Create a simple iOS project, add the Xamarin.Google.iOS.SignIn 4.2.0 nuget.  Build fails:

"/Users/james/Projects/Test1/Test1/Test1.csproj" (default target) (1) ->
(_CompileToNative target) ->
  clang : error : linker command failed with exit code 1 (use -v to see invocation) [/Users/james/Projects/Test1/Test1/Test1.csproj]
  MTOUCH : error MT5211: Native linking failed, undefined Objective-C clas

[2019-01-13 20:13] banshee commented on #224
On Windows.  On mac, it blows up in a totally different way (see issue 226)

[2019-01-15 02:17] SotoiGhost commented on #225
There is a PR with the update. This will be merged soon.

[2019-01-15 20:53] #213 closed

[2019-01-15 22:46] #214 closed, assigned to SotoiGhost

[2019-01-15 23:34] SotoiGhost commented on #226
@banshee Does this happen when you just add and build the iOS project or did you use `Google.SignIn` in your code somehow?

[2019-01-16 00:18] SotoiGhost commented on #224
@banshee This error commonly happens when Xamarin.Buil.Download NuGet is not restored correctly. Please, remove the NuGet and add it again, please.

Also, this could be related to #226. If adding it again doesn't work, please, try following the [comment][1] on #226 to see if that resolves the problem.

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/issues/226#issuecomment-454592799

[2019-01-16 01:50] banshee commented on #226
Just add it to the project and build, no need to reference anything in code.

[2019-01-16 01:55] SotoiGhost commented on #221
@arsereg I tried our sample on an iPhone XS and everything seems to be working ok.

<img height="500" src="https://user-images.githubusercontent.com/5924210/51221374-d40ea480-18fe-11e9-85ed-8e8410763211.jpeg" />

Can you share a test case, please? Also, the data of the message built on Firebase Console would be helpful. Thanks in advance!

[2019-01-16 04:21] banshee commented on #226
Still errors.  Here's the full output from msbuild:

[code]

[2019-01-16 04:21] banshee commented on #226
I added it here:

[code]

[2019-01-16 17:15] SotoiGhost commented on #226
@banshee The build log suggests that Firebase Core NuGet was not restored correctly. Can you add again the NuGet please and try again?

The test case provided has no Net Standard project, so it didn't build, so, I created a new Forms app, added the line and everything seems to work ok. I share my test case:

[SignInFormsSample.zip](https://github.com/xamarin/GoogleApisForiOSComponents/files/276527

[2019-01-16 22:10] #225 closed

[2019-01-18 18:08] SotoiGhost commented on #201
@romanGarasymovych I can confirm the issue here. This happens with other packages also, not only with Google.SignIn. One solution I have found so far is that, when the message dialog appears on VS, hit **Reload Solution** instead of **Reload**. Also, if you switch branches within VS, everything seems to work correctly. I moved this issue to the iOS Team for a further investigation.

<img width="60

[2019-01-18 18:08] #201 closed

[2019-01-21 22:09] dhindrik commented on #222
It would be great to have this update as soon as possible because I don't get any ads because of the old version.

[2019-01-22 18:12] banshee commented on #226
Seems interesting that your nuget sizes have changed so much - 4.1.1.1 of your released nuget (according to nuget.org) is 643.58 KB, the next two are around 240k , and the most recent 4.4.0 is 37.78 KB.  That sound right?  (I'll try the project you posted)

[2019-01-22 18:23] banshee commented on #226
I opened your project, and it did build OK.  However, I upgraded your project to use 4.4.0, and got:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not decompress the native framework 'FirebaseCore.framework' from '/Users/james/Library/Caches/Xamarin/mtbs/builds/SignInFormsSample.iOS/e03b474d75b5b0cc1915226fd307d555/obj/iPhoneSimulator/Debug/mtouch-cache/FirebaseCore.f

[2019-01-22 18:32] banshee commented on #226
So this one was a Xamarin build problem; I had to rm -rf  * in ~/Library/Caches/Xamarin/mtbs on the mac build host, not on the Windows machine doing the build.  4.4.0 does compile and run from Windows.

[2019-01-22 18:49] banshee commented on #226
I can't get your project to build on a mac, though.  Tried building, then removing bin and obj dirs, and building again, so I don't think it's just a cache/build artifact issue.  Here's the build output:

[buildoutput.txt](https://github.com/xamarin/GoogleApisForiOSComponents/files/2784165/buildoutput.txt)

It's interesting that the build is looking for a file that exists when you build from Visua

[2019-01-22 21:55] banshee commented on #226
I did a complete reinstall, rm -rf /Library/Frameworks/Mono.framework*,Xamarin*, remove visual studio for mac, remove vsfm preview.  That still didn't work.  Then an rm -rf ~/.nuget (even though that's not on the list of selected nuget providers...) solved the problem.

I'm closing this; it's my own machine.  Sorry for taking the time on this one.

[2019-01-22 21:55] #226 closed

[2019-01-22 22:22] SotoiGhost commented on #226
@banshee don't worry! Thanks for sharing that, I've never thought that the `.nuget` folder could be a reason for issues. I'll add that to my notes.

If you face something else related to this, don't hesitate to open a new issue and we'll look into it.

[2019-01-22 22:25] #224 closed, assigned to SotoiGhost

[2019-01-24 12:06] mpsarannyaCharu commented on #87
Hi

I am getting the below error once i have added the freshChat dll on my xamarin.ios project.

Error: linker command failed with exit code 1 (use -v to see invocation) (FreshChatiOS.iOS)

 Error MT5216: Native linking failed for '/Users/sarannya/Projects/FreshChatiOS/iOS/obj/iPhone/Debug/device-builds/iphone9.2-12.0/mtouch-cache/armv7/libHeltChatLib.dll.dylib'. Please file a bug report at http:/

[2019-01-24 14:43] mpsarannyaCharu opened #228 "FreshChat integration from xcode project to xamarin.iOS by bindinglibrary"
Hi

Anyone knows why it error while binding library project.

I am getting the below error once i have added the freshChat dll on my xamarin.ios project.

Error: linker command failed with exit code 1 (use -v to see invocation) (FreshChatiOS.iOS)

Error MT5216: Native linking failed for '/Users/sarannya/Projects/FreshChatiOS/iOS/obj/iPhone/Debug/device-builds/iphone9.2-12.0/mtouch-cache/armv7/libH

[2019-01-28 22:36] SotoiGhost commented on #222
Hi guys! Sorry for the late response. There is a PR with the update but this update has a problem with the Google Mobile Ads framework. Armv7 arch does not contain some symbols that can make your app not to be able to build if you target a device that supports only armv7.

This issue has been already reported to Google [here][1]

Meanwhile, this update will be released as a beta soon.

[1]: https:

[2019-01-28 23:50] SotoiGhost commented on #228
Hi @mpsarannyaCharu!

Can you, please, file this issue on [Xamarin Mac iOS repo][1]?

There they can give better assistance. This repo is only for Google and Firebase components issues related.

Very sorry for the inconveniences.

Greetings!
Israel Soto.

[1]: https://github.com/xamarin/xamarin-macios/issues/new

[2019-01-28 23:50] #228 closed

[2019-01-29 14:26] denWebl opened #230 "Bug GooglePlaceAutocomplete missing city in address prediction in iOS"
I've a bug when search address in google places autocomplete.
In particular, the complete address in the search results is not shown.
I use NuGet  Xamarin.Google.Ios.Places version 2.5.0.1

If I update version in v. 2.7.0, I have error in compilation like this:
Native linking failed, undefined Objective-C class: GMSx_GTLRBatchQuery. The symbol '_OBJC_CLASS_$_GMSx_GTLRBatchQuery' could not be found

[2019-01-29 17:02] rihadavid opened #231 "How to report System.Exception using iOS Crashlytics?"
There is `Crashlytics.SharedInstance.RecordCustomExceptionName()` and `Crashlytics.SharedInstance.RecordError()` but none of them is accepting `System.Exception`. What if I want to manually report a `System.Exception`, with the message, stacktrace etc.? Is it possible or not?

I did not find any docs for the Xamarin.iOS Crashlytics Nuget, so I'm asking here.

[2019-01-30 03:02] SotoiGhost commented on #231
Hi @rihadavid! You'll need to wrap the exception with an `NSError` and use the `RecordError` method or by wrapping it with a `StackFrame` array and using the `RecordCustomExceptionName` method. There isn't a method that receives the exception directly and does this for you. [Here][1]'s an example of how you can use the `RecordError` method.

Hope this helps you.

Best!
Israel Soto

[1]: https://gi

[2019-01-30 03:02] #231 closed

[2019-01-30 03:11] SotoiGhost commented on #230
Hi @denWebl! Sorry for the inconveniences that this can cause. Can you share a test case where I can reproduce the missing autocomplete or the update problem? Thanks in advance!

[2019-01-30 05:01] Redth commented on #221
We are closing this issue since no response was received.  Please open a new issue referring to this one if you have more information.

[2019-01-30 05:01] #221 closed

[2019-01-30 10:06] denWebl commented on #230
![simulator screen shot - iphone x - 2019-01-30 at 10 54 08](https://user-images.githubusercontent.com/47147998/51973931-126b9e00-247f-11e9-8358-4322edfbca9a.png)

[2019-01-30 10:11] denWebl opened #232 "Bug version 2.7.0 Xamarin.Google.Ios.Places"
#230
If I update v 2.5.1 to v. 2.7.0 I have any problem (error) in compilation:

Output windows:
![output](https://user-images.githubusercontent.com/47147998/51974237-c2d9a200-247f-11e9-9673-1cb4abff84c8.png)

[2019-01-30 11:45] #232 closed

[2019-01-31 11:12] pablogupi commented on #158
In my case, the problem was a conflict with versions in Firebase.Core. My project contains https://github.com/CrossGeeks/FirebasePushNotificationPlugin and this use Xamarin.Firebase.iOS.CloudMessaging 2.0.8.1. The package dependencies contains Xamarin.Firebase.iOS.Core 4.0.13.1. When I downgrade GoogleAPis packages with Firebase.Core dependencies is equal to 4.0.13.1, native linking errors is disa

[2019-02-01 14:07] MDThomsen opened #233 "'Xamarin.Firebase.MLKit.Common' dependency does not exist for 'Xamarin.Firebase.iOS.MLKit'"
Should it not be 'Xamarin.Firebase.iOS.MLKit.Common' instead of 'Xamarin.Firebase.MLKit.Common'?
https://www.nuget.org/packages/Xamarin.Firebase.iOS.MLKit/

[2019-02-05 19:06] SotoiGhost opened #234 "[Review] Firebase AdMob for iOS v7.38.0 Pull Request"
Tracks PR #229

[2019-02-05 19:09] SotoiGhost commented on #233
@MDThomsen This is fixed in PR #229

[2019-02-05 19:09] #233 closed

[2019-02-08 14:07] lilleydn opened #235 "Nugget Xamarin.Firebase.iOS.MLKit"
GoogleApisForiOSComponents/Firebase.MLKit/nuget/Xamarin.Firebase.iOS.MLKit.nuspec

I cannot use the nugget as it cannot resolve a dependency

        <dependency id="Xamarin.Build.Download" version="0.4.11" />
        <dependency id="Xamarin.Firebase.MLKit.Common" version="0.13.0.0" />
        <dependency id="Xamarin.Firebase.iOS.Core" version="5.1.8.0" />

It should be Xamarin.Firebase.iOS.MLKit.

[2019-02-08 17:48] thisisthekap commented on #222
As we are not supporting `armv7` devices anyways, the beta nuget would be a live saver for us.

@SotoiGhost Do you have any estimate when the beta nuget is going to be published?

[2019-02-10 19:17] b12kab opened #236 "Question: Firebase Crashlytics setup"
In the [Crashlytics instructions](https://github.com/xamarin/GoogleApisForiOSComponents/blob/03c7782cbc16d874e57ba01db31a6be8e6b8aa12/Firebase.Crashlytics/component/GettingStarted.md) page in the "Set up manual initialization" section, it shows this:

When I run this it gives me this error:
Objective-C exception thrown.  Name: FABException Reason: [Fabric] Value of Info.plist key "Fabric" must be

[2019-02-10 22:20] jessejiang0214 commented on #233
@SotoiGhost  When can we get the new nuget?

[2019-02-11 04:58] jessejiang0214 opened #237 "Xamarin.Firebase.MLKit.Common cannot be built"
I try to use Xamarin.Firebase.iOS.MLKit, but I found the dependency issue on that nuget. Then, I just want to inst MLKit.Common first.
I can install it, but I get build error
[code]

I try to follow up the solution clean cache in this issue https://github.com/xamarin/GoogleApisForiOSComponents/issues/158
It still not work.
Please help us to fix this issue.
Thanks

[2019-02-11 05:01] mikecamimo commented on #226
Hi Banshee,
I have a similar issue. Can you please explain in more detaul where that .nuget folder is located ?

Thanks,
Michael

[2019-02-11 06:39] jessejiang0214 commented on #233
Hi @SotoiGhost , I check out your branch and build nugets. They're build successfully, but I cannot build them in a demo project, Like I create a new empty build and use these nugets as references. It can be install, but cannot build.

[2019-02-11 19:29] banshee commented on #226
You should just be able to do that exact ```rm -rf ~/.nuget``` command; if you're not used to unix, shells turn ~ into your home directory.

[2019-02-12 15:26] dalexsoto opened #238 "'InstanceID' does not contain definition for 'SetApnsToken' after updating Firebase packages"
_From @arvindrajachourasiya on February 12, 2019 11:38_

In my Xamarin.iOS project I started getting errors after updating Firebase nuget packages. Before updating packages all code was working fine.

This is my code

[code]
I have installed these Firebase packages

_Xamarin.Firebase.Analytics
Xamarin.Firebase.CloudeMessaging
Xamarin.Firebase.Core
Xamarin.Firebase.InstanceID_

How can I solve this

[2019-02-12 15:26] dalexsoto commented on #238
Hello, thank you for your report,

This repository is for the Xamarin iOS and Mac SDKs, Firebase is a third party component and you might get a better answer to your question here https://github.com/xamarin/GoogleApisForiOSComponents, I'll move your issue to said repository.

[2019-02-13 08:52] mitian opened #240 "Google.MobileAds v7.38"
Hello,

I am trying to use Google.MobileAds v7.32 from nuget for reward videos. But so far haven't been successful in rendering ad on real device with test ad unit Id. But on simulator it's working fine. So my question over here is that would I need to update Google.MobileAd version from 7.32 to 7.38 in order to resolve this issue and when are we expecting this version to be made live from beta.

[2019-02-13 22:50] b12kab commented on #236
I should also mention this is a Dependency Injection and called from a View Model.

[2019-02-14 21:46] SotoiGhost commented on #230
@denWebl I'm not really sure what's the bug here but this seems to be the intended behavior. The only difference that I see with your results and mine is the details label in the first row. I share you the results testing our sample and Google's sample:

<p>
<div>
<figure>
<img height="500" src="https://user-images.githubusercontent.com/5924210/52819039-ed298300-306d-11e9-8f64-7ad04ce9794a.PNG" />

[2019-02-14 21:46] #230 closed

[2019-02-15 08:42] denWebl commented on #230
@SotoiGhost it's possible to have a code that return your results?
In particular of the first example (c# Sample using v. 2.5.0.1)

[2019-02-15 19:32] qprotex commented on #235
I got the same issue. There is a typo in the dependency name.

[code]

[2019-02-16 08:11] unamed000 commented on #235
I have the same issue. Do you know how can i get the version 0.13.1 ?

[2019-02-18 05:57] MorneZaayman commented on #158
I'm still getting this issue on Windows using Visual Studio 2017 with version 7.32.0. I've picked up in happens when adding ARMv7 or ARMv7s to the supported architectures.

[2019-02-18 06:00] MorneZaayman opened #241 "Native Linking Failed"
Related to https://github.com/xamarin/GoogleApisForiOSComponents/issues/158

The issue is still occurring when adding ARMv7 or ARMv7s to the supported architectures.

[2019-02-18 19:56] SotoiGhost commented on #235
Hi guys! Just letting you know that the fix has been published.

[2019-02-18 19:56] #235 closed

[2019-02-18 19:59] SotoiGhost commented on #237
@jessejiang0214 Just letting you know that the fix has been published.

[2019-02-18 19:59] #237 closed

[2019-02-18 22:46] SotoiGhost commented on #238
@arvindrajachourasiya The `Firebase.InstanceID.InstanceId.SharedInstance.SetApnsToken` method was replaced with [`Firebase.CloudMessaging.Messaging.SharedInstance.SetApnsToken`][1] method.

Best!
Israel Soto

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/Firebase.CloudMessaging/source/Firebase.CloudMessaging/ApiDefinition.cs#L117

[2019-02-18 22:46] #238 closed

[2019-02-18 23:34] jessejiang0214 commented on #237
@SotoiGhost  brilliant!!!, Thanks very much.
Just a quick question, do you know what time Xamarin.Firebase.ML.Vision release or pre-release? Cause we need the same solution for Android.
I create a issue for this https://github.com/xamarin/GooglePlayServicesComponents/issues/180

Would you please give me some ETA about that?

[2019-02-19 09:35] thisisthekap commented on #241
@MorneZaayman Have you tried to ensure proper linking as suggested in https://github.com/xamarin/GoogleApisForiOSComponents/issues/158#issuecomment-448682798?

We did so by just adding this line to our application startup:
`Console.WriteLine(Firebase.Core.Configuration.SharedInstance);`

[2019-02-19 09:44] denWebl opened #242 "Bug GooglePlaceAutocomplete missing city in address prediction in iOS"
@SotoiGhost it's possible to have a code that return your results?
In particular of the first example (c# Sample using v. 2.5.0.1) #230

[2019-02-19 11:24] thisisthekap opened #243 "Xamarin.Firebase.iOS.AdMob 7.38.0.0 nuget not available"
The version 7.38.0.0 Xamarin.Firebase.iOS.AdMob should be available as given in `README.md`, but is not available in nuget feed.

[2019-02-19 18:48] SotoiGhost commented on #236
@b12kab This happens because the Crashlytics component cannot find any api key. Crashlytics looks for an api key inside of the `Info.plist` or `GoogleService-Info.plist`.

The old way to get the api key is by logging into [Fabric][1] page and generating the api key, but this way is now deprecated due to Fabric will move into Firebase soon.

The new way is by adding the `GoogleService-Info.plist` i

[2019-02-19 18:48] #236 closed

[2019-02-20 07:42] thisisthekap commented on #243
Just realized that the new nuget is already available. Sorry for the spam 😀

[2019-02-20 07:43] thisisthekap commented on #240
@mitian The new nuget is available in the feed.

[2019-02-20 13:26] zeerakMush opened #244 "Google MobileAds IOS 7.38 no Ad Adapter"
Hello,

I just updated to version 7.38 of mobile.Ads.Ios. it is now not displaying me test reward video ads previously it was working for simulators  and now it is giving me following error .
"{Request Error: Cannot find an ad network adapter for mediation.}"

I am using following test id
"ca-app-pub-3940256099942544/1712485313"

[2019-02-20 20:48] ashleypringle opened #245 "Unrecognized selector class error after updating to Xamarin.Google.iOS.Core 5.2.0"
After updating Firebase.iOS.Core to 5.2.0 and Xamarin.Firebase.iOS.InstanceID to 3.4.0 our app began to fail to launch after building, giving this error:
[code]
I couldn't find any instances of this error happening to anyone else and couldn't find a solution, so I reverted back to Xamarin.Firebase.iOS.Core to 5.1.8 and Xamarin.Firebase.iOS.InstanceID to 3.3.0, which  seems to have fixed the proble

[2019-02-21 04:11] SotoiGhost commented on #222
Guys! Just letting you know that the update has been released as stable, not as a beta. In the end, we find the solution for armv7 symbols.

Happy coding!
Israel Soto.

[2019-02-21 04:11] #222 closed

[2019-02-21 04:13] SotoiGhost commented on #240
Just letting you know that the update has been released to NuGet.

Best!
Israel Soto.

[2019-02-21 04:13] #240 closed

[2019-02-21 04:16] SotoiGhost commented on #241
In addition to what @thisisthekap said, can you share the stack trace that you get and the NuGets involved, also, a test case would be much appreciated. Thanks in advance!

[2019-02-21 06:14] SotoiGhost commented on #242
@denWebl sure! You can see the code [here][1]. We just invoke Google's View controller and the results you see are provided by Google. IDK if the language device or the location can play on this. Hope this helps you.

I won't close the issue for now, so, feel free to give a reply.

Best!
Israel Soto.

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/Google.Places/samples/Goog

[2019-02-21 17:49] b12kab commented on #210
I'd also like this. That way I could have it upload the dSYM files w/o attaching a device.

[2019-02-21 19:06] andrew-nemtsev commented on #245
The same issue with Xamarin.Google.iOS.Core 5.2.0 this is a blocker

[2019-02-21 21:58] SotoiGhost commented on #245
That internal method exists in v5.1.8 but not in v5.2.0, so maybe can be a cache problem. Can you remove the `bin` and `obj` folders and remove the XBD cache folder located at:

* **Mac**: _~/Library/Caches/XamarinBuildDownload_
* **Windows**: _%LocalAppData%\XamarinBuildDownloadCache_

and try again, please?

If it doesn't work, can you provide the Firebase NuGets involved in your project? Thanks