[2019-02-22 06:23] andrew-nemtsev commented on #245
Deleted bin, obj, ~/Library/Caches/XamarinBuildDownload and result is the same: '+[FIRApp registerAsConfigurable:]: unrecognized selector sent to class 0x10751fc00'

Firebase packages used in project is:
Xamarin.Firebase.iOS.Auth.5.0.4.1
Xamarin.Firebase.iOS.Core.5.2.0
Xamarin.Firebase.iOS.InstanceID.3.4.0
Xamarin.Firebase.iOS.CloudMessaging.3.1.2
Xamarin.Firebase.iOS.Database.5.0.3
Xamarin.Fireba

[2019-02-22 09:10] denWebl commented on #242
Hi @SotoiGhost! Thanks for your support.
I cloned the project that you indicated to me, but when I tested the code I replicated the error.
In particular my problem arises when I search address several times.

In this screenshot, the problem is in another address (the fourth):

![simulator screen shot - iphone xs max - 2019-02-22 at 09 55 43](https://user-images.githubusercontent.com/47147998/53231

[2019-02-22 20:32] ashleypringle commented on #245
Also deleted the bin, obj and ~/Library/Caches/XamarinBuildDownload folder, still receiving the same error.

Firebase packages:
Xamarin.Firebase.iOS.Auth.5.0.4.1
Xamarin.Firebase.iOS.Core.5.2.0
Xamarin.Firebase.iOS.InstanceID.3.4.0
Xamarin.Firebase.iOS.Analytics.5.5.0
Xamarin.Google.iOS.Core 3.1.0.1
Xamarin.Google.iOS.SignIn 4.4.0

Firebase packages after reverting packages to avoid the crash:
Xam

[2019-02-23 08:57] SotoiGhost commented on #242
@denWebl Can you clone [this Google repo][1] and test the Google Places sample, please?

To make the sample work, follow these steps:

1. Install [Cocoapods][2] command if you don’t have it yet
2. In terminal, run ‘pod install’ command inside of the **maps-sdk-for-ios-samples/GooglePlaces** folder.
3. Set your API [here][3]
4. Run the project

Let me know your results.

Best!

[1]: https://github.

[2019-02-23 16:25] SotoiGhost commented on #245
I can confirm that Auth, CloudMessaging and DynamicLinks use the missing selector internally. These components need to be updated. For now, please, downgrade to 5.1.8

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-25 18:53] DigitalNut commented on #244
I also updated to V7.38 of Xamarin.Google.iOS.MobileAds and my (banner) ads stopped showing up. Just shows blank. Was working with the previous version (V7.32 I believe). This is the error message I'm getting in Debug:
"<Google> Cannot find an ad network adapter with the name(s): com.google.DummyAdapter. Remember to link all required ad network adapters and SDKs, and set -ObjC in the 'Other Linker

[2019-02-25 19:37] SotoiGhost commented on #244
@zeerakMush, @DigitalNut Are you using Google's id tests?

[2019-02-25 19:41] DigitalNut commented on #244
@SotoiGhost I get the error with both Test ID and real ID.

[2019-02-27 01:53] vjlomocso commented on #158
I have a similar issue with google maps.
`MTOUCH : warning MT1302: Could not extract the native library 'GoogleMaps'`

we downloaded and modified the source code directly from
https://github.com/amay077/Xamarin.Forms.GoogleMaps

We didn't package it with nuget. We included the project files in our solution

[2019-02-27 01:54] vjlomocso commented on #241
I have a similar issue with google maps.
`MTOUCH : warning MT1302: Could not extract the native library 'GoogleMaps'`

we downloaded and modified the source code directly from
https://github.com/amay077/Xamarin.Forms.GoogleMaps

We didn't package it with nuget. We included the project files in our solution

[2019-02-27 02:17] SotoiGhost commented on #241
@vjlomocso please, double check that Xamarin.Build.Download NuGet package was restored correctly.

[2019-02-27 17:35] ihpedn opened #246 "[Firebase.CloudMessaging] Error while reading embedded mobileprovision"
Hi,

I'm developing an app using Xamarin.Forms.
I'm configuring the app to receive FCM Push Notifications.

I built an .ipa with a distribution certificate and a App Store provisioning profile, and upload it to the AppStore.  Since is not published in production, I'm using the app with TestFlight and seeing the
logs in the device with the Console tool from Xcode. Also, I've already uploaded the .p

[2019-02-27 18:32] DigitalNut commented on #244
FYI: I went back to V7.32 and Ads are working (showing up in my app on real device - iPad).

[2019-02-28 13:48] ihpedn commented on #246
Just an update of this problem.

I wasn't receiving notifications not because of this problem (which still persist and might be reasonable to understand why because maybe is the starting point for another problem in the future).

When the app was restarted, the app could receive notifications.

So why?:
I was implementing `FinishedLaunching` in `AppDelegate.cs` as mentioned in Getting Started docu

[2019-02-28 23:30] vjlomocso commented on #241
@SotoiGhost Yes I did that and before that I also deleted the bin and obj directories and it didn't fix it.

Now I fixed it by creating a new project and adding all the files of the old project into the new project. Lazy fix that didn't really pinpoint the problem but it worked.

[2019-03-01 11:07] unamed000 opened #247 "[Xamarin.Firebase.iOS.MLKit] Can't build project with nuget package"
Hi.

I'm having issue when trying to build the project with package version 0.13.0.1

Below here is the build log:

<details>
<summary>Build log</summary>

[code]

</details>

[2019-03-04 15:10] VistianOpenSource opened #248 "Xamarin.Firebase.iOS.CloudMessaging 3.1.2 issue"
There would appear to be an issue with this nuget package (or perhaps one of its dependencies).

In a brand new Visual Studio 2019 Windows RC application with a default Notification Service Extension in the same solution I've installed this nuget package against the application.

If I don't reference the NSE from the application , the application can build and deploy correctly, if however I do ref

[2019-03-07 09:57] kabilan-ravi opened #249 "Does firestore offline sync supports?"

[2019-03-11 20:00] SotoiGhost commented on #247
@unamed000 Have you initialized Firebase using `Firebase.Core.App.Configure ()`?

[2019-03-11 20:05] SotoiGhost commented on #241
Closing this issue now since no response was received from the owner of the issue.

If anyone faces something related to this, please, open a new issue. Thanks in advance!

Best!
Israel Soto.

[2019-03-11 20:05] #241 closed

[2019-03-11 20:06] SotoiGhost commented on #242
We are closing this issue since no response was received. Please open a new issue referring to this one if you have more information.

[2019-03-11 20:06] #242 closed

[2019-03-12 05:38] unamed000 commented on #247
Hi, thanks for the reply, but i don’t think this is the issue because it’s a build error, not runtime error, and i would like to use MLKit to run on device text recognization, so i think its not necessary to have this initialization?

[2019-03-12 07:00] #247 closed

[2019-03-12 18:09] santiagohdzb commented on #55
It's happening again

[code]

![imagen](https://user-images.githubusercontent.com/8533075/54224647-8dcd6000-44bf-11e9-883b-1b3e60732664.png)

[2019-03-12 20:09] SotoiGhost commented on #244
@DigitalNut @zeerakMush I tested our samples using Google's and real ids, and it's working for me. I did a little investigation of this and some users suggest that this issue happens due to a "user account problem". Can you follow [this thread][1] from the beginning and try the solutions provided? Thanks in advance.

[1]: https://groups.google.com/forum/#!category-topic/google-admob-ads-sdk/23vdoj

[2019-03-12 20:12] SotoiGhost commented on #248
@VistianOpenSource Can you provide a test case, please? Thanks in advance!

[2019-03-12 21:43] SotoiGhost commented on #249
@kabilan-ravi [Here's the documentation][1] of the offline support.

Hope this helps you.

Best!
Israel Soto.

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/Firebase.CloudFirestore/component/GettingStarted.md#enable-offline-data

[2019-03-12 21:43] #249 closed

[2019-03-13 03:27] unamed000 commented on #247
Thanks for your answer, i'll take a look and let you know 👍

[2019-03-13 13:20] VistianOpenSource commented on #248
Try this https://1drv.ms/u/s!AgLeegBmXYAqu4ZIT6XfbHZ9922PIA - brand new solution with current preview version of VS.NET 2019 and 3.1.2 version of CloudMessaging. Application won't build.

[2019-03-14 08:52] SotoiGhost opened #251 "[Review] Google Maps and Google Places v3.0.3 PR"
This track PR #250.

* [x] Pull Request reviewed and Merged
* [x] Components published

[2019-03-14 09:03] denWebl opened #252 "Bug GooglePlaceAutocomplete missing city in address prediction in iOS"
Hi @SotoiGhost! I clone Google repo that you indicated to me and test it. I also followed the steps: download Cocoapods, instal pods and set API key, but I still replicate my problem.
Attach screen.
![BugIOs](https://user-images.githubusercontent.com/47147998/54344047-74075680-4640-11e9-8613-5e012432f7ef.png)

You can see the uncorrect fourth address. (Missing city - State)
Thank for your support.

[2019-03-14 09:06] denWebl commented on #252
You can see the uncorrect fourth address. (Missing city - State)
Thank for your support

[2019-03-17 03:42] Sebastian1989101 opened #253 "Can't build as release with newer version of Xamarin.Firebase.iOS.AdMob (7.27.0.3 is the last working one for me)"
Every time I try to build as release with newer version of Xamarin.Firebase.iOS.AdMob, I got a bunch of error message without any clear hint (at least for me) what I need todo to fix this mess.

Here a list of errors I get if I try to build in release config with the latest version of the Xamarin / Google AdMob components:

[code]

[2019-03-17 14:35] julioalfredo commented on #253
I'm getting the exact same problem.

[2019-03-19 19:51] SotoiGhost commented on #246
@ihpedn With the solution provided, was the issue fixed?

[2019-03-19 19:55] SotoiGhost commented on #253
@Sebastian1989101 Have you initialized Firebase Core using `Firebase.Core.App.Configure ()`?

[2019-03-19 20:14] SotoiGhost commented on #252
@denWebl If this happening too in Obj-C side, it means that the issue comes from Google. Please, try testing the Google's sample using the v3.0.3 of Places and see if the issue was fixed, if not, fill a bug in their [issues tracker][1].

We have the v3.0.3 in review in #250. Hope we can release it this week.

Hope this helps you!

Best!
Israel Soto.

[1]: https://issuetracker.google.com/issues/new

[2019-03-19 20:14] #252 closed

[2019-03-19 20:35] Sebastian1989101 commented on #253
@SotoiGhost I can't even compile the code... also it works fine with the older release... the error above is a compiler error in release when I upgrade my Google API stuff...

[2019-03-19 21:35] SotoiGhost commented on #253
@Sebastian1989101 It seems that the Firebase Core bits are being stripped, that's the reason for the question. Are you using Firebase Core somehow within your app?

[2019-03-19 21:38] Sebastian1989101 commented on #253
@SotoiGhost oh thats makes sense of course. And no, I don't use anything from Firebase except the Google AdMob part. The entire code I use from the whole library is within a renderer (see below). So based on your comment I would need some additional parts to prevent the library from being stripped out?

[code]

[2019-03-19 22:07] SotoiGhost commented on #253
@Sebastian1989101 I can suggest to you two options:

1. Remove the [Xamarin.Firebase.iOS.AdMob][1] NuGet and its dependencies and just add Xamarin.Google.iOS.MobileAds NuGet?

2. Just add a line that make use of Firebase Core like `var configuration = Firebase.Core. Configuration.SharedInstance;` to avoid Core strip.

Hope this helps you!

Let me know your results.

[1]: https://www.nuget.org/pack

[2019-03-19 22:12] Sebastian1989101 commented on #253
@SotoiGhost Thanks for the tip, I will try it tomorrow.

[2019-03-19 22:44] #251 closed

[2019-03-20 01:03] #234 closed

[2019-03-20 05:54] SotoiGhost commented on #248
@VistianOpenSource for some reason I cannot work with the test case provided with VS 2017 or VS 2019. Even if I remove or add the Cloud Messaging NuGet, the IntelliSense and compiler don't detect the Firebase namespace or any change.

I created a brand new solution and replicated your test case using VS 2017 and I could repro the issue even without Cloud Messaging NuGet referenced.

I did the same

[2019-03-21 12:11] Sebastian1989101 commented on #253
@SotoiGhost removing the Firebase components seems to work for now. Thanks for the tip!

[2019-03-22 08:22] SotoiGhost commented on #253
Glad to know that it worked. Closing this issue now.

[2019-03-22 08:22] #253 closed

[2019-03-26 01:28] philmoz opened #255 "Xamarin.Google.iOS.Maps 3.0.3 build error for simulator when deployment target = 8.0"
Steps to reproduce:
- Create blank Xamarin.Forms app using .Net Standard for shared code.
- Add Xamarin.Google.iOS.Maps 3.0.3 NuGet package to iOS project and Shared code project.
- Set Deployment Target to 8.0 in iOS Info.plist
- Build for iOS simulator (any hardware device and iOS version)

Build results in the following error:
MT5209: Error: targeted OS version does not support use of thread lo

[2019-03-26 02:09] SotoiGhost commented on #255
Since v3.0.0 of Google Maps and Places, Google decided to drop iOS 8. Now the minimum target version is iOS 9. This is out of our control. You can see this in the [Google Maps podspec][1].

Sorry for the inconveniences that this may cause.

Best!
Israel Soto.

[1]: https://github.com/CocoaPods/Specs/blob/master/Specs/a/d/d/GoogleMaps/3.0.3/GoogleMaps.podspec.json#L14

[2019-03-26 02:09] #255 closed

[2019-03-26 19:23] VistianOpenSource commented on #248
Hi, Tried your test app. However, the main app didn't reference the notification service extension project. Once it does you then get build errors.

2>    Bundle Id: com.companyname.NSETestWithPreview.MyNSEWithPreview
2>    App Id: 99Y7B5P2A2.com.companyname.NSETestWithPreview.MyNSEWithPreview
2>  /Library/Frameworks/Xamarin.iOS.framework/Versions/Current/bin/mtouch @/Users/jamiemutton/Library/Cac

[2019-03-26 22:59] SotoiGhost commented on #248
@VistianOpenSource The issue happens due to a mismatch configuration between the iOS app project and the NSE project. If you have the `Enable device-specific builds` option checked in one project and disabled in the other one, the issue appears. The workaround for now is to have enabled or disabled the `Enable device-specific builds` option in all projects.

You can find this option in the propert

[2019-03-26 22:59] #248 closed

[2019-03-28 11:44] RushikPatel commented on #146
Hello Guys,

We are getting following errors in VS 2017 at build Xamarin cross platform app existing project.

[code]
Can you please help me to get proper solution and any regarding help links ?

Thanks & Regards

[2019-03-28 17:00] MATAUDI opened #256 "Error sending push notifications Firebase."
Hello, good afternoon.
Develop an application so that users can receive notifications of some offer, the problem is that in "production" mode is not working, does not register to the topic, nor does it receive notificaicones if I test from firebase.
What can be the problem?, only happens to me on the platform IOS.
I Have the latest version downloaded from the plugin.
Thanks a lot.

[2019-03-28 17:39] cerdocervecero commented on #256
i have same problem, help!

[2019-03-29 08:44] SotoiGhost commented on #256
Hi @MATAUDI, this can happen for multiple reasons. Can you provide a test case, so, I could give you better support? Thanks in advance!

[2019-03-29 08:50] SotoiGhost commented on #146
@RushikPatel Can you try this [workaround][1], please, and see what happens? Thanks in advance!

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/issues/111#issuecomment-346887313

[2019-03-29 09:54] RushikPatel commented on #146
Hello @Israel Soto,

Thanks for your reply.
I resolved this error by reinstall #mono.android and #Xamarin.ios dll in assemblies dependency reference.
I m getting following error in ios project after rebuild project.

`Can't resolve the reference 'System.Void Xamarin.Forms.Internals.ResourceLoader/ResourceLoadingQuery::.ctor()', referenced from the method 'System.Void ItsLiveNow.App::InitializeComp

[2019-03-29 11:21] MATAUDI commented on #256
Hi @SotoiGhost, What I do is test the app in Ad-Hoc mode with a topic and it works perfect.
I understand that the mode "Ad-Hoc " simulates being  "Production ".
Once I upload the app in the App Store, it stops registering on the topic and does not receive notifications. Probe with send a message from the Firebase console by topic and by application and neither of the two forms works.
When I test t

[2019-03-29 15:04] DeanFaizal opened #257 "MLKitSample build fails"
![Screen Shot 2019-03-29 at 10 01 29 AM](https://user-images.githubusercontent.com/2334530/55241708-08151880-5212-11e9-8e08-8dfe1ee954dd.png)

It says framework not found for FirebaseCore.

I followed the instructions, have cocoapods installed, ran build.sh for each target except clean. I looked in the Firebase.Core/externals directory and the .frameworks were missing so I created a new ios projec

[2019-03-29 20:13] KyleKofoed opened #258 "Xamarin.Google.iOS.Maps 3.0.3 breaking azure devops build"
**Builds work on local, specs for local:**

<Details>
<Summary>Specs</Summary>

[code]

</Details>

**Get the following error on build:**

Can't resolve the reference 'System.Void ObjCRuntime.Runtime::ReleaseBlockOnMainThread(System.IntPtr)', referenced from the method 'System.Void ObjCRuntime.Trampolines/NIDReverseGeocodeCallback::Finalize()' in 'Xamarin.iOS, Version=0.0.0.0, Culture=neutral, Pub

[2019-03-29 21:04] SotoiGhost commented on #257
@DeanFaizal Can you try again following these steps?

1. Checkout to `Firebase/MLKit/0.13.0.1` tag using `git checkout tags/Firebase/MLKit/0.13.0.1 -b <a_branch_name>`
2. Navigate to `Firebase.MLKit` folder and run `sh ../build.sh -t=clean`
3. Run `sh ../build.sh -t=samples`
4. Open MLKit sample and try to build.

Let me know your results. Thanks in advance!

[2019-03-29 23:12] SotoiGhost commented on #244
Closing this issue now since no response was received from the owner of the issue.

If anyone faces something related to this, please, open a new issue. Thanks in advance!

Best!
Israel Soto.

[2019-03-29 23:12] #244 closed

[2019-03-29 23:38] SotoiGhost commented on #258
@KyleKofoed Can you try [this answer][1] and let me know your result? Thanks in advance!

[1]: https://github.com/martijn00/LottieXamarin/issues/199#issuecomment-475535339

[2019-04-01 08:58] Smoke1987 opened #259 "Google maps iOS SDK: incorrect marker rendering"
When creating a Google Map Controller, and then when using it as a child controller, the marker is drawn incorrectly. And more specifically, then:
1) create a controller (parent)
2) this controller has a view with frame with an upper indent of 64 (any value)
`View.frame = ((0, 64), (width, height))`
3) create a controller with google maps
4) create mapview
`mapView = new MapView(new CGRect(0, 0, p

[2019-04-02 17:02] Smoke1987 commented on #259
An example application that demonstrates the unexpected behavior of the marker is prepared. Thank.

[2019-04-02 23:28] SotoiGhost commented on #246
Closing this issue now since no response was received from the owner of the issue.

If anyone faces something related to this, please, open a new issue. Best!

[2019-04-02 23:28] #246 closed

[2019-04-03 08:19] SotoiGhost commented on #259
@Smoke1987 Can you share the test case, please? Thanks in advance!

[2019-04-03 19:57] DeanFaizal commented on #257
Thanks @SotoiGhost. It works! Previously I had followed the steps to build core from the readme:

but not Firebase.MLKit

[2019-04-03 20:40] SotoiGhost commented on #257
@DeanFaizal Glad that the build worked! Targeting `libs` should work, but I noticed that since Xcode 10, sometimes, Xcode doesn't build some frameworks properly. It builds the framework structure but, for some reason, it deletes the `Foo.a` lib when creating the fat library. That's the reason for the error you faced.

If you face a similar error again, just do a `sh ../build.sh -t=clean` first and

[2019-04-03 20:40] #257 closed

[2019-04-05 05:33] dationguyen commented on #122
someone has revert this change

[2019-04-05 05:55] SotoiGhost commented on #122
@dationguyen Can you open a new issue if this is missing? So we don’t forget to check this. Thanks in advance!

[2019-04-05 06:31] dationguyen opened #260 "Google Cast - castStyle.castViews missing"
Reopen issue #122

[2019-04-05 17:34] zoli13 opened #261 "error MT5210: Native linking failed, undefined symbol"
I have a Xamarin Forms (3.6.0.220655) App , which runs fine on Android + iOS both.
I wanted to add Google Ad support to it, so installed Xamarin.Firebase.iOS.AdMob 7.38 to my iOS project via nuget in VS 2019.

Then I build:

**6 Warnings:**

`warning MSB3341: Could not resolve reference "D:\Users\Zoli\AppData\Local\XamarinBuildDownloadCache\FAdM-7.38.0\Frameworks\frameworks\GoogleMobileAds.framewo

[2019-04-05 18:24] KthProg opened #262 "VisionApi.Create() app cannot be null"
Xamarin Forms 3.6
Windows 10, Mac mini connected for builds.
Xamarin.Firebase.iOS.MLKit v0.13.0.1

When calling VisionApi.Create(), I get an exception saying that parameter app cannot be null. When I call it like this: VisionApi.Create(Firebase.Core.App.DefaultInstance), I get other errors later.

[2019-04-05 19:54] KthProg commented on #262
I wasn't setting up the firebase config correctly

[2019-04-05 19:54] #262 closed

[2019-04-08 04:09] dationguyen commented on #260
@SotoiGhost , Is there any update on this?
i tried to uncomment and create a custom build but it cause some linker error

 Undefined symbols for architecture arm64:
      "_OBJC_CLASS_$_GCKUIStyleAttributesCastViews", referenced from:
          objc-class-ref in registrar.o
      "_OBJC_CLASS_$_GCKUIStyleAttributesConnectionController", referenced from:
          objc-class-ref in registrar.o

[2019-04-08 04:36] dationguyen commented on #261
you may want to update Xamarin.Firebase.Ios.Core to 5.2.0

[2019-04-08 13:37] Smoke1987 commented on #259
Solved. The problem was in the marker image, which is offset in the visible part of the icon ...

[2019-04-08 13:37] #259 closed

[2019-04-08 15:40] zoli13 commented on #261
I don't know that one, I searched for Xamarin.Firebase.iOS.AdMob in nuget, installed, it downloaded all dependency for itself ( I expect the proper ones). Then tried to compile - which failed.
Note, reading your [steps:](https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/Firebase.AdMob/component/GettingStarted.md) , I did not do "Add Firebase to your app" section (ie: downloading Go

[2019-04-08 17:13] SotoiGhost commented on #260
@dationguyen Google changed those symbols visibility from `external` to `private external` making impossible to us to bind these classes, this is why we commented them. I filed a bug to Google and they already changed the visibility again to `external`. The component needs an update to `4.3.5`

[2019-04-08 17:19] SotoiGhost commented on #261
@zoli13 The first warnings and error refer that Xamarin.Build.Download NuGet package was not restored correctly or XBD failed when downloading the bits.

The second errors are related to what you said. If you don't want to use Firebase, please, just install the MobileAds NuGet. This must be added to docs.

[2019-04-08 17:23] #261 closed

[2019-04-08 22:41] dationguyen commented on #260
Cool, Thanks @SotoiGhost

[2019-04-10 18:29] spatialguy commented on #255
Thank you @SotoiGhost !

[2019-04-12 19:09] ngraef opened #263 "Incremental build breaks Analytics custom events and user properties"
### Environment
- macOS 10.14.4
- Visual Studio Mac 8.0.2

### Setup
- In Visual Studio Mac, create a new solution and select iOS Single View App
- Install Xamarin.Firebase.iOS.Analytics NuGet package
- Add GoogleService-Info.plist to solution and set BuildAction to `BundleResource`
- In `AppDelegate.cs#FinishedLaunching` add:

[code]

- In `ViewController.cs#ViewDidLoad` add:

[code]

- In iOS Bu

[2019-04-15 10:17] fl034 commented on #158
@SotoiGhost this helped, thanks.
I was testing with a fresh iOS only project, using MLKit via nuget.

[2019-04-15 19:30] bkanelson opened #264 "Native linking failed error when installing Xamarin.Firebase.iOS.MLKit"
I have created a new Xamarin Forms (v3.6) project and installed the Xamarin.Firebase.iOS.MLKit nuget.

After compiling the project, I get lots of errors like this:

**Until now, I tried the following**:
- Delete bin/obj folders, clean and recompile the project
- Re-install the nuget
- Update xCode to the latest version
- Change linking behaviors in the iOS project.
- Added "--registrar:static" ins

[2019-04-16 15:52] bkanelson commented on #264
Apparently, I was missing the Firebase initialization. It is working now.

[2019-04-16 15:52] #264 closed

[2019-04-16 16:51] Nandulucky opened #265 "UserInfo data is an empty In DidReceiveNotificationResponse ?"
Thanks for your code but I received notifications but handling notifications means when tap the notification called "DidReceiveNotificationResponse" method I'm using below code like,
`var userInfo = response.Notification.Request.Content.UserInfo;`
But I received UserInfo as empty.

Can you please check it once

Thanks
Nandu K

[2019-04-17 13:55] raymondjstone opened #266 "Push notification issues on IOS started when GCM was switched off last week"
We have an existing app, on the IOS only version of it push notiifcations sent by topic started to not arrive when they should. Tracing this back it seems to relate to a cross platform plugin which uses this library to subscribe to topics not ending up with the subscriptions changing at all despite making the correct calls to the subscribe method withiin FireBase.CloudMessaging.

Can't be 100% sur

[2019-04-17 15:11] Eversor opened #267 "Nuget Package broken on IOS?"
Using Visual Studio 19 for Mac, on a IOS Application project.

Today after installing the AdMob package i end up with the following packages, installed and referenced:

Xamarin.Build.Download
Xamarin.Firebase.iOS.AdMob;Analytics;Core;InstanceID
Xamarin.Google.iOS.MobileAds

Unfortunately i don't seem to be able to build anything as I get Native Linking Failed:

[code]

[2019-04-22 16:41] baronchng opened #268 "Framework not found FIRAnalyticsConnector"
I am running Visual Studio for Mac v 8.0.4 (build 0).
When I try to build after updating Firebase Analytics to v5.5.0, it shows the error below:
It was fine when I was still using v4.0.5.

/Users/user/Projects/PewPom/PewPom.iOS/clang: Error: linker command failed with exit code 1 (use -v to see invocation) (PewPom.iOS)
/Users/user/Projects/PewPom/PewPom.iOS/error MT5209: Error: framework not found

[2019-04-29 22:30] SotoiGhost commented on #258
Closing this issue now since no response was received.

If you face something related to this, please, open a new issue. Best!

[2019-04-29 22:30] #258 closed

[2019-05-01 12:38] asatya001 commented on #156
giving monotouch error M1201 if iset "Link all assebly" in xamarin ios, tried with --register:static argument passing in all configurations

[2019-05-01 12:41] asatya001 opened #269 "giving monotouch error M1201 if iset "Link all assebly" in xamarin ios, tried with --register:static argument passing in all configurations"
giving monotouch error M1201 if iset "Link all assebly" in xamarin ios, tried with --register:static argument passing in all configurations

[2019-05-02 10:45] Manne990 opened #270 "MTOUCH : error MT2101"
When I use the latest Firebase Analytics nuget for iOS I get the following error from the hosted mac agent in Azure DevOps. Any idea why?

MTOUCH : error MT2101: Can't resolve the reference 'System.Void ObjCRuntime.Runtime::ReleaseBlockOnMainThread(System.IntPtr)', referenced from the method 'System.Void ObjCRuntime.Trampolines/NIDAppVoidBoolHandler::Finalize()' in 'Xamarin.iOS, Version=0.0.0.0, C

[2019-05-03 17:08] dsancho commented on #158
I'm using VS2019 16.0.3 and have the same problem using xamarin.firebase.ios.admob latest version (7.38.0). I have done try and error and found that with version 7.27.0.3 my app links fine. It fails linking from version 7.31.
I'm using VS for windows.

[2019-05-07 06:36] Manne990 commented on #270
This is the build host in Azure DevOps used that is failing. https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/macos/macos-10.14-Readme.md#xamarin

[2019-05-07 10:32] Manne990 commented on #270
It builds on my local environment, but not in Azure DevOps on the hosted mac. If I downgrade the NuGet package to version 5.1.4.1 it builds both locally and in Azure DevOps.

[2019-05-07 19:30] rehos opened #271 "PlaceType enum is missing mapping for kGMSPlaceTypeStreetNumber"

[2019-05-09 08:01] rayita opened #272 "why Xamarin.Firebase.iOS.DynamicLinks has Analitycs as dependency?"
why Xamarin.Firebase.iOS.DynamicLinks force me to install Xamarin.Firebase.iOS.Analytics even is I don't need/use analytics at all?
Android version has not this dependency.

[2019-05-09 21:55] spaki commented on #158
I was able to solve some of these problems adding this nuget package: https://www.nuget.org/packages/Xamarin.Google.iOS.SignIn/

[2019-05-13 08:00] asatya001 commented on #156
and it works when you set don't link (its not good practice though), after uploading to testflight i got terrible email from apple that it states
" Missing Purpose String in Info.plist File
with NSContactsUsageDescription, NSMicrophoneUsageDescription, NSAppleMusicUsageDescription, NSSiriUsageDescriptionl, aps-environment even though app is not using these stuff, more about my concern is when i go

[2019-05-14 10:41] SSCAtb2 opened #273 "Firebase.Core.App.Configure() Second Call don't work"
Hi
My Problem is  when i first start my App everything works fine but when i start the app the second time i receive no notification.  So i delete the App reinstall it and on the second run i comment out the Line  Firebase.Core.App.Configure(); and all works fine. So my Workaround is to check if i have a token then i dont  call Configure() if not i call the method but when i look in all examples t

[2019-05-15 22:41] VansW commented on #158
I had native linking issues because my app was using another plugin called plugin.FirebasePushNotification
and this plugin was adding Firebase.Messaging 2.0.8 nuget package which was causing native linking issue. So I added the latest version of Firebase.Messaging nuget package and that resolved my issue.

[2019-05-20 04:35] wiljoetradify commented on #271
Version:2.7.0 & 3.0.3

If the Type variable of address component has street_number, it will crash the app...

`street_number has no associated enum value in PlaceType on this platform. (System.NotSupportedException)
  at Google.Places.PlaceTypeExtensions.GetValue (Foundation.NSString constant) [0x007eb] in <bf010dd21a04412d8aece26ae4180407>:0
  at Google.Places.AddressComponent.get_Type () [0x0002

[2019-05-21 10:34] devperson commented on #271
I got same error, any update?

[2019-05-22 03:22] wiljoetradify commented on #271
Seems that it needs only this :)

` // -(NSString *)kGMSPlaceTypeStreetNumberExported;
         [Field("kGMSPlaceTypeStreetNumber", "__Internal")]
         StreetNumber,`

[2019-05-23 10:19] rayita opened #274 "why Xamarin.Firebase.iOS.RemoteConfig has Analitycs as a dependency?"
why Xamarin.Firebase.iOS.RemoteConfig force me to install Xamarin.Firebase.iOS.Analytics even if I don't need/use analytics at all?
Android equivalent has not this dependency.

[2019-05-24 06:07] jges42 commented on #267
Having the same thing v. 7.1.1.1 / on VS 16.1

[2019-05-24 21:09] yatespeter100 opened #275 "iOS Dsym upload failed prevents build in AppCenter"
I have Firebase.Crashlytics latest version installed in my Xamarin app. I can build and deploy locally just fine but when I attempt to use AppCenter to build my app, the build fails with the following error:

[code]

Is there a way to disable the auto upload step in a pre/post build script? Seems to be an illegal instruction in the .targets

[2019-05-27 18:05] udevnull opened #276 "iOS Crashlytics Crash Report on Every try/catch"
Running
- `Xamarin.Firebase.iOS.Core: 5.2.0`
- `Xamarin.Firebase.iOS.Crashlytics: 3.10.9`

Initialised Crashlytics in `AppDelegate.cs`

[code]

The app sends a report to crashlytics on every `try/catch` statement which is obviously not what I'm trying to achieve. How do I stop this?

[2019-06-05 08:52] devRoemer opened #277 "Could not resolve FirebaseInstanceID.framework"
I have the same warning as described here:
https://github.com/xamarin/GoogleApisForiOSComponents/issues/248

Could not resolve reference "C:\Users\myprofile\AppData\Local\XamarinBuildDownloadCache\FInstncID-3.2.1\Frameworks\FirebaseInstanceID.framework"

The cache folder looks like this:
![image](https://user-images.githubusercontent.com/41320207/58938409-0a957080-8775-11e9-936d-f4f6c167a5e0.png)

[2019-06-17 19:52] justintoth opened #279 "Xamarin iOS Firebase App.Configure breaks deep links"
In a Xamarin iOS app, I have configured deep (universal) links to work. If a deep link is clicked, it properly calls AppDelegate.ContinueUserActivity, where I can parse the url and navigate the user somewhere within my app. However, if you integrate in the Firebase SDK and call:

`Firebase.Core.App.Configure ();`

...from within the AppDelegate.FinishedLaunching method (which is the recommended ap

[2019-06-18 10:56] ea-orbital8 commented on #271
I am also having this issue with the nuget package.  If the type variable of address component has street_number, it crashes the app. I am trying @wiljoetradify 's solution, however I am having trouble with native linking errors when I attempt to make that change to the binding library and reference the library that I build myself. Is there a plan to release an update to the nuget package?

[2019-06-19 07:32] udevnull commented on #276
Any update on this?

[2019-06-19 21:42] #256 closed

[2019-06-20 15:08] tele-bird opened #280 "not receiving deep links with custom domain"
I'm seeing bad behavior with Xamarin.Firebase.iOS.DynamicLinks version 3.0.2.1 that doesn't happen in my Swift app that uses pod: Firebase/DynamicLinks version 4.0.0.

I test them both on my iPhone 6 running iOS 12.2.

Using deep links with Google domain works fine in all cases, but when I use a deep link using our custom domain, it fails.  Specific cases include:

1. When app is not pre-installed

[2019-06-20 15:36] justintoth commented on #279
Can someone investigate this? We're going to have to revert back from Firebase to Google Analytics in the short term, because deep links are critical to our app. And using GA is not desirable, as it's going away in October.

[2019-06-21 11:07] tele-bird commented on #280
I notice a few differences in your DynamicLinksSample:

1. You are not using a custom domain (only Google-hosted domain at fpm53.app.goo.gl), and you do not have a FirebaseDynamicLinksCustomDomains key set in your Info.plist.  Maybe you never tested this library with custom domain?

2. In Info.plist, you are using CFBundleURLTypes value of Editor, while my code uses Viewer.  I tried changing this

[2019-06-21 11:15] tele-bird commented on #279
Hi, @justintoth.  I'm not part of the triage team, but I'd suggest adding this line of code right after your call to App.Configure():

Firebase.DynamicLinks.DynamicLinks.PerformDiagnostics(null);

It'll write some diagnostics to Output, and you might find your problem there.

[2019-06-21 18:21] tele-bird commented on #280
It was suggested that the core of my issue had to do with device fingerprinting.  I upgraded the following packages in my project, but it didn't help:

Xamarin.Firebase.iOS.Core 5.1.3  ==>  5.2.0
Xamarin.Firebase.iOS.InstanceID 3.2.1  ==>  3.4.0

Does this library use device fingerprinting, or does it use the clipboard contents that are captured by Firebase?

[2019-06-23 23:00] vasiliy-s commented on #273
https://github.com/firebase/firebase-ios-sdk/issues/2438
Downgrading iOS.Core and iOs.InstnaceId to 5.1.3 and 3.2.0 solved the same issue for me

[2019-06-25 04:27] #260 closed

[2019-06-25 05:24] wiljoetradify commented on #271
I have solved the issue with street number by doing native binding while still waiting for this fix but there are quite a bit of stuff missing.

Postal suffix, AdministrativeAreaLevel4, AdministrativeAreaLevel5 are missing from enums.cs

The only thing I can't seem fix is if we search an address with supermarket as type then the app will crash.

[2019-06-25 09:40] theuchenna opened #284 "Google Places API update for Xamarin.iOS"
## Please when will the iOS update of Google Places API be published, currently my team can't work on any new map based project using Xamarin.iOS. I appreciate you for your swift response on the Android Version of this API, it really saved my team and everyone sends in their regards.

Thanks a bunch,
Am expecting to hear from you.

[2019-06-25 10:03] jason8232590 opened #282 "is there any official library like this for Xamarin.Android?"

[2019-06-25 15:45] SotoiGhost commented on #282
Yes, you can find them on NuGet as [Xamarin.Firebase.*][1]

[1]: https://www.nuget.org/packages?q=Xamarin.Firebase

[2019-06-25 15:45] #282 closed

[2019-06-26 11:08] SamuelDebruyn opened #283 "Unable to build project with Xamarin.Firebase.iOS.InstanceID"
I tried to add Firebase Analytics to my app, but the build started failing due to an error with `Xamarin.Firebase.iOS.InstanceID`.

The build fails from version InstanceId 3.1.1 and upwards.

The relevant part of the build log:
[code]

Visual Studio for Mac error messages:
![image](https://user-images.githubusercontent.com/963413/60175265-53d85d80-9813-11e9-9766-2f0c08361132.png)

Version info:

[

[2019-06-26 11:11] SamuelDebruyn commented on #283
Looks like #267

[2019-06-26 11:12] SamuelDebruyn commented on #283
#277 also looks similar

[2019-06-26 11:25] SamuelDebruyn commented on #283
Actually looks more like an issue with https://github.com/xamarin/XamarinComponents/tree/master/Util/Xamarin.Build.Download but I don't really see what went wrong

[2019-06-26 11:36] SamuelDebruyn commented on #283
Fixed by upgrading Xamarin.Build.Download to 0.5-rc1 Something probably went wrong during the initial download and it was unable to recover

[2019-06-26 21:39] SotoiGhost commented on #260
@dationguyen Google Cast v4.4.2 is live now on NuGet. Hope this helps you. Best!

[2019-06-26 21:42] SotoiGhost commented on #284
@theuchenna The [Google Places for iOS v3.0.3][1] already contains support for the new API. Hope this helps you. Best!

[1]: https://www.nuget.org/packages/Xamarin.Google.iOS.Places/3.0.3

[2019-06-26 21:42] #284 closed

[2019-06-27 12:31] #271 closed

[2019-06-27 16:53] justintoth commented on #279
@tele-bird Nothing useful that I can see.

[2019-06-27 18:49] SotoiGhost commented on #271
Guys! Just letting you know that Google Places v3.1.0 has been pushed to NuGet. This update contains the missing types. If you face a problem related to this, please, file a new issue. Thanks in advance!

Best!

[2019-06-28 15:49] jhatin94 commented on #283
I am also experiencing this issue. I actually commented out all my `using` statements and code related to the Xamarin.Firebase.iOS.Core, Xamarin.Firebase.iOS.Analytics, and Xamarin.Firebase.iOS.InstanceID NuGet packages and still see the same VS errors as shown in the above photo. It seems just including the packages without actually trying to use them causes an issue

[2019-06-29 19:51] tele-bird commented on #279
@justintoth , yep, looks good to me too!

Actually, I just realized your problem...  Whether ContinueUserActivity is fired depends on your Universal Links configuration.  If it's not fired, then it's definitely a problem with Universal Links (and not Firebase).  I find this article helpful for understanding: https://blog.branch.io/ios-9-2-deep-linking-guide-transitioning-to-universal-links/

[2019-07-01 16:08] Owlzy opened #286 "Linking issues with Firebase Analytics and 32 bit cpu's"
We are unable to build when attempting to build for release or appstore after adding Firebase Analytics to our iOS game unless building for ARM64 only.  Funnily enough it does work on debug in the simulator though.

--Versions--
Xamarin.Build.Download - 0.4.6
Xamarin.Firebase.iOS.Analytics - 4.0.5.1
Xamarin.Firebase.iOS.Core - 4.0.13.1
Xamarin.Firebase.iOS.InstanceID - 2.0.8

I came across this pr

[2019-07-02 08:43] stepanic commented on #268
I have the same issue this is the installed on the system:

`Visual Studio Community 2019 for Mac
Version 8.1.3 (build 19)
Installation UUID: 05a355ff-ef92-4a8f-a462-4e0472190e89
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 5.6.0.25 (d16-0 / 50f75273)

	Package version: 518010028

Mono Framework MDK
Runtime:
	Mono 5.18.1.28 (2018-08/223ea7ef92e) (64-bit)
	Package version: 518010028

NuGet
Version: 5

[2019-07-02 08:55] baronchng commented on #268
I totally forgot about this issue I created. I have recently solved this issue but I couldn't find the link again.
This is based off my memories:

1. I deleted `~/Library/Caches/XamarinBuildDownload/`. This is very likely the step that solved the above issue.
2. I also deleted obj/ and bin/ from the project folder. This step did not help me but you can try.
3. I have these in the csproj.
[code]
4.

[2019-07-02 09:12] baronchng commented on #283
I had the same problem after deleting `~/Library/Caches/XamarinBuildDownload/`. I managed to redownload by creating a clean project and referencing all the related packages, and then build succeded.

[2019-07-02 19:25] stepanic commented on #268
Thank you @baronchng but I am not able to fix this issue, I have searched through every similar issue, but still the same issue.

<img width="1340" alt="Screenshot 2019-07-02 at 21 24 55" src="https://user-images.githubusercontent.com/315282/60540647-f6ab4300-9d0f-11e9-8935-a13f0857e4e6.png">

[2019-07-03 09:11] Owlzy commented on #286
Thanks but unfortunately I have tried these steps already.   However I will give it another go using the exact combination of versions you mention and get back.

[2019-07-04 08:08] baronchng commented on #268
You're welcome. What versions are you using for those Firebase packages? Perhaps that could shed some light on why is that problem happening to you.

By the way, this is mine:
[code]

[2019-07-04 10:32] wolf81 commented on #245
Same with Firebase ...

[2019-07-05 18:37] SotoiGhost commented on #286
@Owlzy The Armv7s arch is not supported by Google, you need to remove that slice from your app. If building the app with just Armv7 and Arm64 archs doesn't work, can you provide a test case, please? Thanks in advance.

[2019-07-05 18:48] SotoiGhost commented on #283
When you face an error like `directory not found for option Foo` or `Framework not found Foo` it means that something went wrong with Xamarin Build Download. The package was not restored correctly or maybe an internet issue occurred while downloading the frameworks. Try restoring again the NuGet packages and/or clean the XBD cache folder located at:

* _**Mac**_: ~\Library\Caches\XamarinBuildDownl

[2019-07-05 18:48] #283 closed

[2019-07-05 19:27] SamuelDebruyn commented on #283
Shouldn't we log an issue in https://github.com/xamarin/XamarinComponents/tree/master/Util/Xamarin.Build.Download ? The thing is that I have no idea what went wrong. But it seems like, when a download fails, it never succeeds anymore.

[2019-07-05 20:42] MatFillion opened #288 "Firebase.Performance missing the sessions feature"
The current Xamarin binding (2.1.2.0) uses the global version 5.8.1 of Firebase Performance monitoring.

We would like to leverage the sessions feature added in version [5.11.0 (October 2018)](https://firebase.google.com/support/release-notes/ios#5.11.0).

[Here](https://firebase.googleblog.com/2018/11/firebase-performance-monitoring.html) is a more detailed explanation of the feature.

Are there

[2019-07-08 14:19] MatFillion commented on #276
We're also observing this and it's raising a ton of false data in the firebase dashboards.

I'd like to add more informations and hopefully it can help the investigation.

It seems caught exceptions from a Xamarin.iOS app are being reported as crashes in Firebase.Crashlytics. In fact, the application doesn't crash and the exception is handled by application code.

### Here is the code reproducing

[2019-07-08 15:21] Owlzy commented on #286
@SotoiGhost awesome thank you so much, that worked!

[2019-07-08 16:30] #286 closed

[2019-07-08 16:31] #268 closed

[2019-07-16 15:17] SQUALL0224 opened #290 "Xamarin.Google.ios.MobileAds NSStringFromGADAdsize"
=================================================================
	Native Crash Reporting
=================================================================
Got a SIGSEGV while executing native code. This usually indicates
a fatal error in the mono runtime or one of the native libraries
used by your application.
=================================================================

====================

[2019-07-18 18:04] baronchng opened #291 "Very large .dll sizes compared to previous major version"
I am curious that why the sizes increased by so much that caused my app size to double in size. For example,
version 5.0.3 - 5.15 MB
https://www.nuget.org/packages/Xamarin.Firebase.iOS.Database/

version 4.1.3.1 - 31.29 KB
https://www.nuget.org/packages/Xamarin.Firebase.iOS.Database/4.1.3.1

Is this normal or did I do something wrong?

[2019-07-19 19:14] stepanic commented on #268
@baronchng thank you, I finally solved with a fresh install of Visual Studio for Mac and Xcode but the key step is to delete `~/Library/Caches/XamarinBuildDownload/` but without deleting local `bin` and `obj` when I delete them then the same issue is there.

[2019-07-22 15:24] SaintMSent opened #292 "Error downloading 'XamarinComponent.1.1.0.65' while building libs"
Hi guys
I am trying to build samples from this repository. So I decided to build libs first

Here is the output I get

`sh build.sh --target=libs
using local cake.packages.config...
Downloading NuGet...
Feeds used:
  /Users/maksymfedoriaka/.nuget/packages/
  https://api.nuget.org/v3/index.json

Restoring NuGet package Cake.0.27.0.
Adding package 'Cake.0.27.0' to folder '/Users/maksymfedoriaka/Desk

[2019-07-24 17:21] justintoth commented on #279
@tele-bird Sorry I don't buy it. ContinueUserActivity is fired correctly if Firebase.Core.App.Configure isn't called, which indicates that Universal Links are working correctly (and they have worked correct for years.) Only after calling Firebase.Core.App.Configure does it break and ContinueUserActivity isn't called. I can even call Firebase.Core.App.Configure WITHIN ContinueUserActivity, and then

[2019-07-31 10:19] udevnull commented on #276
Any update on this?

[2019-08-01 19:25] hjavaher opened #294 "Native Linking Error as soon as I add the Xamarin.Google.iOS.MobileAds nuget package in ios"
Hi,
As soon as I add the Xamarin.Google.iOS.MobileAds or Xamarin.Firebase.iOS.AdMob nuget library and use it in my project I get the following Native Linking error. I can't seem to figure out how to fix this and have been unsuccessfully with finding an answer on google. Has anyone else seen this?

I'm on Latest Xamarin.forms 4.1.0.618606 on Visual Studio 2019 and all the packages/everything is upd

[2019-08-05 06:58] dationguyen opened #295 "Google Cast - iOS 13 permission changes - need 4.4.4 binding project"
Hi guys,

Google has released the new API (4.4.4) that support the permission change on IOS13
https://developers.google.com/cast/docs/ios_sender/ios13_changes

I wonder, do we have any plan to update our cast library to 4.4.4 anytime soon?

Thanks and best regards,
Dat Nguyen

[2019-08-07 11:37] kantan-florian opened #296 "Place.Types: no associated enum value"
Hi there,

I got this error when running the DidAutocomplete():
System.NotSupportedException: 'supermarket has no associated enum value in PlaceType on this platform.'

I cannot access the "place.Types" variable, guess the supermarket value is not included in the enums, right?

Thanks,
Florian

[2019-09-06 13:30] amitlodha commented on #188
it will be good Firebase In-App Messaging nuget package is release

[2019-09-06 13:59] ntrivedi23 commented on #188
Looking for the component, should be release soon.

[2019-09-08 17:46] bradlak opened #299 "Google Cast - cannot create UICastButton"
I am trying to create UICastButton instance with
`new UICastButton(new CGRect(0, 0, 24, 24));`

and get the following exception:

I am using Xamarin.Google.iOS.Cast 4.4.2 version.

It is broken library or I am doing something wrong ? Can you share with me some hints, advice or working library ?

Best Regards

[2019-09-09 03:04] dationguyen commented on #299
You need to initialize a cast-service with recieverId first.
GCKCastOptions options = new GCKCastOptions(new DiscoveryCriteria(recieverId));
options.PhysicalVolumeButtonsWillControlDeviceVolume = true;
GCKCastContext.SetSharedInstanceWithOptions(options);

[2019-09-09 17:10] bradlak commented on #299
Great.  How could I miss it.
Thank you.

[2019-09-09 17:10] #299 closed

[2019-09-11 07:07] Aleksey7151 commented on #267
Having the same issue
Visual Studio Community 2019 for Mac
Version 8.0 (build 3001) Xamarin.iOS
Version: 12.4.0.64 (Visual Studio Community)

[2019-09-11 19:00] SOFSPEEL opened #300 "Linking fails when referencing Xamarin.Google.iOS.SignIn from simple iOS project"
- Add a nuget reference to an simple ios project: Xamarin.Google.iOS.SignIn (version 4.4.0)
- Note too that I didn't even reference any google signin classes.
- Get the following linker errors:

[code]

Note that I tried cleaning my nuget cache as following but it didn't help:
`rm -rf ~/.nuget`

Built on Xamarin Mac
[code]

The solution is attached
[jnk.zip](https://github.com/xamarin/GoogleApisFo

[2019-09-11 19:03] SOFSPEEL commented on #300
One other tidbit: If I go back to Xamarin.Google.iOS.SignIn (**version 4.1.1**) the linking error goes away

[2019-09-12 08:05] thisisthekap opened #301 "Xamarin.Firebase.iOS.DynamicLink using outdated firebase-ios-sdk"
We need the fix provided in https://github.com/firebase/firebase-ios-sdk/issues/2112. Therefore, a newer newer version of firebase-ios-sdk is required, to be able to benefit from this fix.

[2019-09-12 08:08] Eirik- opened #302 "Xamarin Cloud Messaging intermittently not recieving notifications"
I'm using Xamarin.Firebase.iOS.CloudMessaging v3.1.2 (nuget), and intermittently I'm not recieving any notification messages on iPhones.

In my latest test, sending messages from the Firebase console:
Message 1: Recieved on iPhone and Android
Message 2 (Duplicate of 1): Only recieved on Android
Message 3 (Duplicate of 1): Only recieved on Android
Message 4 (Duplicate of 1): Only recieved on Androi

[2019-09-13 18:26] applied-kevinsalot opened #303 "Native linking fails when Xamarin.Firebase.iOS.InstanceID added"
Starting with an empty Xamarin.Forms project, adding `Xamarin.Firebase.iOS.InstanceID` package to the iOS project causes linker errors upon build.

I attached the full msbuild log, but here are a few of the errors. Ultimately I was trying to use the `Xamarin.Firebase.iOS.Analytics` package, but I was able to recreate with just its dependencies.

`3>C:\Program Files (x86)\Microsoft Visual Studio\20

[2019-09-14 18:19] Sebastian1989101 commented on #267
Same issue with latest stable releases (as of today) from Visual Studio Enterprise + Visual Studio for Mac Enterprise (both result in the same error). Other apps can compile but it seems like no iOS app (Forms and native) with any reference to Firebase.

[2019-09-16 06:37] Eirik- commented on #302
Downgrading 3.1.2 -> 2.0.8 appeared to have solved the problem, but this should probably be looked at. (Note: Can't be 100% sure as the error was intermittently, but I have not been able to reproduce the error after downgrading - might be coincidence, but seems unlikely. )

[2019-09-16 12:23] SamuelDebruyn opened #304 "SSL error with latest version of Firebase Analytics NuGet package"
I am using the latest stable version of the Firebase Analytics NuGet package and my events don't seem to come through anymore. I see the following in my logs:

[code]

[2019-09-18 23:24] Shaggy13spe commented on #245
This is still an issue today. Has there been any movement on this?

[2019-09-25 05:50] MarekM60 opened #307 "iOS13 troubles with adding FCM"
### Xamarin.Android Version (eg: 6.0):

### Operating System & Version (eg: Mac OSX 10.11):

### Google Play Services Version (eg: 8.4.0):

### Describe your Issue:

### Steps to Reproduce (with link to sample solution if possible):

### Include any relevant Exception Stack traces, build logs, adb logs:

Reading project file /Users/marek/Projects/eDroplet/eDroplet.iOS/eDroplet.iOS.csproj.
Persisti

[2019-09-25 11:56] orestesgaolin opened #306 "App freezes on "Property 'value' on Entity 'GMSCacheProperty' is using nil or an insecure NSValueTransformer""
While using Xamarin.Google.iOS.Maps  in 3.1.0 (but 2.X.X also) I get following errors in the console:

[code]

No other error is visible in the console log :(

The app freezes without any additional information. Background services etc. work correctly but the UI is completely frozen and unusable.

They started showing after update to the newest Xamarin version and occur both on iOS 12.2 and iOS 13

[2019-09-26 21:35] apy534 commented on #245
I was also facing the same issue.
I have traced the solution.
Add below lines in Info.plist file, close the solution, reopen and run again.

<key>NSAppTransportSecurity</key>
 <dict>
      <key>NSAllowsArbitraryLoads</key><true/>
 </dict>

[2019-09-27 02:33] emiliobongiorno commented on #290
Is anyone looking to this issue?
My app is crashing because of this

[2019-09-27 10:20] rickclephas commented on #307
It seems you are using the `Xamarin.Firebase.Messaging` package in an iOS project.
This package is the Android version. You should use the `Xamarin.Firebase.iOS.CloudMessaging` package for iOS projects.

[2019-09-27 21:07] Shaggy13spe commented on #245
Unfortunately, this did not work for me. Sticking with 5.1.8 for now.

[2019-09-28 19:21] apy534 commented on #245
@Shaggy13pe
If you have added plugin xamarin.firebase.ios.analytics, remove it and try again

[2019-09-29 02:58] Shaggy13spe commented on #245
No I don’t have that. I have the Auth module, but that’s it.

Sent from my iPhone

[2019-09-30 12:26] CristhianNY commented on #267
Hello somebody find the solution ? I getting the same error too

[2019-10-02 16:42] emiliobongiorno commented on #290
NVM.. it was crashing for a different reason... still having this warning anyway

[2019-10-02 17:38] emiliobongiorno opened #309 "Update iOS Google Mobile Ads SDK"
Currently the version of the Google Mobile Ads SDK used by Xamarin.Google.iOS.MobileAds is 7.38.0
The latest version is 7.50.0 and has several important updates.

**I am having issues showing interstitial ads on iOS13**. They are shown as modals (this new 'popups' of iOS 13), and I want to show them on full screen as before.
I used [this implementation for iOS Intesrtitials](https://www.c-sharpcor

[2019-10-03 09:58] hongkouHenk commented on #295
Can we expect an update for compatibility with the Cast SDK 4.4.4? I am currently experiencing the issue where the cast button does not appear on iOS13 devices as described on the Google developers page:

"Action Required: Update to Cast SDK 4.4.4 or the cast button may not appear if the user does not grant location permission. Upgrading to Cast SDK 4.4.4 is necessary to ensure a reliable casting

[2019-10-05 09:54] tipa commented on #309
The Nuget package apparent got updated to v7.47.0, however my apps now fail to compile:
![image](https://user-images.githubusercontent.com/2863198/66253322-dc499100-e766-11e9-9b1d-1b0f00e5fe4e.png)

[2019-10-05 21:12] Nerves82 opened #310 "Updated from 2.5 to 3.1 and now missing PlacePickerViewController and others"
I updates an app I am fixing from 2.5.x up to 3.1 and many classes that where in the package are now nowhere to be found, in particular PlacePickerViewController and PlacePickerViewControllerDelegate. Where did these go? Did they get deprecated? Do I need a   second package now? How do I continue to use this?

[2019-10-05 22:13] SotoiGhost commented on #309
@emiliobongiorno An update for Google Mobile Ads has been pushed, please, try updating to see if the update fixes the problem.

@tipa That error seems to happen when Xamarin.Build.Download NuGet was not restored correctly or there was a problem when downloading the Framework. Please, delete the [Xamarin.Build.Download cache][1], bin and obj folders, restore again the NuGets on the solution and try

[2019-10-05 22:17] SotoiGhost commented on #245
Firebase v6.5.0 has been pushed, this update resolves missing symbols.

[2019-10-05 22:17] #245 closed

[2019-10-05 22:19] SotoiGhost commented on #263
Is this still an issue?

[2019-10-05 22:23] SotoiGhost commented on #265
Is this still an issue?

[2019-10-05 22:25] SotoiGhost commented on #266
Is this still an issue?

[2019-10-05 22:32] SotoiGhost commented on #267
Is this still an issue?

[2019-10-05 22:36] CristhianNY commented on #267
I found the solution for me , I deleted the folder (packages) and that solve my problem.

[2019-10-05 22:59] SotoiGhost commented on #310
According to this [Google doc][1]:

There is no way to still continue using the `PlacePickerViewController` class.

Hope this helps you.
Best!

[1]: https://developers.google.com/places/ios-sdk/client-migration#place_picker_is_no_longer_available

[2019-10-05 22:59] #310 closed

[2019-10-05 23:00] SotoiGhost commented on #269
Is this still an issue?

[2019-10-05 23:47] emiliobongiorno commented on #309
It is fixed now!
The ads are shown in full screen.
Thanks @SotoiGhost

[2019-10-05 23:48] SotoiGhost commented on #309
@emiliobongiorno Glad to know that it's working! Closing this issue now! Best!

[2019-10-05 23:48] #309 closed

[2019-10-06 07:50] raymondjstone commented on #266
I no longer work at the place having the issue. but it was 'resolved', it was something to do with the example code setting the list of topics at the wrong point and the code needed tweaked a little to set the list of subscribed topics at a slightly different point otherwise the list internally was being set incorrectly

[2019-10-06 12:16] tipa commented on #309
@SotoiGhost did what you told me (on both PC and Mac) but the error still showed up. Recognized that the XamarinBuildCache folder wasn't recreated so I manually added the Xamarin.Build.Download Nuget package to my project and it then started working. Maybe the library is missing a dependency reference?

[2019-10-06 13:46] asatya001 commented on #269
When I removed and installed updated package , it got resolved automatically, even no need to add perams

[2019-10-06 13:46] #269 closed

[2019-10-07 12:27] Nerves82 commented on #310
Thanks for this info SotoiGhost!

[2019-10-07 14:35] JuanuMusic commented on #267
Hi! I'm getting the same error on **VS 4 MAC**.
Removed bin/obj.
My project doesn't use Packages folder.

[2019-10-07 15:01] CristhianNY commented on #267
delete the folder name packages

On Mon, Oct 7, 2019 at 9:35 AM Juanu <notifications@github.com> wrote:

--
Cristhian Ariel Bonilla Espinosa

TECNOLOGO EN SISTEMAS

[2019-10-07 15:03] JuanuMusic commented on #267
As I said, my project doesn't use packages folder...

[2019-10-07 15:42] coosmiyn opened #311 "Firebase Messaging [FIRApp registerAsConfigurable:]: unrecognized selector sent to class 0x11034d9e8"
I get this error in the console when I try to deploy the app, tried both on simulator and physical device. It displays the splash image then it backgrounds the app. No exception is thrown, the debugger just disconnects.

It seems that this only happens when I use Firebase Messaging. If I delete any of the code related to Firebase Messaging (but not deleting the NuGet) it works as intended.

I am u

[2019-10-07 22:34] SotoiGhost commented on #266
@raymondjstone Thanks for the info, since this seems to be resolved, I'm closing this now.

[2019-10-07 22:34] #266 closed

[2019-10-07 22:49] SotoiGhost commented on #267
@JuanuMusic Are you using Firebase somehow?

[2019-10-07 23:16] SotoiGhost commented on #270
@Manne990 Is this still an issue?

[2019-10-08 00:11] SotoiGhost commented on #272
@rayita Dynamic Links had Analytics as dependency due to the version at that moment, but now, Analytics is no longer needed as a dependency as has been removed. Closing this now.

[2019-10-08 00:11] #272 closed

[2019-10-08 00:12] SotoiGhost commented on #273
Is this still an issue?

[2019-10-08 00:19] SotoiGhost commented on #274
Analytics has been removed in the most recent version. Closing this now.

[2019-10-08 00:19] #274 closed

[2019-10-08 00:33] SotoiGhost commented on #275
Is this still an issue?

[2019-10-08 00:39] SotoiGhost commented on #277
Is this still an issue?

[2019-10-08 00:45] SotoiGhost commented on #279
Is this still an issue?

[2019-10-08 00:48] SotoiGhost commented on #280
Is this still an issue?

[2019-10-08 00:49] SotoiGhost commented on #288
Firebase v6.5.0 is live now, Performance Monitoring should have the requested feature now. Closing the issue now.

[2019-10-08 00:49] #288 closed

[2019-10-08 00:51] SotoiGhost commented on #290
Is this still an issue?

[2019-10-08 00:52] SotoiGhost commented on #291
Is this still an issue?

[2019-10-08 02:02] SotoiGhost commented on #292
The [ReadMe][1] file has been updated and there's a new way to build the components. Hope this helps.

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/Readme.md

[2019-10-08 02:02] #292 closed

[2019-10-08 06:57] devRoemer commented on #277
Meanwhile we updated our project to visual studio 2019 and xamarin forms 3.6. The mentioned warning still appears with this configuration.

[2019-10-08 13:23] TimA11111 opened #312 "Xamarin.Firebase.iOS.Crashlytics issue when uploading symbols on macOS 10.15 "Catalina""
I've just upgraded to macOS 10.15 Catalina, and I'm now getting the following build error:

packages/Xamarin.Firebase.iOS.Crashlytics.3.10.9/build/Xamarin.Firebase.iOS.Crashlytics.targets(53,3): error MSB3073:
The command "'/Users/timauckland2/Library/Caches/XamarinBuildDownload/Fbrc-1.7.13/upload-symbols' -gsp '/Users/timauckland2/Documents/bitbucket/navigatorapp/NavigatorApp.iOS/GoogleService-In

[2019-10-08 15:03] coosmiyn commented on #311
Tried it again today, but I get another error now:

[code]

Still, it happens just when I use CloudMessaging.

[2019-10-08 15:23] SotoiGhost commented on #294
Is this still an issue?

[2019-10-08 17:21] bradlak commented on #306
I have the same issue. Application crashes after startup. Xcode 11.1, Xamarin.iOS 13.2.0.47

[2019-10-08 21:36] SotoiGhost commented on #309
@tipa Are you using Firebase somehow?

[2019-10-08 22:04] tipa commented on #309
No I am not. I was only able to resolve the problem by manually adding those two Nuget dependencies to my project:
`Xamarin.Firebase.iOS.Core`
`Xamarin.Build.Download`
I see that these dependencies are already required by Xamarin.Google.iOS.MobileAds but for some reason they weren't pulled in correctly. I don't know if this is a problem of Nuget, this library or Xamarin, but from a developer persp

[2019-10-08 22:19] SotoiGhost commented on #309
The `Xamarin.Firebase.iOS.Core` NuGet is a new dependency for it, but `Xamarin.Build.Download` package has been a dependency for a while. I can't really tell what happened there, but if you can reproduce a test case, would be great to open a new issue to try to fix it.

[2019-10-08 22:38] Edalzebu opened #313 "Firebase Messaging crashing iOS Xamarin App"
Hello,

So i added Firebase CloudMessaging to my iOS Xamarin App, I followed this tutorial

https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/docs/Firebase/CloudMessaging/GettingStarted.md#add-firebase-to-your-app

I added the iOS Firebase Nuget package and its dependencies, also am able to add Firebase.Core.App.Configure(); to the FinishedLaunching callback up to this point my app

[2019-10-08 22:42] tipa commented on #309
It's very easy to produce a test case, simply create a new Xamarin iOS App in Visual Studio, add the MobileAds Nuget package and the problem already occurs on my machine.
Example project: [AdTest.zip](https://github.com/xamarin/GoogleApisForiOSComponents/files/3704817/AdTest.zip)

[2019-10-09 08:41] Dubnovitsky commented on #312
I've met the same issue. As a workaround you can just comment or delete the next line in the **Xamarin.Firebase.iOS.Crashlytics.targets** file:

`<Exec Command="'$(XamarinBuildDownloadDir)$(_FabricItemsFolder)\$(_FabricScriptName)' -gsp '$(MSBuildProjectDirectory)\GoogleService-Info.plist' -p ios '$(DeviceSpecificOutputPath)\$(AssemblyName).app.dSYM'"/>`

[2019-10-09 09:08] MauryZ commented on #312
For now this works for me :) Waiting for fix

[2019-10-09 09:21] Xyotic opened #314 "Xamarin.Firebase.iOS.CloudMessaging 4.1.1 crashes app at launch"
Upgrade form Xamarin.Firebase.iOS.CloudMessaging 3.1.2 to Version 4.1.1 crashes my app imediatly at launch.

I get this error:

[2019-10-09 09:47] baronchng commented on #291
The packages size are significantly smaller as compared to previous versions. I supposed that's good now.

[2019-10-09 09:47] #291 closed

[2019-10-09 11:37] TimA11111 commented on #312
@Dubnovitsky  Many thanks for the workaround, and the quick response.  Very much appreciated.  I'm able to build and test again.

[2019-10-09 11:38] TimA11111 commented on #312
Opps, sorry, didn't mean to close the issue

[2019-10-09 14:55] SotoiGhost commented on #277
Are you able to build and test your app?

[2019-10-09 22:58] SergioAMG commented on #306
same problem here, any news ?

[2019-10-10 05:52] SotoiGhost commented on #295
Guys, letting you know that Google Cast v4.4.5 has been pushed today! Hope this fixes the issue. Closing this now!

[2019-10-10 05:52] #295 closed

[2019-10-10 14:32] Jmunozg commented on #312
I have a question, if I comment on this line to compile my project, is it possible that I do not record error events in firebase?

[2019-10-11 04:43] SotoiGhost commented on #296
@kantan-florian The only enum that has something related to `supermarket` is `PlaceType.GroceryOrSupermarket`. IDK if this a bug in our side or Google side, can you provide a test case? Thanks in advance!

[2019-10-11 04:46] SotoiGhost commented on #301
A new version of Firebase Dynamic Links for iOS (global version 6.5.0) has been pushed. This update must contain the fix. Closing this now. If you still face the issue, please, open a new issue. Best!

[2019-10-11 04:46] #301 closed

[2019-10-11 04:50] SotoiGhost commented on #306
Updating Google Maps to v3.5.0. This update contains the fix of this problem as stated in [this issue](https://issuetracker.google.com/issues/111132807). The update will be pushed soon.

[2019-10-11 05:53] MauryZ commented on #312
I don't think the statistics will be saved because the configuration file is commented out.

[2019-10-11 07:01] remeesms commented on #313
Any Update, Form me this is showing after update the nuget packages to

[code]

[2019-10-11 07:04] Edalzebu commented on #313
Hey @remeesms,

Yeah i downgraded the packages and now its working, seems the new packages has some issues.

Right now am using:

Xamarin.Firebase.iOS.CloudMessaging (3.1.2)
Xamarin.Firebase.iOS.Core (5.1.3)
Xamarin.Firebase.iOS.InstanceID (3.2.1)

And its working fine.

[2019-10-11 07:43] remeesms commented on #313
@Edalzebu

Thanks, Do you know what is the Auth version for this?

[2019-10-11 08:45] Dubnovitsky commented on #312
@MauryZ

This command is just upload dSYM files to Firebase. It's required if you want to see symbolicated crash logs in Firebase console. You can comment this line, compile your application and upload dSYM files to Firebase manually.

`<Exec Command="'$(XamarinBuildDownloadDir)$(_FabricItemsFolder)\$(_FabricScriptName)' -gsp '$(MSBuildProjectDirectory)\GoogleService-Info.plist' -p ios '$(DeviceSp

[2019-10-11 13:59] Jmunozg commented on #312
Hello, I updated to the latest version of xamarin and the reported error was not presented to me, apparently it was corrected.

[2019-10-11 15:01] SotoiGhost commented on #300
@SOFSPEEL Are you using Firebase somehow?

[2019-10-11 15:12] SotoiGhost commented on #302
@Eirik- A new version of Cloud Messaging has been pushed, can you update and try again? Thanks in advance!

[2019-10-11 15:27] SotoiGhost commented on #303
@applied-kevinsalot Can you update to the most recent version and try again? Thanks in advance!

[2019-10-11 15:29] SotoiGhost commented on #304
@SamuelDebruyn A new version of Firebase Analytics has been released. Can you try the update? Thanks in advance!

[2019-10-11 20:51] SotoiGhost commented on #307
@MarekM60 as @rickclephas said, you are trying to add an Android package to an iOS project. The correct package name for iOS is `Xamarin.Firebase.iOS.CloudMessaging`. Hope this helps you!

[2019-10-11 20:51] #307 closed

[2019-10-11 20:54] SotoiGhost commented on #313
This seems to be a duplicate of #311. Closing this now.

[2019-10-11 20:54] #313 closed

[2019-10-11 20:56] SotoiGhost commented on #314
This seems to be a duplicate of #311. Closing this now.

[2019-10-11 20:56] #314 closed

[2019-10-11 21:59] SOFSPEEL commented on #300
Not referencing Firebase, see the attached csproj in the attached zip file.

[2019-10-11 22:11] SotoiGhost commented on #300
Please, add the following line of code in AppDelegate.cs in `FinishedLauching` method and see if the errors go away:

[code]

[2019-10-11 22:16] SOFSPEEL commented on #300
Yes that fixed it.
So is it some kind of linker issue where without this reference the error symbols from above are linked out?

[2019-10-12 05:14] SotoiGhost commented on #300
Yes, since nothing of Core is being used, even dependency frameworks are stripped out. We need to think of a way to fix this since it's becoming a common issue.

Since this seems to be resolved, I'm closing this now. Best!

[2019-10-12 05:14] #300 closed

[2019-10-12 09:41] tipa opened #318 "Can't build app with latest Google Mobile Ads SDK"
Using Xamarin.Google.iOS.MobileAds Nuget package v7.47.0, I am unable to build my app:
![image](https://user-images.githubusercontent.com/2863198/66699220-0f4ed000-ece5-11e9-8ffd-321f8ec63cdc.png)

Only after manually adding these Nuget packages, the app builds successfully:
`Xamarin.Firebase.iOS.Core`
`Xamarin.Build.Download`

It would be great if that wouldn't be needed.
Example project: [AdTest

[2019-10-12 15:27] SotoiGhost commented on #210
Firebase Crashlytics v3.14.0 has been pushed. This update contains two flags that let you have more control over the upload process. For more info, here's the [readme file](https://raw.githubusercontent.com/xamarin/GoogleApisForiOSComponents/master/source/Firebase/Crashlytics/readme.txt). Best!

[2019-10-12 15:27] #210 closed

[2019-10-12 15:29] SotoiGhost commented on #275
Firebase Crashlytics v3.14.0 has been pushed. This update contains two flags that let you have more control over the upload process. For more info, here's the [readme file](https://raw.githubusercontent.com/xamarin/GoogleApisForiOSComponents/master/source/Firebase/Crashlytics/readme.txt). Best!

[2019-10-12 15:29] #275 closed

[2019-10-12 15:39] SotoiGhost commented on #312
Firebase Crashlytics v3.14.0 has been pushed. The update was tested on Catalina with the following environment of VS4M and seems to be working without a problem:

[code]

Also, this update contains two flags that let you have more control over the upload process. For more info, here's the [readme file](https://raw.githubusercontent.com/xamarin/GoogleApisForiOSComponents/master/source/Firebase/Cras

[2019-10-12 15:39] #312 closed

[2019-10-14 03:30] motoko89 commented on #318
Thanks @tipa for the tip. Wasted so much time on this

[2019-10-14 11:33] b12kab commented on #210
@SotoiGhost Please reopen this. Not creating the dSym file on a emulator is (as I noted) a problem - as all I have are emulators - making this useless to myself and anyone who has a pipeline not attached to a "real" device (which I'd think is all large companies).

[2019-10-14 14:37] SotoiGhost commented on #318
This seems to be a bug with VS4M and NuGet. NuGet dependencies are being downloaded but are not being referenced in the csproj. I'll file a bug about this.

[2019-10-15 00:30] SotoiGhost commented on #210
@b12kab Can you file a new issue with this info? I'll work on this in the following weeks. Thanks in advance!

[2019-10-15 12:48] VladislavAntonyuk commented on #294
@SotoiGhost yes, I get this error on build:
[code]

[2019-10-15 13:23] VladislavAntonyuk opened #319 "Xamarin IOS build error"
I get this error on build:
[code]

The error appears after upgrade Xamarin.Google.iOS.MobileAds from 7.38 to 7.47

[2019-10-16 09:48] tipa commented on #309
same error after adding this key

[2019-10-17 17:52] Adlorem commented on #311
Got the same problem with latest packages for iOS Firebase Messaging. The app starts but nothing happens past launch screen. There are no errors no other info. Downgrading doesn't help at all. I am not able to compile project with new XCode 11.1 and iOS 13.1.

[2019-10-17 21:38] SotoiGhost commented on #318
This seems to be an issue with NuGet in general, not just with this package. Filed a [bug in NuGet][1] about this. The workaround of this issue is to add package dependencies explicitly as you did.

[1]: https://github.com/NuGet/Home/issues/8694

[2019-10-17 21:41] SotoiGhost commented on #319
@VladislavAntonyuk is this happening on Windows or Mac?

[2019-10-18 05:25] zzm388 commented on #311
Same problem here using latest firebase messaging for IOS. I'm building my app on VS for windows. App displays splash screen and then disappears. Device log shows message about missing protobuf library as @coosmiyn reports.

[2019-10-18 07:12] VladislavAntonyuk commented on #319
@SotoGhost on Windows, I will check it on Mac if necessary

[2019-10-18 07:55] remeesms commented on #311
Same Issue here, Any update on this?

[2019-10-18 12:03] softlion commented on #144
I discover what happens. It is when building with Visual Studio Windows through a remote mac machine, and there is no space left on the mac. Then the download in the cache is incomplete. But Xamarin does not detect it.

[2019-10-21 07:39] moustafashaban opened #322 "dyld: Library not loaded: @rpath/protobuf.framework/protobuf"
Xamarin.Firebase.iOS.CloudMessaging

After upgrading to 4.1.1 the debugger in VS for mac closed immediately and give the following message:

dyld: Library not loaded: @rpath/protobuf.framework/protobuf
  Referenced from: /private/var/containers/Bundle/Application/499E88A7-FD47-4C14-B204-398FD6C615C8/XF_Mushref.iOS.app/Frameworks/FirebaseMessaging.framework/FirebaseMessaging
  Reason: image not fou

[2019-10-21 16:21] applied-kevinsalot commented on #303
@SotoiGhost Sorry for the late reply, I was unavailable last week. I upgraded to version 4.2.1 and no longer receive the above error. Thanks!

[2019-10-21 16:21] #303 closed

[2019-10-22 18:29] SotoiGhost commented on #263
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2019-10-22 18:29] #263 closed

[2019-10-22 18:30] SotoiGhost commented on #265
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2019-10-22 18:30] #265 closed

[2019-10-22 18:30] SotoiGhost commented on #267
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2019-10-22 18:30] #267 closed

[2019-10-22 18:31] SotoiGhost commented on #270
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2019-10-22 18:31] #270 closed

[2019-10-22 18:31] SotoiGhost commented on #273
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2019-10-22 18:32] #273 closed

[2019-10-22 18:33] SotoiGhost commented on #276
A new version of Firebase Crashlytics has been released. Can you try updating to the most recent version and see if the error is still happening? Thanks in advance!

[2019-10-22 18:35] SotoiGhost commented on #279
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2019-10-22 18:35] #279 closed

[2019-10-22 18:35] SotoiGhost commented on #280
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2019-10-22 18:35] #280 closed

[2019-10-22 18:35] SotoiGhost commented on #290
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2019-10-22 18:35] #290 closed

[2019-10-22 18:55] SotoiGhost commented on #322
This seems to be a duplicate of #311. Closing this issue.

[2019-10-22 18:55] #322 closed

[2019-10-23 04:41] SotoiGhost commented on #311
After a long search, we found out the root of the issue. The issue is that Firebase.CloudMessaging was built against Protobuf v3.10 due to Podspec version rules and Firebase.Core against v3.8, between these versions, the **Module name** changed from `Protobuf` to `protobuf`. Therefore, F.Core has `Protobuf.framework` embedded and F.CloudMessaging is looking for `protobuf.framework`.

Downgrading C

[2019-10-23 09:12] moustafashaban commented on #311
@SotoiGhost great news,
Please add a comment here once it is done, thanks in advanced

[2019-10-23 15:05] qmark commented on #231
@SotoiGhost could you please update the link to the example? Or is there any other info how to use `System.Exception` with `RecordError`?

[2019-10-23 19:05] SotoiGhost commented on #231
@qmark Here's the updated link to Crashlytics doc. Hope it helps you. Best!

https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/docs/Firebase/Crashlytics/GettingStarted.md#log-non-fatal-exceptions

[2019-10-24 02:07] hajuuk opened #324 "Google iOS Maps build issue"
After update nuget package Xamarin.Google.iOS.Maps to 3.5.0, it will occur following issue:

[code]

Downgrade to 3.1.0 can build correctly.

[2019-10-24 03:24] SotoiGhost commented on #324
@hajuuk Please, double check that you have the `Xamarin.Build.Download` NuGet added explicitly to your project. There's an [issue with NuGet][1] right now where it does not add dependencies .targets and .props correctly until you add the dependency NuGet to your project.

If you have `Xamarin.Build.Download` added to your project, double check that it was restored correctly. These errors usually h

[2019-10-24 03:34] hajuuk commented on #324
Once I added the `Xamarin.Build.Download`, problem solved.

Thanks.

[2019-10-24 03:34] #324 closed

[2019-10-24 14:19] Tokta commented on #311
Hello, I have the same issue, but only on my CI machine, on my machine compile correctly. I was thinking about caching on my laptop but by deintegrating pods and reinstall them all it keeps working.

[2019-10-24 15:01] #311 closed

[2019-10-24 15:50] doudouLin commented on #311
have the same problem, application crashes when start debuging. is there solution? tried downgrade cloudmessaging to 3.1.2, but can not compile anymore

[2019-10-24 15:58] SotoiGhost commented on #311
@doudouLin The fix was merge and now it's building on Azure. Hope today the fix can be released to NuGet

[2019-10-24 16:03] doudouLin commented on #311
@SotoiGhost thank you very much for the quick reply! was struggling for hours, hihi.

[2019-10-24 18:21] SotoiGhost commented on #311
Guys! Letting you know that Firebase Cloud Messaging v4.1.1.1 has been just pushed to NuGet. Just wait a bit so it can be indexed. If something happens related to this, please, fill a new issue. Best!

[2019-10-24 18:32] SotoiGhost commented on #311
And FYI, there's an [issue with NuGet][1] right now where dependencies **.targets** and **.props** are not being referenced correctly. If you face an error similar to issue #318, please, add [`Xamarin.Firebase.iOS.CloudMessaging`][2] dependencies explicitly to your app. Hope this helps! Best!

[1]: https://github.com/NuGet/Home/issues/8694
[2]: https://www.nuget.org/packages/Xamarin.Firebase.iOS.C

[2019-10-24 23:04] lukeacl opened #325 "Analytics 6.0.4 Linking Failing - Missing Framework FirebaseAnalytics"
Xamarin.Firebase.iOS.Analytics 6.0.4 is failing to link in a Xamarin.Forms project due to missing framework FirebaseAnalytics.

**Other Packages**

Newtonsoft.Json 12.0.2
sqlite-net-pcl 1.6.292
Xamarin.Essentials 1.2.0
Xamarin.Forms 4.2.0.709249

**Build Output**

ld : warning : directory not found for option '-FFAnlytcs-6.0.4/Frameworks'
ld : warning : directory not found for option '-FFAnlytcs-6

[2019-10-24 23:07] SotoiGhost commented on #325
@lukeacl Please follow [these steps][1] and let me know your results. Thanks in advance!

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/issues/324#issuecomment-545725609

[2019-10-24 23:10] SotoiGhost commented on #325
@lukeacl Sorry, I referenced to the wrong comment. Please follow [this workaround][1] and let me know your results.

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/issues/318#issuecomment-543372514

[2019-10-25 01:03] lukeacl commented on #325
@SotoiGhost That worked! Manually adding the deps required fixed the issue. Thanks for your help.

[2019-10-25 01:03] #325 closed

[2019-10-25 05:47] remeesms commented on #311
@SotoiGhost  Thanks!!, Seems it's working with the updated version.

[2019-10-25 13:54] SotoiGhost commented on #277
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2019-10-25 13:54] #277 closed

[2019-10-25 13:55] SotoiGhost commented on #296
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2019-10-25 13:55] #296 closed

[2019-10-25 13:56] SotoiGhost commented on #302
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2019-10-25 13:56] #302 closed

[2019-10-25 13:56] SotoiGhost commented on #304
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2019-10-25 13:56] #304 closed

[2019-10-25 14:04] SotoiGhost commented on #325
Glad to know that it worked!

Linking this issue to [NuGet issue][1], just for the records.

[1]: https://github.com/NuGet/Home/issues/8694

[2019-10-28 06:19] remeesms commented on #311
@SotoiGhost , After updating  Xamarin.Firebase.iOS.CloudMessaging to v4.1.1.1 the notifications are not receiving. Is anyone try to update the version. Only change in the code is getting the token as shown below
I```
nstanceId.SharedInstance.GetInstanceId((result, error) =>
            {
                if (error != null)
                {
                   Log.Debug("GetInstanceId error", error.

[2019-10-28 09:22] jaspervanmegroot commented on #311
Its stills crash at startup..

[2019-10-28 11:48] remeesms opened #326 "Specified cast is not valid error while using "SignInWithCredential"."
While using  "SignInWithCredential" the app is crashing with "Specified cast is not valid " error.
Its happening after updating the firebase auth to version="6.2.1". Previously The "SignInAndRetrieveDataWithCredential" was working perfect.

Firebase versions using:
[code]

Code Sample:
[code]
Stack Trace error:

[2019-10-28 15:27] remeesms commented on #311
While using  SignInWithCredential the app is crashing with "Specified cast is not valid " error.
Its happening after updating the firebase auth to version="6.2.1".

Firebase versions using:
[code]

Code Sample:
[code]
Stack Trace error:

[2019-10-29 08:25] csteeg commented on #294
I have native-linking errors also when adding firebase ios packages (i'm on VS-Mac btw). I tracked it down because I saw the native libraries were not downloaded by Xamarin.Build.Downloaded. So I explicitly added a reference to Xamarin.Build.Download, and all the native firebase libraries were downloaded to ~/Library/Caches/XamarinBuildDownload.
But, there were still lots of native linking errors

[2019-10-29 11:17] raquelhortab commented on #96
The link seems to be dead.. I am trying to configure push notifications to go through AWS-SNS -> Firebase FCM -> APNs but cannot get it to work. I receive notifications if I send them from the Firebase console but I don't receive them when I sned them using SNS

[2019-10-30 08:04] TylerByte666 opened #327 "CloudMessagingSample: AppDelegate.cs is ShowMessage() called?"
Hi guys I noticed within the AppDelegate.cs file in your Cloud Messaging Sample there is this function:

`ShowMessage(string title, string message, UIViewController fromViewController, Action actionForOk = null)`

But it does not look like it is ever called. Is there something that I missing or must we call it ourselves?
If we should call it ourselves, the most appropriate place to place it will b

[2019-10-31 06:15] remeesms commented on #326
Any update on this?

[2019-11-01 12:02] Mischa-Schueepp opened #328 "Firebase 4.1.x does not startup"
Hi
When I compile and run my application with Firebase 3.1.2 it runs well. When I upgracde the nuget to version 4.1.1.1 it compiles but when I try to startup it delivers the follwing message and just terminates:
Xamarin.Hosting: Process '549' exited.
Application 'com.Digispin.FirstAider' terminated.
dyld: symbol '_OBJC_CLASS_$_GULUserDefaults' not found, expected in '/private/var/containers/Bundle

[2019-11-01 12:17] #328 closed

[2019-11-01 12:17] Mischa-Schueepp commented on #328
The problem got solved by removing all ios firebase references from the project and inserting them again.

[2019-11-01 13:52] chrisfoulds opened #329 "No nuget for Firebase Cloud Functions"
https://firebase.google.com/docs/functions

Workaround is http requests, but it's not ideal.

[2019-11-04 10:19] MartinZikmund commented on #309
I am facing the same problem as @tipa with the latest Google Mobile Ads SDK

[2019-11-04 18:26] ashleypringle opened #330 "ISignInUIDelegate does not exist in version 5.0.1 of Xamarin.Google.iOS.SignIn"
I have Google sign in implemented in a Xamarin Forms iOS project and in order to implement the GoogleSignIn button I have a custom page renderer that implements the ISignInUIDelegate and ISignInDelegate interfaces and assigns SignIn.SharedInstance.Delegate and UIDelegate, as per these instructions: https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/docs/Google/SignIn/GettingStarted.

[2019-11-05 06:31] Nandulucky commented on #265
Thanks mate ... resolved my issue

[2019-11-05 16:17] natsoragge commented on #330
Try to replace
            `SignIn.SharedInstance.UIDelegate = this;`

for
            `SignIn.SharedInstance.PresentingViewController = this;`

This solved the `NSInvalidArgumentException ` error for me

[2019-11-05 18:45] natsoragge opened #331 "Xamarin.Google.iOS.SignIn: Login not working on iOS 13.x after update to version 5.0.1"
After updating the Xamarin.Google.iOS.SignIn package to version 5.0.1, SignInUser stopped working. I'm getting the following NSError with DidSignIn:

The alert that asks the user to allow the app to use google.com ("App Wants to Use google.com to Sign in") shows briefly and then it hides by itself and I get the error. The NSError Code is -1 (unknown error). What am I possibly doing wrong?

[2019-11-07 03:29] ckomodromos opened #332 "Firebase.CloudFirestore - Missing Framework 'protobuf' Issue with latest release 1.4.2.0"
When using the latest release (1.4.2.0) of the Firebase.CloudFirestore package, the app is not able to run and crashes on the splash screen with the following issue:

[code]

The packages for CloudFirestore 4.1.1 recently had the same issue and was resolved in this PR: https://github.com/xamarin/GoogleApisForiOSComponents/pull/323

Could we please get this resolved as downgrading is no longer an o

[2019-11-08 11:54] TonyPovey commented on #326
I'm also experiencing this same issue, although the login actually completes and if I restart the app then I'm logged in.

[2019-11-09 08:57] remeesms commented on #326
@TonyPovey Yeah same behaviour here.

[2019-11-11 15:04] SotoiGhost commented on #276
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2019-11-11 15:04] #276 closed

[2019-11-12 02:20] SotoiGhost commented on #326
Guys, letting you know that a fix of this is in progress. Hope it will be released this week.

[2019-11-12 02:30] SotoiGhost commented on #327
@TylerByte666 The `ShowMessage` method is called in the [`UserInfoViewController.cs`][1] file.
This method is for displaying information only.

And, IIRC, `HandleMessage ()` handles the incoming notification data. I can't recall if we were going to add something else to the sample.

Hope this helps you. Best!

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/samples/Firebase/

[2019-11-12 02:30] #327 closed

[2019-11-12 02:32] SotoiGhost commented on #329
We have this component on the radar, but we don't have an ETA. If someone of the community wants to take this, community PR's are very welcome! We can help you through the process.

[2019-11-12 08:48] chenjeff622 opened #334 "Xamarin.Firebase.iOS.Crashlytics 3.14.0 build problem"
2>  /Library/Frameworks/Xamarin.iOS.framework/Versions/Current/bin/mtouch @/Users/jeff/Library/Caches/Xamarin/mtbs/builds/********.iOS/2c8dc4dacec13b39898d21f3e9cd21e3/obj/iPhone/Release/response-file.rsp "--gcc_flags=-ObjC -lc++ -lz -ObjC"
2>G:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Xamarin\iOS\Xamarin.iOS.Common.targets(842,3): error : warning: directory not found for

[2019-11-12 11:23] markerpen commented on #318
I'm getting the following error when trying to build with v7.47.0:

`MTOUCH: Error MT1303: Could not decompress the native framework 'Protobuf.framework' from '<project>/src/obj/iPhoneSimulator/Debug/device-builds/iphone12.1-13.2/mtouch-cache/Protobuf.framework.zip'. Please review the build log for more information from the native 'unzip' command. (MT1303)`

I've removed the two NuGet packages (Fi

[2019-11-12 12:56] TylerByte666 commented on #327
Thanks.

[2019-11-12 15:27] lngka commented on #158
In my case the plugin.FirebasePushNotification implicitly installed Firebase.Core in my solution. My issue was resolved when I removed the explicit Firebase.Core from my project

[2019-11-12 16:00] andreybutko opened #335 "Xamarin.Firebase.IOS.CloudMessaging not working in background"
Hi, I've integrated your Xamarin.Firebase.IOS.CloudMessaging 4.1.1.1 and it works well but only when the app is running. When app in background - notifications not receiving, and if open app - notification showed.
This is Xamarin.Forms (4.3.0.908675) project
Maybe I missed something, could you help me with it? I've done everything line in your sample, only
HandleMessage looks like this

     void

[2019-11-12 16:51] #330 closed

[2019-11-12 16:52] SotoiGhost commented on #331
@natsoragge are you still facing this issue?

[2019-11-12 16:57] SotoiGhost commented on #334
@chenjeff622 Can you add `Xamarin.Build.Download` NuGet to your project and try again? There's an [issue][1] right now with NuGet where it doesn't load the .props and .targets files of a Nuget's dependency. The workaround of this is to add NuGet's dependencies explicitly to your project.

Please, let me know your results.

[1]: https://github.com/NuGet/Home/issues/8694

[2019-11-12 17:02] #326 closed

[2019-11-12 22:39] SotoiGhost commented on #294
@csteeg There's an [issue][1] right now with NuGet where it doesn't load the .props and .targets files of a Nuget's dependency. The workaround of this is to add NuGet's dependencies explicitly to your project.

[1]: https://github.com/NuGet/Home/issues/8694

[2019-11-13 00:13] natsoragge commented on #331
Yes, I am. I had to downgrade to version 4.0.0, in which the login is working fine. The older version is hanging on SignInUserSilently, but that's a minor problem for me compared to the SignInUser bug.

[2019-11-13 00:19] SotoiGhost commented on #331
Can you provide a test case, please? I have tested our sample and seems to be working. Thanks in advance!

[2019-11-13 02:24] SotoiGhost commented on #335
@andreybutko Can you provide a test case, please? I have tested our sample and background notifications seem to be working. Also, double-check that you have granted permission to the app to receive notifications.

[2019-11-13 02:27] SotoiGhost commented on #318
@markerpen Which NuGet do you have in your project? AFAIK, Firebase AdMob does not reference Protobuf somehow.

[2019-11-13 07:57] purplerockcvd commented on #331
I have the exact same problem as @natsoragge. I am calling SignIn from a class that is not a view controller. Version 5 eliminated ISignInUIDelegate so it has obviously changed with respect to running outside a view controller. The documentation has not been updated for this scenario. Can you provide guidance to replace the obsolete documentation? Thanks.

[2019-11-13 09:18] remeesms commented on #326
Now it doesn't show this error but there is no return from `SignInWithCredential`. Is there any change need in the implementation?

[2019-11-13 13:00] andreybutko commented on #335
@SotoiGhost in Info.plist I've checked Background Modes (Remote-Notifications). All settings the same as in the sample. I will try to create a test case and send you it. Also, I think it's better to have not only code of some part but a whole solution, then I could run it without any additional actions and make sure it works. Could you send the whole solution which you tested? Thank you in advance

[2019-11-13 14:35] andreybutko commented on #335
@SotoiGhost I've sent you invite to repo, there are test case.

[2019-11-13 16:04] SotoiGhost commented on #309
Guys, I don't know if this related but there's an [issue][1] right now with NuGet where it doesn't load the .props and .targets files of a Nuget's dependency. The workaround of this is to add NuGet's dependencies explicitly to your project.

Hope this helps.

[1]: https://github.com/NuGet/Home/issues/8694

[2019-11-13 16:10] SotoiGhost commented on #332
@ckomodromos A new version of Firebase Cloud Firestore with this fix has been released. Best!

[2019-11-13 16:10] #332 closed

[2019-11-13 17:06] SotoiGhost commented on #331
@purplerockcvd Now you need to tell G.SignIn who's your VC from the login process should be presented.

Here are the [changes][1] that I made to our sample to make it work.

Also, here's the [official migration][2] guide to v5.x from Google. We just need to replace some lines to keep things working. Hope this helps you! Best!

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/commit/c913e

[2019-11-13 21:10] SotoiGhost commented on #326
@remeesms Nothing changed, we just changed the callback parameter type. If it seems to be failing, please, file a new issue describing the problem. Also, it would be great if you can provide a test case. Thanks in advance!

[2019-11-13 21:54] SotoiGhost commented on #335
@andreybutko If you want to test our sample, clone the repo and do the following steps:

1. Install the prerequisites specified in the [Readme.md][1] file
2. Run `dotnet cake -t=externals -names=Firebase.CloudMessaging` in the root folder
3. Open the solution, select `CloudMessagingSample` and run the sample.

I'll check your test case in a bit.

[1]: https://github.com/xamarin/GoogleApisForiOSCom

[2019-11-14 01:54] SotoiGhost commented on #335
@andreybutko I cannot run your test case. I'm getting the following error message:

[code]

[2019-11-14 05:14] purplerockcvd commented on #331
Thanks, @SotoiGhost. I had looked at the sample, but seeing the changes help me focus on what mattered. Since I am using SignIn outside a view controller, I thought I would describe what I did just in case it might help someone else.
As in the old GettingStarted file, I was defining SignIn.SharedInstance.UIDelegate and Delegate. Obviously UIDelegate needed to be removed as it doesn't exist anymore

[2019-11-14 05:30] remeesms opened #337 ""SignInWithCredential" Not giving any return, App got stuck after calling SignInWithCredential."
As soon as I call SignInWithCredential in the app the app got stuck, there is no return coming from SignInWithCredential. The code sample and Firebase versions I am using given below.

Firebase versions using:

[code]

Implementation:

[code]

There is no error nothing, the code flow not continuing after  "Auth.DefaultInstance.SignInWithCredential"

[2019-11-14 05:31] remeesms commented on #326
@SotoiGhost Filed a new issue here #337. Please have a look.

[2019-11-14 06:52] SotoiGhost commented on #337
@remeesms I have just tested our auth sample and everything seems to be working correctly. Can you try deleting your app from your phone/simulator, delete bin and obj folders and try again, please? Maybe some cache files got corrupted after updating the NuGet and it's messing with the debugger and with the app flow. This can happen rarely but it happens sometimes. I have faced that before.

If tha

[2019-11-14 08:46] remeesms commented on #337
Thanks, I will try it and update here.

[2019-11-14 09:33] remeesms commented on #337
@SotoiGhost Yeah it's working after removing the cache and bin & obj. But the "SignInWithCredentialAsync" is working instead of "SignInWithCredential".  Thanks for the support.

[code]

[2019-11-14 09:33] andreybutko commented on #335
@SotoiGhost Yeah, I've forgot to say that I can't give you access to firebase messaging account, so you should use your, I don't know how to do it in another way, tell me if you know.

[2019-11-14 09:36] #337 closed

[2019-11-14 19:41] twannie83 commented on #325
@SotoiGhost How to add Manually the deps? I put in my Main projectfile. But does not work
![image](https://user-images.githubusercontent.com/25795066/68890385-06578100-071f-11ea-98f1-eb9ddd20f359.png)

[2019-11-14 20:28] pcaruthers opened #338 "CloudMessaging sample, cannot find IMessageDelegate definition"
i've implemented my AppDelegate.cs for my project using the sample CloudMessaging AppDelegate as and example.  In both my solution and the GoogleApisForiOSComponents solution visual studio does not find a definition for IMessageDelegate.

Is there a missing "using" statement or missing code?

[2019-11-14 20:29] pcaruthers commented on #338
ach, sorry.  Wrong created the wrong issue!  WIll close and open the correct one.

[2019-11-14 20:29] #338 closed

[2019-11-14 22:26] SotoiGhost commented on #325
@twannie83 If you add them by hand into your `.csproj`, try restoring NuGet packages of the solution. If that does not work, please, use the NuGet manager to add them.

[2019-11-15 00:39] SotoiGhost commented on #335
@andreybutko Seems that `DidReceiveNotificationResponse` method is the one who is catching all the notifications in the foreground and background. Do you have any logic there?

[2019-11-15 10:33] andreybutko commented on #335
@SotoiGhost I have completionHandler(); there and nothing else.

[2019-11-15 14:34] SotoiGhost commented on #335
@andreybutko Please, delete that method and try again.

[2019-11-15 16:05] SotoiGhost commented on #325
@twannie83 That error usually appears when Xamarin.Build.Download was not restored correctly or when frameworks bits weren't downloaded correctly.

My suggestion is to clean XBD and nuget caches, delete bin and obj folder and try again.

[2019-11-16 05:20] desunit opened #339 "Very large .dll sizes of components"
Hi,

I've just tried to update Xamarin.Firebase.iOS.Analytics and noticed that the final app size increased from 120Mb to 175mb.

The previous version of the package was (25.26 KB):
https://www.nuget.org/packages/Xamarin.Firebase.iOS.Analytics/4.0.5.1

The newer is (35.16 KB) + dependencies:
https://www.nuget.org/packages/Xamarin.Firebase.iOS.Analytics/6.0.4

I think it's related to problem #291

[2019-11-18 09:47] andreybutko commented on #335
@SotoiGhost tried, but nothing

[2019-11-18 23:05] b12kab opened #340 "Add a flag to disable or enable the upload dSYM task to Firebase Console using a simulator"
This is related to issue [210](https://github.com/xamarin/GoogleApisForiOSComponents/issues/210), which was closed by @SotoiGhost and who asked me to create this new issue.

As noted in the [readme file](https://raw.githubusercontent.com/xamarin/GoogleApisForiOSComponents/master/source/Firebase/Crashlytics/readme.txt) - this is disabled for simulators.

As I noted in issue 210, myself and others n

[2019-11-19 13:30] remeesms opened #341 "Getting "ITMS-90809: Deprecated API Usage" from testflight while uploading the app."
While uploading my app to testflight I am getting the below error.

I don't have any UIWebView Usage in my app, But when I search in my code I found there are reference in Firebase Auth Nuget, It seems firebase has fixed the issue but why still the reference there in Nuget Package. I found some reference as shown below.

[code]

By the way I am using the latest version of Firebase Auth. The fireba

[2019-11-19 13:31] remeesms commented on #341
@SotoiGhost Can you please give an update on this?

[2019-11-19 14:55] Lapinou42 commented on #325
Thank you so much @SotoiGhost  and @lukeacl ! That's working for me too :)

[2019-11-19 15:39] emmanuele-villa opened #342 "Google Cast crashes on ios13"
Hi,
I'm using googleCast version 4.4.5 and this is my snippet code:
[code]

Everything works fine on ios < 13, but on iOS 13 the application crash with this error:
[code]

On previous version (< 4.4.4) the behaviour was quite the same, meaning that it only worked on ios < 13, and it crashed with another error: "returned nil from -traitcollection which is not allowed"

[2019-11-21 08:05] twannie83 commented on #325
@SotoiGhost I fixed the problem! Had to downgrade Xamarin.Firebase.iOS.Analytics to lower version. Thanx for support!

[2019-11-21 18:28] SotoiGhost commented on #339
@desunit I think is because now we ship some dynamic frameworks (especially on dependencies of Firebase) instead of static frameworks. Due to this, the linker cannot strip symbols of the unused method and embeds the whole arch framework to the Frameworks folder of the app.

Would you rather use a static framework over dynamic if possible?

[2019-11-24 15:40] desunit commented on #339
@SotoiGhost Thanks for your reply! How can I specify it from Visual Studio?

[2019-11-24 20:44] SotoiGhost commented on #339
@desunit You cannot do it right now, but we have in our TODO list to provide NuGets that supports static and dynamic frameworks for these components

[2019-11-26 06:17] remeesms commented on #341
@Redth @SotoiGhost  Any Update guys?

[2019-11-26 13:27] patrickabadi commented on #294
Just an FYI.  I had the same issue and none of the suggestions on here helped me.  I had updated my nuget package for xamarin.google.ios.mobileads and then everything broke.  What I realized was that this was included and used in a library and not in the main app.  Including xamarin.google.ios.mobileads nuget package in my main app solved the issue for me.

[2019-11-26 14:02] Alexander-Alekseev commented on #335
Hi @SotoiGhost,

I've added Xamarin.Firebase.iOS.CloudMessaging 4.1.1.1 to my project today and I faced with the same problem: if app is in foreground the messages are being received by the app, if app is in background (just in background, even not force closed) then app doesn't receive messages. Once I open my app (make it foreground again) then messages are being received again.

`public overrid

[2019-11-26 19:26] szymonkalista opened #344 "Google Cast iOS MediaStatus object missing property"
Hello,

According to the google cast sdk for ios docs[1], MediaStatus object on ios should have ActiveTrackIDs property available.

MediaStatus on android has getActiveTrackIds method[2], which can be used to obtain active tracks from cast device.

I've looked into source code and the property is available in native sdk but I guess because it's marked with [Internal] attribute, in the ApiDefinitio

[2019-11-26 21:16] nguyenminh92 commented on #335
I am also receiving the same issue as well. When app is open, notification comes through DidReceiveMessage method. However if app is in background or off, notification does not come.

[2019-11-26 22:23] Redth commented on #341
Looks like Firebase.Auth is using UIWebView?...  We'll have to check which one and if there's an update that addresses it, however in the meantime, I don't believe that should cause a rejection yet.  Also, are you using Xamarin.Forms? That would likely trigger the same warning.

[2019-11-27 05:22] remeesms commented on #341
Not xamarin forums i am using Xamarin.IOS. I talk with the firebase team and they removed the UIWebView references from "Version 6.8.1 - September 10, 2019". I talk with apple support team and they said the app will stop submission of apps which have "UIWebView" reference. This is the email i got from appstore team

[2019-11-27 05:37] Alexander-Alekseev commented on #335
@nguyenminh92,

You can use this (though there are several ways to do it):
1) Select GoogleService-Info.plist.
2) RMB -> Open With... -> Generic PList Editor.
3) Change value at the 'Value' column for desired 'Property' (or create one if needed).
![image](https://user-images.githubusercontent.com/32123066/69696322-6a4f5180-10f0-11ea-81bc-8a20fbaf63d8.png)

[2019-11-27 16:08] yceron commented on #335
I'm experiencing the same issue. Any updates?

[2019-11-28 13:05] yceron commented on #335
I was able to solve my issue.

Since this wasn’t working, I was going to implement Microsoft App Center Push and I saw something on their documentation that I hadn’t seen on the Firebase documentation and it’s that you need to enable push notifications on the application on the **Entitlements.plist**.

In my case, I also hadn’t enabled Push Notifications for the app identifier on the Apple Develop

[2019-11-28 14:40] desunit commented on #339
Oh, I see. Hope it will be implemented soon.

[2019-11-28 23:21] Redth commented on #341
@sotoighost is off this week but he can have a look next week once he is back.

[2019-11-29 04:55] remeesms commented on #341
@Redth  Ok,Thanks for the update.

[2019-11-30 05:26] nguyenminh92 commented on #335
@yceron Just wanted to confirm. My case was indeed the missing APNS certification for the Identifier. Thanks for helping me solve this issue!

[2019-11-30 13:02] Alexander-Alekseev commented on #335
You guys didn't have APNS certificate but still were able to receive push notifications when app is in foreground? This is very strange and definitely not my case.

[2019-12-02 12:26] mattleibow opened #345 "buildTransitive"
Make sure all projects with a .targets and/or .props file also use the `buildTransitive` folder.

https://github.com/NuGet/Home/wiki/Allow-package--authors-to-define-build-assets-transitive-behavior

[2019-12-02 14:31] ashleypringle commented on #330
@natsoragge @SotoiGhost Thanks for the info, I made those changes and the plugin is working again!

[2019-12-06 05:23] remeesms commented on #341
@Redth, @SotoiGhost Can anyone started looking in to this issue? Please give an update on this, Waiting for a release in app store.

[2019-12-06 13:42] Redth commented on #341
Yes, @SotoiGhost is going to start looking at this very soon.  As far as I know Apple has not released any dates at which they intend to start enforcing this, and for now it's just a warning.  You can still release to the store with the warning.  The warning is relatively new, and while we understand there is definitely a sense of urgency around this matter, there is nothing that indicates it will

[2019-12-06 16:43] SotoiGhost commented on #344
Hi @szymonkalista! The ApiDefinition's `ActiveTrackIDs` was marked internal in favor of [Extensions' `ActiveTrackIDs`][1] file, this to provide a better bind of the property.

We forgot to add the `public` scope, we will fix it soon. Thanks for reporting this!

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/source/Google/Cast/Extensions.cs#L201-L215

[2019-12-11 08:50] Stasan opened #346 "Update bindings for Google Sign-In SDK to version 5.0.2 or higher"
It is required to update Xamarin bindings for Google Sign-In SDK to use the latest version of a native SDK.
It is important to use the latest version to get fix related to the detecting of the user cancellation of the sign-in process. See the following issue for more details about this problem https://github.com/googlesamples/google-services/issues/426

[2019-12-11 20:22] alexshikov opened #347 "Performance SDK: "Unsupported use of UIKit API off the main thread" errors"
Using `Xamarin.Firebase.iOS.PerformanceMonitoring (3.1.1)` nuget package traces lots of errors in the console:

[code]

The exact issue has been reported in the original library: https://github.com/firebase/firebase-ios-sdk/issues/4156 and seems it has been fixed recently.

[2019-12-11 20:41] alexshikov commented on #347
As we here. Are there any plans to update the global firebase version from `6.5.0` to something newer? According to [the official release notes](https://firebase.google.com/support/release-notes/ios) there are at least 4 crashes fixed in [6.13.0 - November 14, 2019](https://firebase.google.com/support/release-notes/ios#performance-monitoring) and another pretty awful crash (95% of iOS 13 users) in

[2019-12-13 21:26] ramkrishnatkr opened #348 "CrashlyticsSample application results in build error Xamarin.Firebase.iOS.Crashlytics v3.14.0 interaction with Xamarin.Build.Download v0.7.1"
Could not load file or assembly 'Microsoft.Win32.Registry, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.	CrashlyticsSample	...\GoogleApisForiOSComponents-master\samples\Firebase\Crashlytics\CrashlyticsSample\packages\Xamarin.Build.Download.0.7.1\build\Xamarin.Build.Download.targets	52

[2019-12-18 05:31] remeesms commented on #341
Any Update on this guys?

[2019-12-18 07:53] Alexander-Alekseev commented on #335
@SotoiGhost, hi, any updates here?

[2019-12-19 01:21] SotoiGhost commented on #335
@andreybutko Playing with your test case, removing the `WillPresentNotification` and `DidReceiveNotificationResponse` made the trick to make it work.

[2019-12-19 06:35] Alexander-Alekseev commented on #335
@SotoiGhost,
I don't have WillPresentNotification and DidReceiveNotificationResponse methods at all, but my app receives pushes only in foreground.

[2019-12-19 06:37] SotoiGhost commented on #335
@Alexander-Alekseev can you provide a test case, please?  Thanks in advance!

[2019-12-19 08:09] Alexander-Alekseev commented on #335
@SotoiGhost,

[Here ](https://gist.github.com/Alexander-Alekseev/d1567ebd5ead2b781bd5a9d294c1d344 )is my AppDelegate.cs. Could it be helpful for you?

[2019-12-20 16:04] albertoaloisi-acc commented on #276
Hi we are having the same issue described with the latest version of Xamarin.Firebase.iOS.Crashlytics = 3.14.0, do you have any update or hint ?
Thanks

[2019-12-20 17:37] luizvnegrini commented on #331
Same error here!

[2019-12-22 04:04] alexsorokoletov opened #349 "Firebase Auth with an Apple's identity token returns 17999 INVALID_CREDENTIAL_OR_PROVIDER_ID in a Xamarin.iOS app"
I'm using [Xamarin.Firebase.iOS.Auth][1] and Apple [AuthenticationServices][2] to let a user to sign in using `Apple Sign In` and later authenticate with Firebase. I have a `Xamarin.iOS` app and the `Apple Sign In` part was done without any issues, I was able to activate `Apple Sign In` and receive a valid identity token from ASAuthorizationAppleIdCredential. The issue is in the second step, when

[2019-12-22 18:24] albertoaloisi-acc opened #350 "iOS Crashlytics Crash Report also try/catch"
Hi all,
we are having a strange issue with Crashlytics reports, it seems that the console show us as a fatal exception also the piece of code that goes in a try/catch block,
We are using Xamarin.Firebase.iOS.Crashlytics 3.14.0 (the latest one).
Some one knows how to fix this ?

[2019-12-23 17:40] Redth commented on #341
Just an update from Apple's side: https://developer.apple.com/news/?id=12232019b

Apple will not reject app submissions for a bit yet.  The dates are:
 - No *new* apps will be accepted using UIWebView as of April 2020
 - No *updates* to existing apps will be accepted using UIWebView as of December 2020

This should put everyone a little bit more at ease.  We will be prioritizing this update work a

[2019-12-30 16:16] alexsorokoletov commented on #349
@Redth thank you for taking look at the issue!
Just for planning purposes - when should we expect an update (range or approximation is ok)?
I know it's Christmas and NY all around.

Thank you!

[2020-01-06 09:27] azuken opened #351 "Build from App Center failed with sharing violation error"
Hi,

My Xamarin.Forms app does not build anymore on AppCenter (but build in local), with this error :

Build FAILED.

[code]

I've checked settings and we are actually with latest versions of Xamarin.iOS and Xcode (13.6 & 11.3).

Xamarin.iOS.maps version is 3.5.0

Is there any fix ?

[2020-01-07 10:29] enricolucianoaccenture opened #352 "iOS Crashlytics Crash Report on Every try/catch in native code"
We do experience the same behaviour described in issue #276 even when using the latest Xamarin.Firebase.iOS.Crashlytics (version 3.14.0).

We can reproduce the behaviour described by @MatFillion in his comment posted on 8 Jul 2019, by using the latest version as requested by @SotoiGhost

Is there any update on this or a way to stop this behaviour?

Best Regards

[2020-01-08 15:42] alexshikov opened #353 "iOS Performance SDK: "Crashed: PHTFlatFilePhenotype", PHTHeterodyneSyncer"
We experience lots of crashes on iPhone 5 devices using Performance SDK 3.1.1.

The original issue is fixed in iOS Firebase SDK 6.9.0: https://github.com/firebase/firebase-ios-sdk/issues/3851

[2020-01-09 15:10] ChasakisD opened #354 "PlaceType enum is missing mappings"
Version 3.5.0

App Crashes and there is no way to catch that exception. Please sync the library with the Google Places API.

Exception: tourist_attraction has no associated enum value in PlaceType on this platform.

[code]

Exception2: supermarket has no associated enum value in PlaceType on this platform.

[code]

Exception3: continent has no associated enum value in PlaceType on this platform.

[2020-01-10 18:09] johnbmangold commented on #351
Downgrade Xamarin.Build.Download to 0.4.11.

[2020-01-13 08:51] azuken commented on #351
OK thank you. Any plan to fix this permanantly, or we have to wait for a Xamarin Build Download update ?

[2020-01-13 11:48] tipa commented on #318
Any updates on this?

[2020-01-13 12:26] albertoaloisi-acc commented on #350
HI @Redth any update on this ?

[2020-01-13 13:36] Redth commented on #350
@SotoiGhost should be able to help out here.

[2020-01-14 00:21] alexsorokoletov commented on #349
@SotoiGhost maybe you can help or at least know who can help with this problem? it's been 23 days, I do not know whether I should wait or there are any other solutions/workarounds? Thank you

[2020-01-14 10:05] congpt-xamarindev opened #355 "iOS Xamarin app is getting many crashes related the Google Ads SDK"
Here is the discussion about this issue https://groups.google.com/forum/#!category-topic/google-admob-ads-sdk/ios/I4EEWrPPbSc
I have integrated Google Ads SDK version 7.38(not the latest one) to my Xamarin iOS app. My app is facing exact same issue as what the topic above is talking about. I've also tried to solve it by adding a gad_preferred_webview key with value of wkwebview in app's Info.plist

[2020-01-15 02:08] TuanNA-MTITech commented on #355
My xamarin.ios app also got crash continuously after I build with iOS13 SDK (XCode 11)
This problem was known as Google Ads Mobile iOS SDK issue.
Do Xamarin Dev have any plan for binding Mobile Ads to latest one (v7.53.1) that hope fixing this issue?

![Screen Shot 2020-01-15 at 09 01 24](https://user-images.githubusercontent.com/38967069/72398527-cee46f80-3775-11ea-8360-1b6da165fd9d.png)
Crashlyt

[2020-01-17 14:55] acupajoe opened #356 "Firebase.InstanceId v4.2.1 fails to resolve "Firebase.InstanceID.InstanceIdResult""
Error Given:
[code]

From Build Output:
[code]

I have tried cleaning, rebuilding, adding and removing the reference, and restarting Visual Studio. Nothing seems to be working.

Any help would be appreciated!

[2020-01-18 06:20] divyesh008 commented on #231
I have got this done using:
[code]

[2020-01-21 00:14] SotoiGhost commented on #331
Is this still an issue?

[2020-01-21 00:48] SotoiGhost commented on #334
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2020-01-21 00:48] #334 closed

[2020-01-21 21:47] Kapusch opened #357 "Error with Xamarin.Firebase.iOS.CloudFirestore (v1.4.2.1) : 6.5.0 - [Firebase/Firestore][I-FST000001] Could not reach Cloud Firestore backend"
Hi !

As described in [my question on StackOverFlow](https://stackoverflow.com/questions/59812738/from-xamarin-ios-project-firebase-firestorei-fst000001-could-not-reach-clo), I'm still not able to connect to my Cloud Firestore DB and really don't understand why.

Here is my code :

AppDelegate.cs

[code]
CloudFirestoreiOS.cs

[code]
"Could not reach Cloud Firestore backend" occurs at GetDocumentsA

[2020-01-22 03:09] SotoiGhost commented on #335
@Alexander-Alekseev Sorry for the very late response…

I tested your `AppDelegate.cs` with just the logic of Firebase Cloud Messaging and everything seems to be working ok. My suggestion is to remove other components one by one, to see which ones are in conflict.

[2020-01-22 03:11] SotoiGhost commented on #342
Is this still an issue?

[2020-01-22 19:02] Kapusch commented on #357
### Update

I was able to run the same test in a new Xamarin.iOS project, using exactly the same GoogleService-info.plist file

Difference with the first project is that first project was a Xamarin cross-platform project (with a Shared Project, a Xamarin.Android and a Xamarin.iOS project), while the second project is a dedicated iOS project with Xamarin.iOS.

I have to understand if this is the on

[2020-01-22 19:25] Kapusch commented on #357
There's no package dependencies problem, neither a project name issue.

**Sounds to be the Xamarin cross-platform project.**

Maybe the GoogleService-info.plist added to Xamarin.iOS side isn't enough ?

[2020-01-24 09:32] divyesh008 commented on #173
I have use the Cloud Firestore for my Xamarin.iOS application and many time when i'm running the application it gives the same error. I'm not able to find it's solution yet.

**I have used below packages for cloud firestore:**

[code]

[2020-01-24 09:33] divyesh008 commented on #173
I have use the Cloud Firestore for my Xamarin.iOS application and many time when i'm running the application it gives the same error. I'm not able to find it's solution yet.

**I have used below packages for cloud firestore:**

[code]

[2020-01-24 09:35] divyesh008 opened #358 "Cloud Firestore throws FIRFirestoreErrorDomain Code=14 “Failed to get document because the client is offline.”?"
I have use the Cloud Firestore for my Xamarin.iOS application and many time when i'm running the application it gives the same error. I'm not able to find it's solution yet.

**I have used below packages for cloud firestore:**

[code]

![client is offline error](https://user-images.githubusercontent.com/10617244/73059391-a5d18680-3ebb-11ea-8a98-4f53360e3bb8.png)

**Also sometimes it throws cannot

[2020-01-24 09:40] azuken commented on #351
Now same problem happen with Visual Sudio build. Downgrade from 0.8.0 to 0.4.11 is not a viable solution. Is there any update ?

[2020-01-24 23:49] Kapusch commented on #357
I've really had a hard time this week, but I've finally found a way to make it work !

Two things that might have finally helped :
- Calling CloudFirestore Task from the ViewModel failed every time until I implement a Command execution
- I force execution of my Task when loading my View (I still don't understand why, but when running my app : the first time my Task was called, I've always got the

[2020-01-24 23:49] #357 closed

[2020-01-25 09:52] Kapusch commented on #357
I've tried to use again Firestore.SharedInstance and it appears that this was not the actual problem.

[2020-01-25 12:46] johnbmangold commented on #351
When did the update go live? As of yesterday morning, it was working for me
using the latest visual studio.

On Fri, Jan 24, 2020, 2:40 AM Alexandre Audebeau <notifications@github.com>
wrote:

[2020-01-27 12:50] enricolucianoaccenture commented on #352
Hello @Redth, do you have updates on the issue?

[2020-01-27 12:56] Redth commented on #352
@SotoiGhost ?

[2020-01-27 14:47] azuken commented on #351
It seems it's the .dll download which caused the problem. The file weight was 0b (I've checked this when I found someone on the internet having the same problem), and resolved it when a coworker gave me his working dll file.

[2020-01-29 00:00] pulmuone opened #359 "Can I make the sample below with Xamarin.iOS?"
Can I make the sample below with Xamarin.iOS?

https://developer.apple.com/documentation/vision/reading_phone_numbers_in_real_time

[2020-01-29 14:22] alexshikov commented on #351
We have the same error using Bitrise. Rebuild usually helps.

[2020-01-29 15:09] alexshikov opened #360 "Unable to log custom messages attached to Crashlytics on iOS"
According to the official documentation, it should be possible log custom message that will be attached to crash reports:
https://firebase.google.com/docs/crashlytics/customize-crash-reports#add_custom_log_messages

It actually did work previously using unofficial Fabric bindings. For example, that method worked and we saw message both in Fabric and Firebase consoles (before migration to Firebase

[2020-01-29 16:24] alexsorokoletov commented on #349
I started updating the components myself and found the solution.
1. Xamarin component has different version numbers than Google Firebase SDK and Xamarin.Firebase.Core.iOS 6.1.0.0 version corresponds to FirebaseCore 6.5.0 which is the latest (https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/components.cake#L122)

2. The issue in the application was related to the API interface defi

[2020-01-29 16:24] #349 closed

[2020-02-03 15:51] KevinvdBurg commented on #188
Is there any progress of this component for Xamarin? I would really like to use it in my app.

[2020-02-03 17:43] dmanning23 opened #363 "Xamarin.Google.iOS.MobileAds: UserRewarded event is not firing"
In the Xamarin.Google.iOS.MobileAds nuget package, the UserRewarded event is not firing after the use watches a rewarded video.

The event not firing is:
RewardBasedVideoAd.SharedInstance.UserRewarded

[2020-02-04 02:26] #345 closed

[2020-02-04 17:34] SotoiGhost commented on #331
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2020-02-04 17:34] #331 closed

[2020-02-04 17:37] SotoiGhost commented on #318
@tipa An update was released that contains a possible fix for this. Please, update and try again. Thanks in advance!

[2020-02-04 17:39] SotoiGhost commented on #294
An update that contains a potential fix for this was released. If you still face this issue, please, fill a new issue. Thanks!

[2020-02-04 17:39] #294 closed

[2020-02-04 17:40] SotoiGhost commented on #335
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2020-02-04 17:40] #335 closed

[2020-02-04 17:46] SotoiGhost commented on #342
We have not received the requested information. If you are still experiencing this issue, please, open a new issue related to this. Thanks!

[2020-02-04 17:46] #342 closed

[2020-02-05 11:20] lilleydnSub opened #364 "Xamarin.Firebase.iOS.MLKit.0.13.0.2"
Trying to use Xamarin.Firebase.iOS.MLKit.0.13.0.2  and I am getting a sharing violation.

Looking at package directory

Xamarin.Firebase.iOS.MLKit.0.13.0.2/lib/xamarinios10/Firebase.MLKit.dll is zero bytes

My Project Specs...

[code]

The Error

[code]

[2020-02-05 13:15] tipa commented on #318
Looks like the issue is fixed now, thanks a lot!!

[2020-02-06 09:53] azuken commented on #351
Rollback to Xamarin.Build.Download 0.4.11 works. But for me it's not a definitive solution.

[2020-02-06 17:20] tipa commented on #318
Was cheering too soon. Creating app bundle works when doing locally, but fails in Azure Pipelines all of the sudden...
[code]

[2020-02-06 17:34] tipa commented on #318
Seems like after updating Mono to 6.6.0 in the build script fixed the issue. Was using 6.4.0 before

[2020-02-06 17:34] #318 closed

[2020-02-07 01:35] Explosmac commented on #319
same issue here

[2020-02-07 06:17] Jared-Aus opened #365 "Could not load file or assembly 'Microsoft.Win32.Registry"
Xamarin.Firebase.iOS.Auth version 6.2.1.2 does not build successfully from Visual Studio on the PC for my team.  It seems to build ok from VS for Mac however. Going back to 6.2.1.1 solved our build issues.

[2020-02-09 00:42] stepheaw commented on #349
Hi @alexanderkyte Im still getting this issue. I'm using Xamarin.Firebase.Core.iOS 6.1.0.0 Do you have any suggestions?

[2020-02-13 05:29] dzeping96 opened #367 "Xamarin.Firebase.iOS.MLKit unable to build with iPhoneSimulator"
Hi,

As mentioned in subject, I installed Xamarin.Firebase.iOS.MLKit NuGet package, after that I try to build/debug with iPhoneSimulator, but it keeps showing message regarding Native linking failed.

![image](https://user-images.githubusercontent.com/23049317/74401468-4a603c00-4e5c-11ea-88ca-131e346bcb02.png)

But it is working completely fine if I build/debug with an actual device, may I know is

[2020-02-15 14:44] DavePilks opened #368 "Linker Error when adding Xamarin.Firebase.iOS.RemoteConfig(4.2.1.1) to Xamarin Forms"
I have created a new Xamarin Forms project and added the Xamarin.Firebase.iOS.RemoteConfig nuget package (version 4.2.1.1) to the iOS project.

I then add the following line to the `FinishedLaunching` method in `AppDelegate`.

`Firebase.Core.App.Configure();`

I have also added the `GoogleService-Info.plist` which was downloaded from the Firebase Console.

Normally I would expect that, this simple

[2020-02-16 02:09] xamarinshukla commented on #158
Does anyone need a sample project?  This is happening again.

[2020-02-17 10:59] lilleydnSub commented on #364
Sample project
[TestMLUpgrade.zip](https://github.com/xamarin/GoogleApisForiOSComponents/files/4213310/TestMLUpgrade.zip)

[2020-02-17 11:00] lilleydnSub commented on #364
Whoops! Closed this by mistake

[2020-02-17 13:37] lilleydnSub opened #369 "Includes Deprecated API UIWebView In Firebase ML"
Using MLKit it includes the API UIWebView, Which is a warning but in April  2020 Apple will stop accepting submissions with UIWebVew for new Apps. Existing Apps will stop accepting in December 2020

ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs . See https://developer.apple.com/documentation/uikit/uiwebview for more information.

Sample
[T

[2020-02-17 13:39] lilleydnSub commented on #341
Could be the same error but in ML Kit ?
https://github.com/xamarin/GoogleApisForiOSComponents/issues/369

[2020-02-17 13:40] lilleydnSub commented on #369
Could be the same error ? but in Firebase Auth
https://github.com/xamarin/GoogleApisForiOSComponents/issues/341

[2020-02-24 14:59] basakserit opened #370 "Couldn't cast the m3u8 video"
I tried with the SDK 4.4.5 and 4.4.5.1 but could not cast the m3u8 formatted videos. We have this issue for a couple of days.

[2020-02-24 21:19] #340 closed

[2020-02-24 21:19] #344 closed

[2020-02-25 02:27] SotoiGhost commented on #351
Hi guys! A very sorry for the inconveniences that this cause. We have released `Xamarin.Build.Download` v0.9.0 that has a potential fix for the error below:

[code]

Please, update and let us know your result.

Best!

[2020-02-25 02:29] SotoiGhost commented on #364
Hi @lilleydnSub! A very sorry for the inconveniences that this cause. We have released `Xamarin.Build.Download` v0.9.0 that has a potential fix for the error below:

[code]

Please, update and let us know your result.

Best!

[2020-02-25 02:45] SotoiGhost commented on #341
@remeesms Firebase Auth v6.4.2 (a.k.a v6.15.0) has been released. This should contain the fix for the issue mentioned above. If something happens, please, let us know. Best!

[2020-02-25 02:45] #341 closed

[2020-02-25 02:51] SotoiGhost commented on #346
Hi @Stasan! Letting you know that Google Sign-In for iOS v5.0.2 has been released! If you still face something related to this. Please, let us know! Best!

[2020-02-25 02:51] #346 closed

[2020-02-25 02:57] SotoiGhost commented on #347
Hi @alexshikov! Letting you know that Firebase Performance Monitoring v3.1.9 (a.k.a 6.15.0) has been released! Hope this helps you! If something related to this happens, please, let us know. Best!

[2020-02-25 02:57] #347 closed

[2020-02-25 03:00] SotoiGhost commented on #353
Hi @alexshikov! Letting you know that Firebase Performance Monitoring v3.1.9 (a.k.a 6.15.0) has been released! Hope this helps you! If something related to this happens, please, let us know. Best!

[2020-02-25 03:00] #353 closed

[2020-02-25 03:04] SotoiGhost commented on #354
@ChasakisD We have released Google Places v3.7.0. Please, update and let us know your results. Hope this helps you! Best!

[2020-02-25 03:08] SotoiGhost commented on #355
Hi guys! Just letting you know that Google Mobile Ads v7.53.1 has been released! Hope this fixes your issues. If something happens, please, let us know. Best!

[2020-02-25 03:08] #355 closed

[2020-02-25 03:11] SotoiGhost commented on #356
@acupajoe Firebase Instance ID v4.3.0 has been released. Can you update and try again, please? Let us know your results. Best!

[2020-02-25 03:12] SotoiGhost commented on #358
Hi @divyesh008 Can you share us a test case with the issue, please? Thanks in advance!

[2020-02-25 03:43] SotoiGhost commented on #359
Hi @pulmuone! AFAIK, yes, the iOS team has bound Vision framework classes under `Vision` namespace. Hope this helps you.

[2020-02-25 03:43] #359 closed

[2020-02-25 03:45] SotoiGhost commented on #363
Hi @dmanning23! Xamarin.Google.iOS.MobileAds v7.53.1 has been release. Can you update and try again, please? Let us know your results. Best!

[2020-02-25 03:57] SotoiGhost commented on #365
Hi @Jared-Aus! Xamarin.Build.Download v0.9.0 has been released and contains a possible fix for this issue. Please, update and let us know your results. Best!

[2020-02-25 04:19] SotoiGhost commented on #368
Hi @DavePilks! We have released Firebase Remote Config v4.4.6. Can you update and try again, please? Thanks in advance!

[2020-02-25 04:24] SotoiGhost commented on #370
Hi @basakserit! Google Cast v4.4.6 has been released. Can you update and try again? Thanks in advance!

[2020-02-25 04:24] TuanNA-MTITech commented on #355
The root cause of Crash issue related to UIWebView that very old in Mobile Ads.
In Release Note, The new version v7.55.0 that total remove UIWebView and replaced by WKWebView.
https://developers.google.com/admob/ios/rel-notes

I think the correct version that fixed this issue is v7.55.0.
Do you have plan to bind Mobile Ads SDK to v7.55.0?

[2020-02-25 05:34] SotoiGhost commented on #355
@TuanNA-MTITech not for now, I don't have an ETA of when this component will be updated.

That said, community PR are very welcome! We would really appreciate your help! Best!

[2020-02-25 07:09] onurhazar opened #371 "Failed to configure Firebase after update iOS Analytics package to 6.0.4.1"
I am getting this exception when configuring firebase. It starts throwing after I updated Firebase.iOS.Analytics to 6.0.4.1 (latest version).

Here is the log;

Failed to configure firebase. Error: Objective-C exception thrown. Name: FIRAnalyticsVersionMismatch Reason: Google Analytics for Firebase version (60004000) does not match with Google App Measurement (50500000) version. Please update.
Nat

[2020-02-25 07:41] onurhazar commented on #370
Hi @SotoiGhost We are having the same issue :/ I updated 4.4.6 and got build errors. I also updated Firebase iOS packages to latest version.

![image](https://user-images.githubusercontent.com/5585009/75225152-17526c80-57bb-11ea-90a7-b44dbaa8ecd4.png)

Here is the error log:

![errorlog](https://user-images.githubusercontent.com/5585009/75225108-fd188e80-57ba-11ea-8ebe-662433d5c681.png)

I also lo

[2020-02-25 08:18] onurhazar commented on #370
@basakserit
I got this log while trying to cast (casting failed);

[2020-02-25 08:48] freever commented on #351
Thanks, it's looking good on our side.

[2020-02-25 11:32] tipa opened #372 "Can't build app with latest Google Mobile Ads SDK"
After updating Xamarin.Google.iOS.MobileAds to Nuget package 7.53.1, my app fails to build because of these errors:
[code]
![image](https://user-images.githubusercontent.com/2863198/75243761-c77ba180-57ca-11ea-92d3-034443361823.png)

VS 2019
Xamarin.iOS 13.10.0.17

[2020-02-25 11:47] tipa commented on #372
After clearing the bin/obj folders + the whole nuget cache, I am now seeing a different error:
`Could not load file or assembly 'Microsoft.Win32.Registry, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.`
![image](https://user-images.githubusercontent.com/2863198/75244803-bf246600-57cc-11ea-895d-e8756cb51448.p

[2020-02-25 15:27] basakserit commented on #370
I'm having the same problems with @onurhazar. We have the same build errors, unfortunately.

[2020-02-25 17:04] SotoiGhost commented on #370
Guys, can you share a test case, please? Thanks in advance! Also, could you cast HLS videos before v4.4.5?

[2020-02-25 17:04] SotoiGhost commented on #370
Guys, can you share a test case, please? Thanks in advance! Also, could you cast HLS videos before v4.4.5?

[2020-02-25 18:12] SotoiGhost commented on #355
I have just talked with my manager about this and this has been prioritized. We are gonna work on this very soon.

@TuanNA-MTITech or @congpt-xamarindev can you file a new issue about this? Thanks in advance!

[2020-02-25 18:47] SotoiGhost commented on #371
Hi @onurhazar! A new version of Firebase Analytics (v6.2.1) has been released. Can you update and try again, please? Thanks in advance!

[2020-02-25 18:48] SotoiGhost commented on #369
We are working in an update that contains this fix.

[2020-02-25 19:13] stepheaw opened #373 "dyld: Library not loaded: @rpath/protobuf.framework/protobuf"
After upgrading my nuget packages to Xamarin.Firebase.Auth 6.4.2, I am seeing a runtime error similar to [#322](https://github.com/xamarin/GoogleApisForiOSComponents/issues/322)
I am using Xamarin.Firebase.iOS.CloudMessaging 4.1.1.1

I get the error on app launch
`dyld: dependent dylib '@rpath/Protobuf.framework/Protobuf' not found for '/private/var/containers/Bundle/Application/9C77982B-C2D2-448B

[2020-02-25 19:19] SotoiGhost commented on #373
Hi @stepheaw! Sorry for the inconveniences that this can cause. Please, downgrade your NuGets by now, Cloud Messaging cannot work with most recent packages yet. We are working on an update to fix this. Best!

[2020-02-25 20:26] christopherspence opened #374 "Using Xamarin.Firebase.iOS.Analytics in my app causes the App Store to reject app due to non-public API"
I have the Xamarin package Xamarin.Firebase.iOS.Analytics in my iOS app, and for some reason today I'm getting the following error when trying to submit my app to the app store

`ITMS-90338: Non-public API usage - The app references non-public selectors in Frameworks/FirebaseCoreDiagnostics.framework/FirebaseCoreDiagnostics: initWithFileName:. If method names in your source code match the private

[2020-02-25 22:28] SotoiGhost commented on #374
Hi @christopherspence! Sorry for the inconveniences that this can cause. I have looked over Firebase dependencies and it seems `GoogleUtilities` framework is the guilty guy that is using that method name.
I have built the most recent version (6.5.1) of `GoogleUtilities` and the method is still there.

You can verify this by running the following command on [GoogleUtilities.framework][1]. You must

[2020-02-25 22:37] christopherspence commented on #374
thanks @SotoiGhost. I filed a bug in their repo https://github.com/firebase/firebase-ios-sdk/issues/4971

[2020-02-25 22:53] dmanning23 commented on #363
Thank you, confirmed that the latest build is firing the correct events.

Cheers!

[2020-02-25 22:53] #363 closed

[2020-02-25 23:02] SotoiGhost commented on #374
Thanks @christopherspence! I'll be pending about Google's resolution

[2020-02-26 01:53] TuanNA-MTITech commented on #355
wow, thank you very much for your effort. We are looking forward to getting your results 👍

[2020-02-26 08:40] basakserit commented on #370
Yes, we could cast HLS videos in v4.5.5 before, but suddenly it's broken. I can share the video link and the m3u8 file.

HLS link: https://player.vimeo.com/external/78730857.m3u8?s=937769b820b77cff3d0286e526a56226121831e5

HLS file:
[master.m3u8.zip](https://github.com/xamarin/GoogleApisForiOSComponents/files/4254307/master.m3u8.zip)

[2020-02-26 13:33] alexshikov commented on #360
@SotoiGhost any news on this? This is a very important feature for precise crash details investigation. We're literally stuck with some issues on our iOS app, because we can't see additional traces.

Maybe you have an idea on how we can work-around it?

[2020-02-26 14:11] lilleydnSub commented on #364
Just updated and it worked. Thanks for the quick fix and response.

[2020-02-26 14:38] SotoiGhost commented on #364
@lilleydnSub Glad to know that it worked! I'm closing this now. Happy coding! Best!

[2020-02-26 14:38] #364 closed

[2020-02-26 15:28] SotoiGhost commented on #374
@christopherspence So Firebase suggested that you need to appeal their rejection, seems reasonable for me as I find their rejection somewhat exaggerated. If Apple doesn't change their mind (I hope they will), tell Firebase so they can change that method name.

I'm closing this issue now but if you face something related to this, feel free to leave a comment.

Best!

[2020-02-26 15:28] #374 closed

[2020-02-26 16:14] SotoiGhost commented on #360
Hi @alexshikov! Sorry for the very late response.

I think you are looking for [`Crashlytics.Logging.Log`][1] and [`Crashlytics.Logging.NSLog`][2] methods. These are the bound methods for `CLSLog` and `CLSNSLog`. Also, we provided two extra methods [`LogCallerInformation`][3] and [`NSLogCallerInformation`][4] that includes some extra information by default to your log. It will have the following s

[2020-02-26 16:14] #360 closed

[2020-02-26 17:30] alexshikov commented on #360
@SotoiGhost wow! Thank you! Seems like these are the ones we are looking, indeed! :)

[2020-02-27 08:11] davebarnesy opened #375 "Dynamic links 4.0.1.1 still referencing UIWebView"
I'm getting this warning when submitting my apps to Apple:

 ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs starting from April 2020 . See https://developer.apple.com/documentation/uikit/uiwebview for more information.

If I remove my reference to Xamarin.Firebase.iOS.DynamicLinks I don't get the warning any more.

If I run this command: st

[2020-02-27 08:50] onurhazar commented on #371
Hi @SotoiGhost ! Thanks for the update! Looks like its working again. Log error seems disappeared.

[2020-02-27 15:24] johnbmangold commented on #351
`Xamarin.Build.Download` version `0.9.0` with `Xamarin.Google.iOS.Maps` version `3.5.0.1` builds and deploys to a device perfectly fine, but `Xamarin.Build.Download` version `0.9.0` with `Xamarin.Google.iOS.Maps` version `3.7.0` fails with the error:

`Could not load file or assembly 'Microsoft.Win32.Registry, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its depende

[2020-02-28 02:50] vincooys commented on #311
I'm having this issue now, and not able to pinpoint where it's coming from. Getting the error from device log:

@rpath/Protobuf.framework/Protobuf not found for /private/var/containers/Bundle/Application/3343439-jflkd-34343--/APPNAME/Frameworks/FirebaseFirestore.framework/FirebaseFirestore, tried but didn't find: '/private/var/containers/Bundle/Application/434343-2ADD-3433-543333D22/APPNAME/Framew

[2020-02-28 02:52] vincooys opened #376 "Device crashes with error: FirebaseFirestore.framework/FirebaseFirestore tried but couldn't find Protobuf.framework"
I'm having this issue and not able to pinpoint where it's coming from. Getting the error from the device log:

@rpath/Protobuf.framework/Protobuf not found for /private/var/containers/Bundle/Application/3343439-jflkd-34343--/APPNAME/Frameworks/FirebaseFirestore.framework/FirebaseFirestore, tried but didn't find: '/private/var/containers/Bundle/Application/434343-2ADD-3433-543333D22/APPNAME/Framewo

[2020-02-28 17:03] SotoiGhost commented on #370
@basakserit @onurhazar I have tested the url shared and yes, I can reproduce the error mentioned above but I have tested with others HLS videos and everything seems working ok. I'm wondering if the video is corrupted somehow, do you have a way to check that?

I share you [the video list][1] that I have tested with no problems.

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/files/42681

[2020-02-28 17:27] SotoiGhost commented on #371
@onurhazar Glad to know that it's working! Closing this issue now then. Happy coding! Best!

[2020-02-28 17:27] #371 closed

[2020-02-28 17:29] SotoiGhost commented on #376
@vincooys Please, downgrade Firebase NuGets to previous version. Right now, Firestore doesn't work with most recent versions of Firebase. We are working on an update that fixes this. Sorry for the inconveniences that this can cause!

[2020-02-28 17:33] vinco83 commented on #376
@SotoiGhost  Thanks for the response--I'll try downgrading all of the packages tonight and report back if I run into anymore issues!

Should I just roll each package back one version? Or are there specific version numbers/releases they should be set to?

[2020-02-28 17:36] SotoiGhost commented on #376
I think just rolling back one version should work. Should set packages before Feb 24th release

[2020-02-28 18:30] vinco83 commented on #376
@SotoiGhost Rolling every package back one version worked! Hallelujah! 3 days spent trying to figure this out lol I swear I tried rolling the versions back days ago and it didn't work...but who knows what sort of caching issues I was experiencing then.

Anyways, thanks so much for the recommendation/solution!

[2020-02-28 22:45] edooley commented on #332
@SotoiGhost I am still experiencing this on 1.4.2.1 and 1.4.2.2. I've never seen an issue like this before. The app builds and runs but immediately crashes before any application output can be logged. Even the system log on the simulator doesn't seem to pick it up. I have to package a release build, run it on my device, let it crash, then find it in my device logs. VS For Mac 8.4.7 on OSX 10.15.3.

[2020-02-28 23:02] SotoiGhost commented on #332
@edooley Which NuGets do you have installed?

[2020-02-28 23:04] edooley commented on #332
@SotoiGhost  Realizing I may have needed to be in #311 as I have the exact same issue as @vincooys. I'll reply there for posterity.

[2020-02-28 23:06] edooley commented on #311
@SotoiGhost I am having the same issue as @vincooys. My Nugets and versions are the same as his except I am not referencing Crashlytics but AM referencing Xamarin.Firebase.iOS.DynamicLinks (4.0.1.1)

[2020-02-28 23:08] SotoiGhost commented on #332
@edooley Yes, please, rollback NuGets version before Feb 24th release. Right now, Firestore doesn't work with most recent versions. We are working on an update to fix this.

[2020-02-28 23:20] chrisparkeronline commented on #365
I got the error in 6.2.1, reverting back to 6.0.4.1 fixed the issue for me.

[2020-02-29 14:22] edooley commented on #332
@SotoiGhost Thanks! That appeared to have worked. I'll keep an eye out for the next update and try it out then.

[2020-02-29 18:55] ifecdr opened #379 "[Bug] Xamarin.Firebase.iOS.CloudFirestore not working with the new version of Xamarin.Firebase.iOS.Core"
Description
After adding Xamarin.Firebase.iOS.CloudFirestore package in my new Xamarin.iOS project with all its dependencies, app fails to launch after successful builds. I noticed after removing all references to Firestore in the code, the app would launch as normal.. After further playing around with the packages, downgrading Xamarin.Firebase.iOS.Core to 6.1.0.1 seems to be working for Firestore

[2020-03-02 12:43] Owlzy opened #377 "Failed to resolve "ObjCRuntime.TrampolineBlockBase" reference from "Xamarin.iOS"
Hi,

So recently I had to recreate our Xamarin iOS project, and now firebase has broken.  We previously had some issues getting setup before, and it was a bit of an odd series of steps, so rather than try and replicate those steps (and use very old version of the plugin) it'd be nice to get setup properly so we can lock down our plugin version.

Currently I'm trying the latest version of Firebase

[2020-03-02 15:55] SotoiGhost commented on #377
Hi @Owlzy! Sorry for the inconveniences that this may cause. Can you share a test case of this, please? Also, can you share you environment info? Thanks in advance!

[2020-03-02 16:43] Owlzy commented on #377
Hi @SotoiGhost , thanks for the prompt response!

In terms of a test case, I don't have any specific code I can share, but I am using MonoGame, so a blank MonoGame iOS template will fail when adding the firebase analytics plugin and dependencies.

Oddly I just found out I get a different error if a try a blank Xamarin project or a new MonoGame ios project.  In that case I get a whole load of linke

[2020-03-02 19:48] apy534 opened #378 "Push notification sometimes not working and sometimes working without code change"
My tools and plugin versions are as follows:

iPad - iOS 13.3

Visual studio - 8.3.11

Xcode - 10.3

Xamarin.Firebase.iOS.CloudMessaging - Version 3.1.2

I had the code working for iOS 12.2. I have my iOS upgraded to 13.3 now. I'm not sure when the notification stopped working for iOS. I doubt the version iOS 13.3. When I start debugging very rarely the notification works.

But most of the time th

[2020-03-03 04:45] remeesms commented on #341
Let me update and check this.

[2020-03-03 04:59] brianlenz opened #380 "Update Google MobileAds to use googleads-consent-sdk-ios 1.0.5 to remove UIWebView"
googleads-consent-sdk-ios has been updated from 1.0.4 to 1.0.5 to remove UIWebView:

https://github.com/googleads/googleads-consent-sdk-ios/releases/tag/v1.0.5
https://github.com/googleads/googleads-consent-sdk-ios/commit/5cc10860a9e3edec73264c5fe8a77759b8d11148
https://github.com/googleads/googleads-consent-sdk-ios/issues/41

The Google MobileAds dependency now needs to be updated to this version

[2020-03-03 14:04] enricolucianoaccenture commented on #352
Hello @Redth @SotoiGhost do you have updates?

[2020-03-03 16:31] Minneth commented on #351
Any news on this?

[2020-03-03 17:31] Owlzy commented on #377
So I completely removed the project, and copied the files I needed back one by one.  And it now works assuming I use an older version.  Currently I can build with Firebase.Analytics 4.0.5.1

I'm using MonoGame so this may be  depending on an old version of Xamarin or something?   For some reason I can't get any info from VS about the version of xamarin.ios, just says version 0.0.0.0 unfortunately.

[2020-03-04 05:53] AmandaU commented on #311
I am having the same issue as @vincooys  and @edooley when upgrading to Xamarin.Firebase.iOS.CloudMessaging v4.1.1.2 and Xamarin.Firebase.iOS.Analytics v6.2.1.
 Downgrading CloudMessaging to v4.1.1.1 and Analytics v6.0.4.1 solved the problem. Both packages must be downgraded

[2020-03-05 01:57] pengalo commented on #365
Just got this same error upgrading Xamarin.Google.iOS.MobileAds to v7.53.1. Reverting back to 7.47.0.1 fixed the issue. This is in VS 2019 on Windows.

[2020-03-05 04:56] haiduong741 commented on #376
You should use Xamarin.Build.Download 4.11 version.

[2020-03-05 12:39] EmmanueleVilla commented on #368
@SotoiGhost I also have the same problem, with the following packages:
[code]
The errors that I have are:
[code]

Before updating the packages and adding PerformanceMonitoring, the following packages worked:
[code]

I also have problems when trying to update the android versions, could it be a problem with the Xamarin.Build.Download package? In both platforms it works withe buil.download == 0.4

[2020-03-06 12:35] basakserit commented on #370
Our issue is fixed, we also got in contact with the video platform we're using which is Vimeo. It could be related to that platform because as you said it works for the other HLS videos. Thank you @SotoiGhost

[2020-03-06 12:35] #370 closed

[2020-03-06 17:38] SotoiGhost commented on #372
@tipa We have just released an update for `Xamarin.Build.Download` nuget that fixes this issue. Please, update, remove your obj and bin folders and try again. Hope this helps you! Best!

[2020-03-06 17:38] #372 closed

[2020-03-06 17:41] SotoiGhost commented on #379
Hi guys! Please, downgrade Firebase NuGets to versions before **Feb 24th** release. Right now, Firestore doesn't work with most recent versions of Firebase. We are working on an update that fixes this. Sorry for the inconveniences that this can cause!

[2020-03-06 17:42] SotoiGhost commented on #380
Hi @brianlenz! We are working right now on an update that fixes this.

[2020-03-06 17:45] SotoiGhost commented on #365
Hi guys! We have just released `Xamarin.Build.Download` v0.10.0 that fixes this problem on Windows side. Please, upgrade, remove bin and obj folders and try again! Thanks guys and sorry for the inconveniences that this caused.

[2020-03-06 17:45] #365 closed

[2020-03-06 17:52] SotoiGhost commented on #377
@Owlzy Are you up to date with VS updates?

[2020-03-06 17:55] Owlzy commented on #377
Unfortunately MonoGame (game library we are using) is currently locked to VS 2017 on Mac.  Would this make a difference to the plugin working? I thought the plugin would work independent of the IDE.

[2020-03-06 17:55] SotoiGhost commented on #378
Hi @apy534! Sorry for the inconveniences that this may cause. We are working right now on an update for Cloud Messaging that fixes the linker issue and also contains some fixes for iOS 13 that Firebase released, maybe this will fix your issue.

[2020-03-06 17:59] SotoiGhost commented on #351
Hi guys! We have just released `Xamarin.Build.Download` v0.10.0 that fixes

[code]

Please, upgrade, remove bin and obj folders and try again. Thanks guys! And sorry for the inconveniences that this caused.

[2020-03-06 17:59] #351 closed

[2020-03-06 18:23] AmirMahdiNassiri commented on #372
@SotoiGhost Can you please let us know which version of Xamarin.Build.Download you are referring to? I am using the latest version 0.10 but still experiencing the issue.

[2020-03-06 18:24] AmirMahdiNassiri commented on #365
@SotoiGhost I have upgraded to Xamarin.Build.Download v0.10.0 but I'm still facing the problem!

[2020-03-06 18:28] SotoiGhost commented on #377
The IDE it's not a problem but with X.iOS version. I'm not very familiarized with MonoGame stuff but, does MonoGame is stuck with a X.iOS version? Can you verify if you are up to date with X.iOS version?

[2020-03-06 18:39] AmirMahdiNassiri opened #381 "Build errors with any Google API for iOS"
My project builds perfectly fine when I do not add a reference to Xamarin.Firebase packages, but when I do, I get the error "Could not load file or assembly 'Microsoft.Win32.Registry" while building the project. I have tried different Xamarin.Build.Download versions 0.4.11, 0.7.1, 0.8, 0.9, and finally 0.10. None of them solved my problem! I have tried clearing the .nuget cache, as well as bin and

[2020-03-06 19:00] Minneth commented on #372
I can second the above - I'm also getting the same issue after updating to the new version 0.10. I've obviously cleared obj/bin and restarted the IDE.

[2020-03-06 19:05] Minneth commented on #381
Seconded. I'm experiencing the exact same issue. Found myself going around in circles, it seems the new 0.10 gives:

The "XamarinDownloadArchives" task could not be initialized with its input parameters.

And the previous versions give either the Win32 error or Sharing Violation errors.

[2020-03-06 19:08] SotoiGhost commented on #381
@AmirMahdiNassiri @Minneth Can you share a test case, please? We have tested again XBD and seems to be working ok from our side.

[2020-03-06 19:41] AmirMahdiNassiri commented on #381
@SotoiGhost Yes, of course. I even created a new Xamarin Forms solution using Visual Studio 2019, and only added the Xamarin.Firebase.iOS.Core v6.6.0. I'm getting a bunch of "MT5210: Native linking failed". I have saved them in the attached build log file.

Please let me know if any additional data is required.

[Build Log.txt](https://github.com/xamarin/GoogleApisForiOSComponents/files/4300126/Bu

[2020-03-06 20:24] SotoiGhost commented on #381
@AmirMahdiNassiri Can you add the following line to your test case please? Let me know your results.

[code]

[2020-03-06 20:44] AmirMahdiNassiri commented on #381
@SotoiGhost Oh, I can confirm that putting this line in `AppDelegate.FinishedLaunching` ensures a successful build! Thank you so much for your amazingly quick replies! My apologies that I didn't know this is a requirement for a successful build.

Have a great day, and keep up the great work.

[2020-03-06 20:55] AmirMahdiNassiri commented on #381
@SotoiGhost Sadly, after putting my next line of code, which is `Crashlytics.Configure();` the error reappears! I tried clearing obj and bin directories and installed Xamarin.Build.Download v0.10 on the iOS project.

[2020-03-06 21:14] Minneth commented on #381
I've already got this in my code and no benefit, unfortunately.
________________________________
From: Israel Soto <notifications@github.com>
Sent: Friday, March 6, 2020 8:24:21 PM
To: xamarin/GoogleApisForiOSComponents <GoogleApisForiOSComponents@noreply.github.com>
Cc: Minneth <minneth@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [xamarin/GoogleApisForiOSComponents] Build erro

[2020-03-06 22:11] SotoiGhost commented on #381
@AmirMahdiNassiri I added `Crashlytics.Configure();` and worked for me. The only thing that might differ is the environment data. Are you up to date on stable channel?

[2020-03-06 22:17] AmirMahdiNassiri commented on #381
@SotoiGhost Yes, you're right. It worked after clearing obj and bin and restarting Visual Studio! What's the problem with those native linkings?!

[2020-03-06 22:35] SotoiGhost commented on #381
Glad to know that this is working!

The problem is that Firebase and Google have a quite complex dependency chain (by dependency I mean `GoogleUtilities`, `Protobuf`, `GTMSessionFetcher`, etc.), so, the linker tries to do it best to remove unused code to reduce app size. But, the linker is not perfect and makes mistakes sometimes (even more when native frameworks use swizzling as Firebase does), s

[2020-03-06 22:35] #381 closed

[2020-03-06 22:39] AmirMahdiNassiri commented on #381
@SotoiGhost I see. It's not the first time for me that the linking process does annoying things. Entity Framework core had some issues with the linking process as well!

Thank you for all the information, and I really appreciate all your quick replies. Happy coding!

[2020-03-08 18:36] apy534 commented on #378
@SotoiGhost
Thanks for the response. It is working for me with older version after workaround in AppDelegate. The documentation should be updated accordingly. Closing the issue.

[2020-03-08 18:36] #378 closed

[2020-03-09 10:34] uptowndat777777 commented on #381
Hello, Compliment of the day, how are you today ? i am Happy to get together with you,My name is Serach , I'm a military medical nurse from israel. Please let not my profession, race or nationality inch your mind, I have gone across your profile and became interested in you, we can be good friends, contact me through my private email address/  //abelmans@aol.com   ////

[2020-03-10 04:03] Redth commented on #358
We are closing this issue since no response was received.  Please open a new issue referring to this one if you have more information.

[2020-03-10 04:03] #358 closed

[2020-03-10 16:37] Owlzy commented on #377
Apologies for delay @SotoiGhost , I've been doing more investigating on my end.  What I didn't actually realise was that Xamarin is bundled with VS, so in order to get the latest I had to upgrade to VS 2019.  Having done that, it compiles with the latest plugins no problem!

Thing is MonoGame devs seem to tend to stick with VS 2017, lets just say for reasons...  Which has also been causing issues

[2020-03-10 16:37] #377 closed

[2020-03-11 04:02] Redth commented on #356
We are closing this issue since no response was received.  Please open a new issue referring to this one if you have more information.

[2020-03-11 04:02] #356 closed

[2020-03-11 09:26] lilleydnSub opened #382 "MLVison Sample Proj shows " Failed to locate required resources. Please verify the resource bundle is imported."
Using the latest packages ML Kit fails to do text recognition.
In the Application output I get

"Failed to locate required resources. Please verify the resource bundle is imported."

Latest Nuggets are
 <package id="Xamarin.Build.Download" version="0.10.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="6.6.0" targetFramework="xamarinios10" />
  <package id="Xa

[2020-03-11 15:19] PawKanarek commented on #375
Any update on this?

[2020-03-12 04:02] Redth commented on #354
We are closing this issue since no response was received.  Please open a new issue referring to this one if you have more information.

[2020-03-12 04:02] #354 closed

[2020-03-13 01:46] brbeardm commented on #253
in AppDelegates.cs, I added **Firebase.Core.App.Configure();** right before the **return.base.FinishedLaunching(app,options);** line ... and this fixed the issue for me.  i was getting like 33 of these ... Native linking failed errors...  thanks for this thread!

[2020-03-14 21:00] kaanakyalcin commented on #372
any progress? same issue here

[2020-03-15 09:20] kaanakyalcin opened #383 "About GADInvalidInitializationException Reason: The Google Mobile Ads SDK was initialized without an application ID"
I was using Xamarin.Google.iOS.Mobileads 7.38.0 and I update the package to version 7.53.1.
After that It starts to getting error. Error is like below:

I figure out when I update the google.ios.mobileads SDK from NuGet, NuGet doesn't install new dependencies in which they are Xamarin.Build.Download and Xamarin.Firebase.ios.core. I ınstalled them manually but still not working

[2020-03-16 10:54] robinryf commented on #376
Hi, thank you for taking the time on fixing this. Any news on the updated packages?

I wanted to highlight a problem due April 2020 for this change. Since we can't upgrade Firebase because of this issue we will get rejected by Apple submission in April because Firebase still uses UIWebView in the older/previous version.
https://developer.apple.com/news/?id=12232019b

In my case it seems that Xamar

[2020-03-17 00:58] brianlenz commented on #380
Any updates here?

[2020-03-18 15:01] raindeer commented on #311
Still having the same problem..

[2020-03-18 15:41] matibak commented on #373
Who can benefit from the newest packages?

[2020-03-18 17:17] randomroxks commented on #311
Same here.
![Screen Shot 2020-03-18 at 12 16 38 PM](https://user-images.githubusercontent.com/35347402/76988215-5e430600-6912-11ea-8329-4586180714ec.png)

[2020-03-20 02:25] JimmyPun610 opened #384 "Wrong Binding in VisionFaceContour"
For FIRVisionFaceContour, it should have FaceContourType but not FaceLandmarkType.
FYI
https://firebase.google.com/docs/reference/swift/firebasemlvision/api/reference/Type-Definitions.html#facecontourtype
[code]

[2020-03-21 21:47] NebulaSleuth commented on #368
It is not just RemoteConfig.  The latest versions of Xamarin.Google.iOS.MobileAds and Xamarin.Google.iOS.SignIn also produce similar native link errors on iOS.
I am using Xamarin.Forms 4.5.0.356 and Xamarin.iOS v13.14.1.39. I have not checked with earlier versions of Xamarin.Forms since 4.5 will be a strict requirment from apple (see issue #380) in the coming weeks.
The only solution I have found

[2020-03-23 17:54] NebulaSleuth commented on #368
Going back to the basics, I have determined that anytime Xamarin.Firebase.iOS.Core is referenced the native linker errors start to occur. Other packages introduce different linker errors as well, but I am focusing on simply trying to get core working first.  I have tried the 'bin/obj' dance, deleting the cache and the .nuget folder about 50 times.  Spent all weekend trying to find the right combin

[2020-03-26 16:37] onurhazar opened #385 "Failed to configure Firebase after update iOS Analytics package to 6.0.4.1"
I am getting this exception when configuring firebase. It starts throwing after I updated Firebase.iOS.Analytics to 6.0.4.1 (latest version).

Here is the log;

Failed to configure firebase. Error: Objective-C exception thrown.  Name: FIRAnalyticsVersionMismatch Reason: Google Analytics for Firebase version (60004000) does not match with Google App Measurement (50500000) version. Please update.
Na

[2020-03-26 16:37] moljac commented on #385
@SotoiGhost
Seems like this one is iOS.

[2020-03-26 17:09] fabian1122 opened #386 "How to upload dSYMs?"
Hello everyone.
A few weeks ago they changed the way to upload dSMYs to firebase, I already updated crashlytics to version 3.14.0.1 iOS and configured in the .csproj of my project what it indicates in the readme file, but, it does not manage to upload the dSMYs. Someone has the same problem or someone is clear about the process, please I need to solve this problem since I have a published app and

[2020-03-27 14:34] Kingram91 commented on #311
This issue needs to be reopened, as the Problem still Exists.
For me, the problem started to occur once I added Xamarin.Google.iOS.TagManager nuget

[2020-03-27 15:06] Kingram91 commented on #373
Any update on this?

My current Load-out is:
<img width="273" alt="Screen Shot 2020-03-27 at 11 01 55 AM" src="https://user-images.githubusercontent.com/7969188/77769778-abae2a00-701a-11ea-926d-b75b9ceda3bd.png">

CRASH LOG: `Incident Identifier: 1172084D-9A5A-44A6-87B9-424C64775EBB
CrashReporter Key:   1d72313b9cb9d41b394f2e2cfb0d10fc521eb3d5
Hardware Model:      iPhone12,1
Process:            [R

[2020-03-28 12:41] robinryf commented on #329
If this is still up for grabs I looked at it yesterday and have a PR open towards this issue.
https://github.com/xamarin/GoogleApisForiOSComponents/pull/387
Please have a look and provide me with feedback/reviews.

[2020-03-30 23:07] mindphaser commented on #311
I have the same issue with these versions:
Xamarin.Firebase.iOS.CloudMessaging (4.1.1.2)
Xamarin.Firebase.iOS.Core (6.6.0)
Xamarin.Firebase.iOS.InstanceID (4.3.0)

It works only after downgrading CloudMessaging to 3.1.2. All working versions, respectively are:
Xamarin.Firebase.iOS.CloudMessaging (3.1.2)
Xamarin.Firebase.iOS.Core (5.1.3)
Xamarin.Firebase.iOS.InstanceID (3.2.1)

[2020-03-31 09:30] davebarnesy commented on #375
Any updates?

[2020-04-01 17:35] MaxSmile commented on #373
Anybody can share versions of Nugets which works for sure?

[2020-04-02 07:53] amitlodha commented on #188
@xamarin-release-manager can you take this on priority there lot of use case associated with the same

[2020-04-02 16:04] vhugogarcia commented on #373
I am having the same question @MaxSmile asked above.

[2020-04-02 16:07] vhugogarcia commented on #373
It appears a PR is ready for final review which includes a fix for this issue, so we may get the fix soon 🙏

[2020-04-03 17:11] justintoth commented on #279
Yes it's resolved. For others who run into the same issue the resolution is to add a new key to your Info.plist file:

Key: FirebaseAppDelegateProxyEnabled Type: Boolean Value: No (false)

After that Firebase stops hijacking handling of deep link urls, so AppDelegate.ContinueUserActivity is correctly called when a deep link is clicked.

[2020-04-06 16:52] kunaldhande opened #389 "Firebase analytics error"
Xamarin forms 4.5 latest
Xamarin.Firebase.iOS.Analytics: 6.2.1

I am getting this error while building iOS app.

error : There was an error unzipping the file bin\iPhone\Release\Dev\iPhone\GTMSessionFetcher.framework.dSYM.zip: Could not find a part of the path '\bin\iPhone\Release\Dev\iPhone\GTMSessionFetcher.framework.dSYM'.

When I checked bin\iPhone\Release\Dev\iPhone\GTMSessionFetcher.framewor

[2020-04-07 18:00] #319 closed

[2020-04-07 18:00] #369 closed

[2020-04-07 18:00] #373 closed

[2020-04-07 18:00] #375 closed

[2020-04-07 18:00] #379 closed

[2020-04-07 18:00] #380 closed

[2020-04-07 18:00] #382 closed

[2020-04-07 18:00] #384 closed

[2020-04-08 04:33] AyonGupta commented on #158
Native linking failed, undefined symbol: ___darwin_check_fd_set_overflow. Please verify that all the necessary frameworks have been referenced and native libraries are properly linked in

[2020-04-08 13:46] zoli13 commented on #365
How can I upgrade to `Xamarin.Build.Download` v0.10.0?
I upgraded VS2019 to the latest 16.5.3, but still receive this error:

`2>C:\Users\Myself\.nuget\packages\xamarin.build.download\0.9.0\buildTransitive\Xamarin.Build.Download.targets(52,3): error : Could not load file or assembly 'Microsoft.Win32.Registry, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependen

[2020-04-08 19:11] mwiszomirski opened #390 "ddyl: Library not loaded"
I run my Xamarin ios application on simulator, and it runs perfectly fine. However when I try to run it on my own device (iPhone 6s) it crushes at the start. I tried multiple things and seen similar issues but nothing helped so far. This is an output in the console:

[code]

Information about my packages:

<img width="249" alt="Screen Shot 2020-04-08 at 3 10 47 PM" src="https://user-images.githubu

[2020-04-09 23:34] robinryf commented on #386
I am currently using Crashlytics Version 3.14.0.3 and for me the Crashlytics dSym upload works.

`<PackageReference Include="Xamarin.Firebase.iOS.Crashlytics" Version="3.14.0.3" />`

I am building this on macOS if that helps. From the command-line this looks like this:

`msbuild "/Users/xxx/projects/myApp/myApp/myApp.iOS/myApp.iOS.csproj" /t:"build" /p:Configuration="AppStore" /p:Platform="iPhone"

[2020-04-10 20:14] sschmidTU commented on #374
Our app was still rejected due do this today.
In [the issue at Firebase](https://github.com/firebase/firebase-ios-sdk/issues/4971), a Firebase team member [basically said it's not their problem, you should appeal to Apple, and there should be more SDKs out there that use such method names that match private apple names](https://github.com/firebase/firebase-ios-sdk/issues/4971).
It would be great i

[2020-04-11 06:48] georgethms10 commented on #375
@SotoiGhost The latest version of firebase dynamic deeplink is 4.0.1.1 the version 6.21.0 is not available for Xamarin forms. We need to submit an app to appstore, Can you please expedite this request and help us deploy the app to appstore. We are frequently getting the UIWebView issue when releasing the application.

[2020-04-14 12:37] jairzjunior commented on #374
Our app was rejected with the same error today.
We use **Xamarin.Firebase.iOS.CloudMessaging (4.3.0)** that is the latest version.

Apple said this:

[2020-04-14 17:01] zirplsoftware commented on #368
I am having the exact same problem with Xamarin.Firebase.iOS.Core. 33 native linking failed errors. I have a total of 70 and have yet to figure out which other nuget package is causing the rest.

[2020-04-15 07:11] ganesanvelusamy commented on #368
I'm also facing the same issue while updating the Xamarin.Firebase.iOS.Analytics to 6.2.1. Below are the native linking errors.

`Native linking failed. Please review the build log.
Native linking failed. Please review the build log and the user flags provided to gcc: -ObjC -lc++ -lsqlite3 -lz -ObjC -lc++ -lsqlite3 -lz.
Native linking failed, undefined symbol: _kFIRLoggerMessaging. Please verify t

[2020-04-15 19:46] MappingSteve commented on #311
@SotoiGhost - this crash still occurs with Xamarin.Firebase.iOS.CloudMessaging (4.3.0) + .Core (6.6.6) + .InstanceID (4.3.3).

  /FirebaseMessaging.framework/FirebaseMessaging',
tried but didn't find:
'/private/var/containers/Bundle/Application/... /Protobuf.framework/Protobuf'

[2020-04-16 11:35] divyesh008 opened #393 "Objective c thrown error: UISearchDisplayController is no longer supported, migrate to UISearchController"
- Xcode 11.3 version
- Xamarin.iOS version: 13.10.0.17 (Visual Studio Community)
- Xamarin.Firebase.iOS.Auth version: 5.0.4.1
- Xamarin.Firebase.iOS.CloudFirestore version: 0.13.3
- Xamarin.Firebase.iOS.Core version: 5.1.8
I have noticed this crash recently, only with app store distributed version [Test flight build]

The two crazy things are for me:

1. I’m not using “UISearchDisplayController” b

[2020-04-16 16:32] jmichas opened #394 "Firebase.iOS.Core 6.6.6 and Google.iOS.MobileAds 7.57.0 Linker Error When Building"
I had to downgrade to FB 6.6.0 and MobileAds 7.53.1 to get my project to build for distribution.

With 6.6.6 and 7.57 I get this error:
[code]

As soon as I downgraded I was able to build and package the app fine.

Not sure what the cause is, but it appears that the `Google.MobileAds.ResponseInfo.ErrorUserInfoKey` is a new property in 7.57.

I may have been able to build by just downgrading the Mo

[2020-04-17 07:12] lilleydnSub opened #395 "Cannot build for Armv7 Devices"
Hi,

I have successfully tested the new Vision Librarys on Arm64 but for ArmV7 it fails to compile.

See Project attached.

Debug builds for Device
Release builds for Armv7 and Arm64 (Will Fail)
[Armv7Issue.zip]
(https://github.com/xamarin/GoogleApisForiOSComponents/files/4491474/Armv7Issue.zip)

/Users/davidlilley/Downloads/TestMLUpgrade/TestML/clang: Error: linker command failed with exit code 1

[2020-04-17 13:42] divyesh008 commented on #393
After hours of searching I have got the solution. I have opened my Main.Storyboard in source code editor and that I have search "searchDisplayController". And  I have found two instance of it.
After removing it immediately I have uploaded new build to test flight and viola, it's working!

So, I'm closing this bug now.

[2020-04-17 13:42] #393 closed

[2020-04-17 17:04] vhugogarcia commented on #332
On the latest version from April, I'm still getting this error. I need to use the latest version for Firebase so I can get the UIWebView warning removed. Any workaround?

[2020-04-17 17:06] vhugogarcia commented on #376
I am facing the same issues. I am using the latest versions from April and I still get the error:
`dyld: dependent dylib '@rpath/Protobuf.framework/Protobuf' not found for Frameworks/FirebaseFirestore.framework/FirebaseFirestore'`

Any workaround?

[2020-04-18 04:05] dczaretsky commented on #368
I have a similar issue. Just updated Xamarin to and Firebase to the latest packages, and I get this error:

MTOUCH: Error MT5211: Native linking failed, undefined Objective-C class: FIRRemoteConfig. The symbol '_OBJC_CLASS_$_FIRRemoteConfig' could not be found in any of the libraries or frameworks linked with your application. (MT5211)

I tracked the error down to a reference in FirebasePerformanc

[2020-04-18 18:34] bluejeff31 commented on #376
I just updated to the latest release and am still getting this same error for `FirebaseMessaging.framework`

[2020-04-18 18:49] samt1925 opened #396 "Where should i add FirebaseCrashlyticsUploadSymbolsEnabled?"
Where should i add this code? In pcl csproj or IOS csproj? In here it say add it before import but i cannot find it on any csproj file.

If you want to upload the dSYM regardless of the configuration,
define the following property anywhere in your .csproj but before of the
Xamarin.Firebase.iOS.Crashlytics.targets import:

[code]

[2020-04-20 12:32] blmiles commented on #158
For those interested, I have the latest VS 2019 version (16.5.4), the latest XCode version (11.4.1) with iOS versions too. Building a Xamarin.Forms project, targeting Android and iOS.

If I include the latest Xamarin.Google.iOS.MobileAds (7.57.0) along with required dependencies (Firebase), I get this "failed to resolve ObjCRuntime.TrampolineBlockBase" too, along with 47 other build/compile errors

[2020-04-20 12:34] blmiles commented on #158
YES, as some samples out there are citing obsolete methods and there does not seem to be much guidance on WHAT versions of these plugins to include that are all compatible and actually work!

[2020-04-20 12:40] blmiles opened #397 "Native linking failed, again! iOS, Xamarin.Forms, Admob..."
For those interested, I have the latest VS 2019 version (16.5.4), the latest XCode version (11.4.1) with iOS versions too. Building a Xamarin.Forms project, targeting Android and iOS.

If I include the latest Xamarin.Google.iOS.MobileAds (7.57.0) along with required dependencies (Firebase), I get this "failed to resolve ObjCRuntime.TrampolineBlockBase" too, along with 47 other build/compile errors

[2020-04-21 11:27] xamarindevelopervietnam commented on #368
same issue

[2020-04-21 14:41] kunaldhande commented on #389
Any update on this?

[2020-04-23 16:40] SotoiGhost commented on #188
This is closed now as Firebase In-App Messaging has been released.

[2020-04-23 16:40] #188 closed

[2020-04-23 16:41] SotoiGhost commented on #329
This is closed now as Firebase Cloud Functions has been released.

[2020-04-23 16:41] #329 closed

[2020-04-23 16:47] SotoiGhost commented on #383
Hi @kaanakyalcin! Thank you for reporting this and an apology for the inconveniences that this can cause.

Can you, please, try adding the application ID to your [Info.plist][1] and calling [`MobileAds.SharedInstance.Start`][2] instead of using the old way? Thanks in advance!

[1]: https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/samples/Firebase/AdMob/AdMobSample/Info.plist#L37-L

[2020-04-23 16:58] mayhammf commented on #188
@SotoiGhost Would you kindly provide the name or link of the NuGet package where the Firebase In-App Messaging is released.

I can see [this PR](https://github.com/xamarin/GooglePlayServicesComponents/pull/266) which is still pending.

/Thanks

[2020-04-23 17:40] SotoiGhost commented on #385
@onurhazar @szymonkalista Can you upgrade to the most recent version of Firebase Analytics and try again? Remember to delete **bin** and **obj** folders and XBD cache. Thanks in advance!

[2020-04-23 19:41] mayhammf opened #398 "InAppMessaging linking issue"
Hi,
After installing "Xamarin.Firebase.iOS.InAppMessaging (0.19.2)" the following error occurs during build:
[code]
Tested both an existing and freshly created project (attached).
[App1.zip](https://github.com/xamarin/GoogleApisForiOSComponents/files/4524896/App1.zip)

Related: #188

[2020-04-23 20:44] SotoiGhost commented on #386
@fabian1122 If you are on mac, another way to see if `upload-symbols` is doing its job is by opening the **Console.app**, search for **upload-symbols** and do a clean/build on Visual Studio. It will appear all the process of the **upload-symbols** there. Hope this helps.

If you see that it's not working, please provide a test case, please. Thanks in advance!

[2020-04-23 20:45] SotoiGhost commented on #389
@kunaldhande Can you provide a test case of this, please? Thanks in advance!

[2020-04-23 20:48] SotoiGhost commented on #390
@mwiszomirski Can you upgrade to most recent version and try again? Please, remove **bin** and **obj** folders and XBD cache. Thanks in advance!

[2020-04-24 04:48] amitlodha commented on #188
@xamarin-release-manager can this be released for Android also

[2020-04-24 05:56] mayhammf commented on #188
@amitlodha see this [PR](https://github.com/xamarin/GooglePlayServicesComponents/pull/266)  for it.

[2020-04-24 06:01] mayhammf commented on #188
@amitlodha regarding iOS, were you able to to implement it successfully? I ran into this issue #398

[2020-04-24 09:14] ooikengsiang commented on #368
Xamarin.iOS also have the same issue.
Need a solution / workaround before April 30 else iOS app is not going to pass review without throwing out Firebase library.

[2020-04-24 12:30] sunilsolankilnt commented on #276
We are also facing same issue in Xamarin.Firebase.iOS.Crashlytics = 3.14.0.  Please suggest any fix

[2020-04-24 12:36] sunilsolankilnt opened #399 "firebase crashlytics reports crash for every try\catch"
We have Xamarin.Firebase.iOS.Crashlytics = 3.14.0 nuget package included in our project. Where firebase reports crash logs for the handled exception (try/Catch ). Please suggest any solution for the same.

[2020-04-26 01:00] #389 closed

[2020-04-27 07:36] kaanakyalcin commented on #383
Adding GADIsAdManagerApp property to info.plist fixed the problem

[2020-04-27 16:33] SotoiGhost commented on #383
@kaanakyalcin Good to know that! I'm closing this issue now.

[2020-04-27 16:33] #383 closed

[2020-04-27 16:41] SotoiGhost commented on #367
@dzeping96 could you update to most recent version and try again?

[2020-04-27 16:47] SotoiGhost commented on #368
Could you provide a reproducible test case? Thanks in advance!

[2020-04-27 16:56] dczaretsky commented on #368
A little further testing on my end, I seem to be experiencing this issue with undefined symbols across a number of the Firebase iOS libraries, in particular with Firebase Analytics. What I found was that if you simply add a Firebase library without integrating it into your code, it seems that some of these objects are being removed through optimzation, and therefore causing linking errors. Once yo

[2020-04-28 00:35] SotoiGhost commented on #376
Hi guys! Please, remove your **bin** and **obj** folders, delete the XBD cache located at:

* **_Mac:_**`~\Library\Caches\XamarinBuildDownload`
* **_Windows:_** `C:\Users\[username]\AppData\XamarinBuildDownloadCache\`

As now Firebase Cloud Firestore does not depend on `Protobuf.framework`anymore.

[2020-04-28 09:32] Castaneda1914 commented on #390
I have the same problem with Xamarin.Firebase.iOS.Auth package. Simulator works fine, but the application crashes when is launched on a real device:

`
Exception Type:  EXC_CRASH (SIGABRT)
Exception Codes: 0x0000000000000000, 0x0000000000000000
Exception Note:  EXC_CORPSE_NOTIFY
Termination Description: DYLD, Library not loaded: @rpath/FirebaseAuth.framework/FirebaseAuth | Referenced from: /privat

[2020-04-29 19:01] SotoiGhost commented on #395
@lilleydnSub Thanks for reporting this issue and an apology for the inconveniences that this could cause.

According to [Firebase MLKit][1] docs, this seems to be by design:

So there's not too much we can do. What you can do is to file a [feature request][2] to Firebase asking to support 32 devices.

Hope this helps you!

Best!
Israel Soto.

[1]: https://firebase.google.com/docs/ml-kit/ios/detect

[2020-04-29 19:01] #395 closed

[2020-04-29 19:52] SotoiGhost commented on #390
@Castaneda1914 Can you share a test case, please? Thanks in advance! I have just tested our sample and everything seems to be working ok.

[2020-04-29 20:29] SotoiGhost commented on #394
@jmichas Can you update and delete **bin** and **obj** folders and XBD cache, please? Here seems to be working correctly

[2020-04-29 20:35] SotoiGhost commented on #396
Hi @samt1925! Please, add it in the first PropertyGroup that you have in your iOS csproj. Hope this helps you.

[2020-04-29 20:37] samt1925 commented on #396
Thank you @SotoiGhost.

[2020-04-29 20:37] #396 closed

[2020-04-29 20:45] SotoiGhost commented on #397
Hi @blmiles! Thanks for reporting this and an apology for the inconveniences that this could cause.

Are you using Firebase packages somehow inside of your app?

[2020-04-30 01:18] blmiles commented on #397
@SotoiGhost thanks for responding.

No, I'm not using any Firebase packages at all.
I've tried various permutations with Xamarin.Google.iOS.MobileAds.
Some forums say to install xamarin.firebase.iOS plugin to negate errors but I found that just produced even more errors.
So I abandoned that, removed all related packages and put it aside for now. Ads have to wait.

[2020-04-30 01:39] SotoiGhost commented on #397
@blmiles Please, use Firebase.Core somehow within your app, that should fix the linker errors, e.g:

[code]

Google Mobile Ads needs some dependencies that Firebase Core uses but if F.Core is not referenced somehow, the whole package is stripped by the linker.

Let me know you results.

[2020-04-30 02:01] blmiles commented on #397
@SotoiGhost  thanks for quick response. I'll add that to the AppDelegate and see what happens.
Probably only next week, please keep this open for a while.

Thx

[2020-04-30 08:40] bondarenkod commented on #158
Hi!
I have the same error in my project but with the latest version of Xamarin.Firebase.iOS.Analytics.
The previous (in my other project) version is compiling fine.

**Xamarin.Firebase.iOS.Analytics 5.5.0**
VS build & VSTS build - **OK**

**Xamarin.Firebase.iOS.Analytics 6.4.1**
VS build & VSTS build - **FAIL**
VS log output:
[code]

Also there is a difference in connected libraries to the project

[2020-04-30 09:48] breyed opened #401 ""supermarket" missing from PlaceTypes"
`Google.Places.PlaceType` is missing `Supermarket`. (It has `GroceryOrSupermarket`, but that is not enough; Places SDK for iOS [Place Types](https://developers.google.com/places/ios-sdk/supported_types) contains both `supermarket` and `grocery_or_supermarket`.)

An attempt to access the getter for `Google.Places.Types` where the types include a supermarket causes the getter to throw:

Xamarin.Goog

[2020-04-30 12:20] Waaheeda commented on #368
Facing this issue kindly update solution ....has anyone found any workaround

Error MT5211: Native linking failed, undefined Objective-C class: FIRRemoteConfig. The symbol '_OBJC_CLASS_$_FIRRemoteConfig' could not be found in any of the libraries or frameworks linked with your application. (MT5211) (DMI.Xip.iOS)

[2020-04-30 12:51] jonathanfontaine opened #403 "DSYM files successfully uploaded to Firebase but still "missing" in the Firebase Crashlytics Console"
Hi,

I'm having trouble with **Xamarin.Firebase.iOS.Crashlytics** : crashes on the Firebase Console are obfuscated because _"mandatory DSYMs files are missing"_ :

![image](https://user-images.githubusercontent.com/10338401/80709458-97fc5480-8aed-11ea-9d9e-8d7a22ad0884.png)

- The **GoogleService-Info.plist** file is in the root directory and I've downloaded it from Firebase Console

- According t

[2020-04-30 14:30] Castaneda1914 commented on #390
@SotoiGhost My test case is pretty simple - launch VS for Mac, create new iOS single view application, add the last version (right now it is 6.5.1) of Xamarin.Firebase.iOS.Auth package and add code

`var authResult = await Firebase.Auth.DefaultInstance.SignInAnonymouslyAsync(); `

to ViewController's  ViewDidLoad method. That's all.

[2020-04-30 15:24] travisbader commented on #342
@SotoiGhost I am experiencing this same issue using the xamarin.google.ios.cast client version 4.4.6.1. What information were you looking for?  Happy to provide whatever info you need

[2020-04-30 19:19] #398 closed

[2020-05-01 10:29] pardeep-q opened #404 "Native Linking Error in IOS on Archive"
I have configured FCM in my xamarin forms project. Working fine on debug mode. But when i try to archive in release mode it gives me native linking error.

`Native linking failed, undefined symbol: _kFIRLoggerMessaging. Please verify that all the necessary frameworks have been referenced and native libraries are properly linked in.`
`Error: linker command failed with exit code 1 (use -v to see inv

[2020-05-02 06:09] Waaheeda commented on #382
Facing this issue on iOS 13 device in Xamarin solution
**Failed to locate required resources. Please verify the resource bundle is imported.**
Packages installed are -
Xamarin.Firebase.iOS.Core -6.1.0
Xamarin.Firebase.iOS.MLKit.Common-0.13.0.1
Xamarin.Firebase.iOS.MLKit-0.13.0.1

Also, facing native linking failed issue on latest updates of MLKit and Vision package

Please provide quick fix soluti

[2020-05-02 09:51] nguyenconghau opened #405 "Campaign dialog is not displayed in xamarin iOS project"
I integrate in-app messaging sdk to my xamarin project successfully
I already created a campaign dialog on firebase and clicked test device with the instance id
but I cannot show the campaign dialog in my app.
Visual studio throws this log
pls let me know how to fix

"Xamarin.Build.Download" version="0.10.0"
"Xamarin.Firebase.iOS.ABTesting" version="3.2.0"
"Xamarin.Firebase.iOS.Core" version="6.6.

[2020-05-02 14:52] nguyenconghau commented on #405
I already fixed this one,
I added Firebase analytic and called the the blow code in AppDelegate FinishedLaunching
var inAppMessaging = Firebase.InAppMessaging.InAppMessaging.SharedInstance;

[2020-05-02 17:39] freshpatze commented on #368
Same issue with Xamarin.Firebase.iOS.Auth

Once Xamarin.Firebase.iOS.Core Version 6.6.0.0 is referenced as dependency the linker errors occur.

Problem is I need to update Xamarin.Firebase.iOS.Auth due to reference of UIWebView in previous version. Due to deprecation Apple won't accept my app now.

[2020-05-02 17:47] tstpierre commented on #158
Same issue.  If I downgrade Xamarin.Firebase.iOS.Analytics to 6.2.1 the build succeeds.

[2020-05-04 13:25] jmichas commented on #394
Yes, that seemed to work. I usually make sure to do that but maybe I didn't when I updated the last time. Sorry for the false alarm.

[2020-05-04 13:25] #394 closed

[2020-05-04 14:17] jkapsouras commented on #368
I had the same problem with Firebase Analytics. I removed the package and the dependencies and add the 6.0.4.1 version. It seems ok for now.

[2020-05-05 09:32] #405 closed

[2020-05-05 09:40] nguyenconghau opened #406 "[FIR Inapp-Messaging] Bundle resource is missing"
Hi,

I already integrated inapp-messaging sdk to xamarin iOS project
I added --argument=-FIRDebugEnabled to Extra mlaunch Arguments
And I saw the log
[Firebase/InAppMessaging][I-IAM900008] A test message with id 15435388433417109504 was parsed successfully.
but I cannot display the campaign dialog and it threw the below log
Please help me to fix this one
Thanks

I am using Xcode 11.4.1 and visuals

[2020-05-05 15:07] alexshikov opened #407 "dSYM is not uploading anymore"
We've started to get build failures due to dSYM upload error:

[code]

Can this be related to the Fabric shutdown?

[2020-05-06 15:07] alexshikov commented on #407
Nevermind. That was a temporary issue. Somehow it just disappeared.

[2020-05-06 15:07] #407 closed

[2020-05-07 05:49] mayhammf opened #408 "Crashes caused by com.google.GDTCCTUploader"
Hi,
After releasing an update that consumes the most recent firebase core package for iOS ([Xamarin.Firebase.iOS.Core 6.6.6](https://www.nuget.org/packages/Xamarin.Firebase.iOS.Core/)), we started receiving crashs that are caused by "com.google.GDTCCTUploader EXC_BAD_ACCESS KERN_INVALID_ADDRESS"
The crash seems to, most likely, be related to an [issue](https://github.com/firebase/firebase-ios-sdk/

[2020-05-07 06:01] petar-marinov commented on #368
I've spend a lot of time trying to fix this error and came up with this solution. I've added dumb reference in AppDelegate to:

RemoteConfig.SharedInstance.ConfigSettings = new RemoteConfigSettings(true);

This way the build will link the library and the build won't fail.

[2020-05-08 04:02] Redth commented on #386
We are closing this issue since no response was received.  Please open a new issue referring to this one if you have more information.

[2020-05-08 04:02] #386 closed

[2020-05-08 20:54] szymonkalista commented on #385
@SotoiGhost
Hey,

When I delete **bin**, **obj** and **XBD cache** I am able to use any version of Firebase Analytics Including the newest.

The tricky part, at least for me, was finding out, that I have to delete **XBD cache**. The message in the exception(same as in @onurhazar case) isn't very helpful, when you are seeing something like this for the first time. I understand that it's coming from

[2020-05-08 20:59] maxmanager commented on #374
someone can help us?

[2020-05-10 09:39] mayhammf commented on #408
Hi,
Similar issues reported on the underlying native dependencies:
https://github.com/firebase/firebase-ios-sdk/issues/5464
https://github.com/firebase/firebase-ios-sdk/issues/5449

[2020-05-11 05:40] sunilsolankilnt commented on #399
Any updates to fix the issue

[2020-05-11 21:09] johnn82 opened #409 "Error building in DevOps"
I'm currently using this plugin https://github.com/CrossGeeks/GoogleClientPlugin
which uses these libs:

**Xamarin.Google.iOS.SignIn
Xamarin.Firebase.iOS.Core**

I can compile without error on my mac.
I'm unable to compile on a build pipeline in **DevOps**. Getting these errors.

`MTOUCH : error MT5214: Native linking failed, undefined symbol: _kGIDSignInErrorDomain. This symbol was referenced by

[2020-05-12 03:19] wuhuangjia commented on #368
it is working fo me, thanks

[2020-05-12 04:02] Redth commented on #376
We are closing this issue since no response was received.  Please open a new issue referring to this one if you have more information.

[2020-05-12 04:02] #376 closed

[2020-05-12 10:23] i-omar commented on #374
my app was rejected with the same error today also :
ITMS-90338: Non-public API usage - The app references non-public selectors in Frameworks/FirebaseCore.framework/FirebaseCore: initWithFileName:,The app references non-public selectors in Frameworks/FirebaseCoreDiagnostics.framework/FirebaseCoreDiagnostics: initWithFileName:. If method names in your source code match the private Apple APIs listed

[2020-05-13 04:02] Redth commented on #367
We are closing this issue since no response was received.  Please open a new issue referring to this one if you have more information.

[2020-05-13 04:02] #367 closed

[2020-05-13 11:45] AnjulaS commented on #408
Hi i recieved the same  issue

[2020-05-19 13:34] Luismimultimedia opened #410 "I can not upload my app on Apple Store because of Xamarin.google.ios.Signin Nuget"
Hello,

Right now im facing a problem with the new politics of Apple Store with the UIWebView that the library Xamarin.google.ios.Signin i using, i can not upload my app into Apple Store because it use the deprecated UIWebView, the version that im using is 4.4.0.

i noticed that the problem was the library because i used the grep command in my .ipa to know what was happening, i try to update Xamar

[2020-05-20 04:22] stanleywailers commented on #410
@Luismimultimedia I had the same problem
Apple does not accept the because tha version of Xamarin.google.ios.Signin has UIWEBVIEW deprecated
I Updated Xamarin.google.ios.Signin to latest version 5.0.2.1 and xamarin.google.ios.core too 3.1.0.4 when I did that I got the following error
/Users/alejandro/Desktop/Ventazer/App/02_CodigoFuente/Ventazer.iOS/MTOUCH: Error MT5201: Native linking failed. Ple

[2020-05-20 05:00] stanleywailers commented on #404
update all your packages to latest version
you have instance ID latest version but cloudmessaging you have older version

[2020-05-20 06:32] stanleywailers commented on #331
@purplerockcvd  Thanks
this work for me SignIn.SharedInstance.PresentingViewController = _viewController;

[2020-05-20 09:38] lukaszwro commented on #374
Same for me, just as @jairzjunior : We use Xamarin.Firebase.iOS.CloudMessaging (4.3.0) that is the latest version.

ITMS-90338: Non-public API usage - The app references non-public selectors in Frameworks/FirebaseCore.framework/FirebaseCore: initWithFileName:,The app references non-public selectors in Frameworks/FirebaseCoreDiagnostics.framework/FirebaseCoreDiagnostics: initWithFileName:. If metho

[2020-05-20 13:38] IngridtRodriguez opened #411 "Google's FetchPlace PlaceFields"
Hi, I'm a newbie so pardon me if this question is silly.
I'm using the nuget package Xamarin.Google.ios.Places and I'm trying to get Place Detail by using FetchPlace like so:
        `public void DidAutocomplete(AutocompletePrediction[] predictions)
         {
            placeid = predictions.FirstOrDefault().PlaceId;
            var fields = new List<PlaceField>();

            fields.Add(PlaceF

[2020-05-21 19:58] Luismimultimedia commented on #410
@stanleywailers Thank you for your reply, unfortunately i still facing the issue, i try to do what you did but i didnt get good results.
im working with a macbook pro 2013 and has Catalina 10.15.14, XCode 11.3.1 so at the moment i cant update xcode to the last version, i have read that updating xcode and other stuff could helps the library.
My characteristics of the visual studio are:
- Visual Stu

[2020-05-24 04:45] ithiredguns commented on #158
This works !!!!!!!!!!!!

[2020-05-25 04:43] ooikengsiang commented on #368
I notice a significant size bump after updating the the latest Firebase library for iOS with the proposed workaround. Around 50MB+

[2020-05-25 04:52] ooikengsiang commented on #339
Any update regarding this?
I notice a 50MB+ jump in app size with the latest Firebase library and I can't roll back to previous version due to obsoleted UIWebView in iOS.

[2020-05-25 07:29] erhanalankus commented on #397
I'm having the same issue.
Steps to reproduce:

- Create a new Xamarin.Forms project.
- Deploy to iPhone, it works.
- Add "Xamarin.Google.iOS.MobileAds" nuget package to the iOS project.
- Try to deploy to iPhone, it fails with native linking errors.
- Add `var t = Firebase.Core.Configuration.SharedInstance;` (@SotoiGhost ) to AppDelegate.cs, deploying to iPhone fails with a package inspection fai

[2020-05-25 16:16] udiidan opened #412 "Firebase Messaging causes crash"
The app installs and works the first time it's installed from the IDE, but after doing some changes in the code, the second install crashes immediately with the following message:

I'm using the following packages:
Xamarin.Firebase.iOS.CloudMessaging.4.1.1.1
Xamarin.Firebase.iOS.Analytics.6.0.4
Xamarin.Firebase.iOS.Core.6.1.0.1
Xamarin.Firebase.iOS.DynamicLinks.4.0.1
Xamarin.Firebase.iOS.InstanceI

[2020-05-25 17:00] udiidan commented on #412
FYI - I've now updated all the packages to the latest version and compiled the project, but the crash still happens.

[2020-05-25 17:46] alexshikov commented on #368
@petar-marinov surprisingly your solution works for me too!

[2020-05-26 01:14] ncosentino opened #413 ""Sign In With Apple" Added to AuthSample"
Not an "issue" but a request.

In order for an application to be submitted to the App Store, Apple requires that "Sign In With Apple" is offered as an equivalent option if any other third party providers are options.
https://developer.apple.com/app-store/review/guidelines/#sign-in-with-apple

I have spent more time than I'm comfortable admitting to anyone trying to get Xamarin and Firebase to work

[2020-05-26 06:53] Dresel opened #414 "Xamarin.Firebase.iOS.Analytics - framework not found GoogleAppMeasurement when building on Windows"
Hi,

when adding `Xamarin.Firebase.iOS.Analytics` and building on Windows with a paired Mac I receive the following error:

Error		linker command failed with exit code 1 (use -v to see invocation)	MyProject.iOS
Error		framework not found GoogleAppMeasurement	MyProject.iOS
Error		Native linking failed. Please review the build log and the user flags provided to gcc: -ObjC -lc++ -lsqlite3 -lz -ObjC -

[2020-05-26 17:53] dbarbary commented on #335
Hello, I've already posted this in the [Xamarin Forms](https://forums.xamarin.com/discussion/comment/412686/#Comment_412686) as well, but I think its a bit stale over there. So, I'll hope to get answers here too.

I've seem to find my self in a rut. I cannot seem to receive a push message on an iOS device.
I feel like I've followed all available docs on the topic, which seem to be referencing olde

[2020-05-27 06:18] mayhammf commented on #408
Hi @SotoiGhost,
Would it be possible to prioritize this issue as it continues to cause a lot of crashes.
A few similar issues (mentioned above) have been reported in the native Firebase iOS SDK and all fixes suggested that updating the GoogleDataTransportCCTSupport pod should resolve the issue.

[2020-05-27 14:07] bohdant commented on #408
Hi, the same issue :(
Any updates guys?

[2020-05-27 16:12] jastorgac commented on #311
I'm having this issue with:

Xamarin.Firebase.iOS.Core (6.6.6)
Xamarin.Firebase.iOS.DynamicLinks (4.0.8)
Xamarin.Firebase.iOS.RemoteConfig (4.4.9)

[2020-05-27 23:55] udiidan commented on #311
Did anyone find a solution for this issue?
I can run the app after deleting Obj, Bin and  XamarinBuildCache. But after making any change in the code, it crashes again.
I can't really understand how this issue is closed as clearly it's not fixed.

[2020-05-28 08:16] dregatos commented on #408
Same here.

[2020-05-28 18:40] olowoshiai commented on #158
Hi!
I've tried the solutions listed under this thread to fix my errors but none has worked for me: (Downgraded Xamarin.Firebase.iOS.Analytics to 6.2.1, deleted bin & obj folders, deleted xamarinbuilddownload folder under library/caches, added --registrar:static to mtouch args). The error is still persistent, I'll appreciate anymore leads that I can get. Thanks!!

<img width="706" alt="Screen Shot

[2020-05-28 19:36] bondarenkod commented on #158
@olowoshiai  try 5.5.0

[2020-05-29 00:53] LittleCornerDev opened #415 "Crashlytics does not accept alternate path to GoogleService-Info.plist?"
In `AppDelegate.cs`,  I specify the path to the GoogleService-Info.plist file as part of `FirebaseOptions`:

`
string googleServicesPlistPath = NSBundle.MainBundle.PathForResource("GoogleService-Info", "plist", "Configurations");
Firebase.Core.Options firebaseOptions = new Firebase.Core.Options(googleServicesPlistPath);
Firebase.Core.App.Configure(firebaseOptions);
`

However, Crashlytics seems to

[2020-05-29 11:37] acuntex opened #416 "Functionality to disable automatic screen tracking in Xamarin.Firebase.iOS.Analytics"
I am using Xamarin.Firebase.iOS.Analytics to track the user engagement with Firebase/Google Analytics.

When navigating through the App, the App always sets the screen_names and tracks the View that has been navigated to. This works fine.

Unfortunately Xamarin.Firebase.iOS.Analytics does track a lot of screen views without my engagement, that's why i have a lot of entries in Firebase/Google Analy